{%- import 'templates/glb-box.njk' as box %}
{%- for nav, navVal in pageData %}
  {%- set link = navVal.link if navVal.link else (nav | lower if navVal.link !== false else '') -%}
  {%- if not link | startsWith(['https://', 'http://']) -%}
    {%- set link = '/' + (page + '/' if page else page) + link -%}
  {%- endif -%}
  {%- if navVal.components %}
    {{ box.component_box(nav, navVal.description, navVal.children, link) }}
  {%- elif navVal.image %}
    {%- call box.image_box(nav, link, navVal.image) %}
      {{ navVal.description }}
    {%- endcall %}
  {%- else %}
    {%- call box.box(nav, link) %}
      {{ navVal.description }}
    {%- endcall %}
  {%- endif %}
{%- endfor %}
