{%- for name, props in pageData -%}

  {%- set link = props.link if props.link else (name | lower if props.link !== false else '') -%}
  {%- if not link | startsWith(['https://', 'http://']) -%}
    {%- set link = '/' + (page + '/' if page else page) + link -%}
  {%- endif %}

  <a href="{{ link }}" class="e-glb-box {{- ' glb-components' if props.components }}">
    <h2 class="heading">
      <span class="text">{{ name | safe }}</span>
    </h2>
    {%- if props.description %}
      <p class="description">{{ props.description | nl2br | safe }}</p>
    {%- endif %}

    {%- if props.components %}
      <ul class="quick-links">
        {%- for comp, compVal in props.children -%}

          {%- set refBase = link + '/' if link != '/' else link -%}
          {%- set ref = refBase + (compVal.link if compVal.link else comp | lower) -%}

          <li class="link" data-href="{{ ref }}">{{ comp | safe }}</li>

        {%- endfor %}
      </ul>
    {%- endif %}

    {%- if props.image %}
      <span class="backdrop" style="background-image: url('/image/nav/{{ props.image }}')"></span>
    {%- endif %}
  </a>

{%- endfor -%}
