{%- for name, props in pageData -%}

  {%- set link = props.link if props.link else (name | lower) -%}
  {%- set isExternal = link | startsWith(['https://', 'http://']) -%}
  {%- if not isExternal -%}
    {%- set link = '/' + (page + '/' if page else page) + link -%}
  {%- endif %}

  <a href="{{ link }}" class="gbl-box {{- ' gbl-components' if props.components }}">
    <h2 class="heading">
      <span class="text">
        {{- name | safe -}}
        {%- if isExternal -%}
          {%- include './svg/external-link.svg' -%}
        {%- endif -%}
      </span>
    </h2>
    {%- if props.description %}
      <p class="description">{{ props.description | nl2br | safe }}</p>
    {%- endif %}

    {%- if props.components %}
      <ul class="quick-links">
        {%- for comp, compVal in props.children -%}

          {%- set refBase = link + '/' if link != '/' else link -%}
          {%- set ref = refBase + (compVal.link if compVal.link else comp | lower) -%}

          <li class="link">
            <button type="button" data-href="{{ ref }}">{{ comp | safe }}</button>
          </li>

        {%- endfor %}
      </ul>
    {%- endif %}

    {%- if props.image %}
      <span class="backdrop" style="background-image: {{ props.image | expandBackgroundImage }}"></span>
    {%- endif %}
  </a>

{%- endfor -%}
