{% macro banner(themed = false) %}
  <aside id="cookiebanner" class="glb_box invisible">
    <b class="background"></b>
    <div class="description box_text">
      {% if themed -%}
        This site uses cookies by Cloudflare, this banner and to save your preferenced theme color. By continuing to use it, you agree to them!
      {%- else -%}
        This site uses cookies by Cloudflare and this very banner. By continuing to use it, you agree to them!
      {%- endif %}
    </div>
    <button type="button" onclick="{{ 'hideBannerThemes()' if themed else 'hideBanner()' }}">Alrighty!</button>
  </aside>
{% endmacro %}
