{%- set links = getNavLinks() -%}
<footer id="footer">
  <div class="nav-wrapper">
    <div class="nav-item">
      <div class="item-wrapper">
        <h3>Source</h3>
        <ul>
          <li><a href="https://github.com/hallo89/hallo89.net">Hallo89.net on Github</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <div class="item-wrapper">
        <h3>Quick nav</h3>
        <ul>
          <li><a href="/">Home</a></li>
          {% for nav, navVal in links -%}
          {%- if navVal.nonrelevant != true -%}
          <li><a href="{{ '/' + navVal.link }}">{{ nav }}</a></li>
          {% endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <div class="item-wrapper">
        <h3>Contact</h3>
        <ul>
          <li><a href="https://twitter.com/Hallo89o">Twitter</a></li>
          <li><a href="https://github.com/Hallo89">Github</a></li>
          <li><a href="mailto:hallo89@protonmail.com">Mail</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <p class="side-note"><em>Licensed under the <a href="https://github.com/Hallo89/hallo89.net/blob/master/LICENSE">MIT license</a></em></p>
</footer>
