{% macro box(heading, ref, headerSpan) %}
<a href="{{ ref }}" class="box glb_box hyperbox">
  <span class="corneranimation"></span>
  <h2 class="box_header">
    {%- if headerSpan %}
      <span class="inner">{{ heading | safe }}</span>
    {%- else %}
      {{ heading | safe }}
    {%- endif %}
  </h2>
  <p class="description box_text">
    {{ caller() | trim | nl2br | safe }}
  </p>
</a>
{% endmacro %}

{% macro image_box(heading, ref, img) %}
<a href="{{ ref }}" class="box glb_box hyperbox imager">
  <span class="corneranimation"></span>
  <h2 class="box_header">{{ heading | safe }}</h2>
  <div class="image_container">
    <i class="image" style="background-image: url('{{ img }}.png')"></i>
    <p class="description box_text">
      {{ caller() | trim | nl2br | safe }}
    </p>
  </div>
</a>
{% endmacro %}

{% macro component_box(heading, description, components, link = false) %}
<div class="box glb_box multiplebox">
  <span class="corneranimation"></span>
  <h2 class="box_header">{{ heading | safe }}</h2>
  {%- if description %}
    <p class="description box_text">{{ description | nl2br | safe }}</p>
  {%- endif %}
  <div class="links box_text">
    {%- for comp, compVal in components -%}
      {%- set ref = (link + compVal.link) if link else compVal.link -%}
      {%- if compVal.image %}
        <a class="imager" href="{{ ref }}">
          {{ comp | safe }}
          <i class="image" style="background-image: url('{{ compVal.image }}.png')"></i>
        </a>
      {%- else %}
        <a href="{{ ref }}">{{ comp | safe }}</a>
      {%- endif -%}
    {%- endfor %}
  </div>
</div>
{% endmacro %}
