{% macro box(heading, ref) %}
<a href="{{ ref }}" class="box glb_box hyperbox">
  <b class="corneranimation"></b>
  <h2 class="box_header">{{ heading | safe }}</h2>
  <p class="description box_text">
    {{ caller() | trim | safe }}
  </p>
</a>
{% endmacro %}

{% macro image_box(heading, ref, img) %}
<a href="{{ ref }}" class="box glb_box hyperbox imager">
  <b class="corneranimation"></b>
  <h2 class="box_header">{{ heading | safe }}</h2>
  <div class="image_container">
    <i class="image" style="background-image: url('{{ img }}.png')"></i>
    <p class="description box_text">
      {{ caller() | trim | safe }}
    </p>
  </div>
</a>
{% endmacro %}

{% macro component_box(heading, description, components, link = false) %}
<div class="box glb_box multiplebox">
  <b class="corneranimation"></b>
  <h2 class="box_header">{{ heading | safe }}</h2>
  {% if description -%}
    <p class="description box_text">{{ description | safe }}</p>
  {%- endif %}
  <div class="links box_text">
    {% for comp, compVal in components %}
      {% set ref = (link + compVal.link) if link else compVal.link %}
      {% if compVal.image %}
        <a class="imager" href="{{ ref }}">{{ comp | safe }}
          <i class="image" style="background-image: url('{{ compVal.image }}.png')"></i>
        </a>
      {% else %}
        <a href="{{ ref }}">{{ comp | safe }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endmacro %}
