<aside id="modes">
  <button type="button" class="mode-switch" aria-label="Switch between dark and light mode">
    {% include './svg/sun.svg' %}
    {% include './svg/moon.svg' %}
  </button>
</aside>
