<aside id="modes">
  <button type="button" class="mode_gear">
    <!-- sun-solid & moon-solid by Fontawesome @ https://fontawesome.com/icons/ -->
    <!-- Default icons with slight attribute modification (not the path) -->
    <!-- Fontawesome license: CC Attribution 4.0 International @ https://fontawesome.com/license -->
    <span class="icon sun">{% include './svg/sun-solid.svg' %}</span>
    <span class="icon moon">{% include './svg/moon-solid.svg' %}</span>
  </button>
</aside>
