<div id="navbar">
  <nav class="text">
    <a href="/" class="root-link">
      <img src="/image/Avatar.png" alt="Hallo89 logo">
      <span class="name">Hallo89</span>
    </a>
    <span class="arrow">></span>
    {{ '<h1>' | safe if pageData.navBarH1 }}
      <a href="{{ '/' + page }}" class="item">{{ name | capitalize }}</a>
    {{ '</h1>' | safe if pageData.navBarH1 }}
  </nav>
  {%- if navContent %}
    {{ navContent | safe }}
  {%- endif %}
  {%- if pageData.lightMode %}
    {% include './mode-switch.njk' %}
  {%- endif %}
</div>
