<div id="navbar">
  <nav class="text">
    <a href="/" class="root-link">
      <img src="/image/Avatar.png" alt="Hallo89 logo">
      <span class="name">Hallo89</span>
    </a>
    <span class="arrow">></span>
    {{ '<h1>' | safe if pageData.useNavBarH1 }}
      <a href="{{ '/' + pagePath }}" class="item">{{ getPageName(pageData.name, pageTopLink) }}</a>
    {{ '</h1>' | safe if pageData.useNavBarH1 }}
  </nav>
  {%- if navContent %}
    {{ navContent | safe }}
  {%- endif %}
  {%- if pageData.hasLightMode %}
    {% include './mode-switch.njk' %}
  {%- endif %}
</div>
