// out: global.css, sourcemap: false, compress: false,

/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/

@import "colors.less";
@import "mixins.less";


#mode_dropdown {
  position: relative;
  &.enabled #mode_dropdown_box {
    display: block;
  }
  #mode_gear {
    display: flex;
    justify-content: flex-end;
    font-size: 38px;
    color: @headline-gear;
    cursor: pointer;
    transition: .475s;
  }
  &.enabled #mode_gear {
    transform: rotateZ(135deg);
  }
  #mode_dropdown_box {
    display: none;
    position: absolute;
    right: -29px;
    margin: 18px 5px 5px;
    box-shadow: 1px 1px 10px @mode-dropdown-box-shadow;
    .mode-switch-transition-w-shadow;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      right: 28px;
      top: -7px;
      border: 15px solid @mode-dropdown-box;
      box-shadow: 1px 1px 10px @mode-dropdown-box-shadow;
      transform: rotate(45deg);
      transition: border .15s linear, box-shadow .15s linear;
      z-index: -1;
    }
    .mode_switch {
      font: 21px 'Roboto', sans-serif;
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 10px;
      color: @mode-switch-foreground;
      background: @mode-switch-background;
      cursor: pointer;
      transition: all .15s linear; //all .53s cubic-bezier(.4,.07,.6,.93);
      .noselect;
      &:hover {
        background: @mode-switch-background-hover;
      }
    }
  }
}

.light-mode #mode_dropdown {
  #mode_dropdown_box {
    box-shadow: 1px 1px 10px @mode-dropdown-box-shadow--light;
    &::before {
      border: 15px solid @mode-dropdown-box--light;
      box-shadow: 1px 1px 10px @mode-dropdown-box-shadow--light;
    }
    .mode_switch {
      color: @mode-switch-foreground--light;
      background: @mode-switch-background--light;
      &:hover {
        background: @mode-switch-background-hover--light;
      }
    }
    #switch_daynight {
      color: @mode-switch-foreground-enabled;
    }
  }
}
.nesewebel-mode.dark-mode #mode_dropdown {
  #mode_dropdown_box {
    box-shadow: 1px 1px 10px  @nesewebel-shadow;
    &::before {
      border: 15px solid @nesewebel-background;
      box-shadow: 2px 2px 20px  @nesewebel-shadow;
    }
    .mode_switch {
      color: @nesewebel-foreground;
      background: @nesewebel-background;
      &:hover {
        background: @nesewebel-shadow;
      }
    }
    #switch_nesewebel {
      color: @nesewebel-foreground-switch-enabled;
    }
  }
}
.nesewebel-mode.light-mode #mode_dropdown {
  #mode_dropdown_box {
    box-shadow: 1px 1px 10px @nesewebel-shadow--light;
    &::before {
      border: 15px solid @nesewebel-background--light;
      box-shadow: 1px 1px 10px @nesewebel-shadow--light;
    }
    .mode_switch {
      color: @nesewebel-background;
      background: @nesewebel-background--light;
      &:hover {
        background: @nesewebel-shadow--light;
      }
    }
    #switch_nesewebel,
    #switch_daynight {
      color: @nesewebel-foreground-switch-enabled--light;
    }
  }
}

#head_nav {
  margin-top: 15px;
  position: sticky;
  top: 2px;
  z-index: 10;
  nav {
    margin: 25px auto auto;
    padding: 15px;
    background-color: @navbox-background;
    max-width: 615px;
    animation: 4s fadein2;
    #links {
      font: 22px Arial, sans-serif;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      animation: .85s shiftin3 cubic-bezier(.52,.51,.61,.99), 1.22s fadein;
      .noselect;
      a {
        padding: 5px 5px 3px;
        text-decoration: none;
        background: @nav-background;
        color: @nav-foreground-color;
        display: inline-block;
        border: solid 2px;
        transition:  all .8s, color .38s;
        &::before, &::after {
          content: '';
          border-bottom: solid 1.5px;
          vertical-align: middle;
          width: 0;
          display: inline-block;
          transition: all .8s;
        }
        &:hover {
          margin: 0 13px;
          transition: transform 0;
          transform: scale(1.07);
          box-shadow: 1px 1px 6px @nav-border-shadow;
          animation: .36s buttonshake;
        }
        &:hover::before, &:hover::after {
          width: 9px;
        }
        @media screen and (max-width: 430px) {
          &:hover {
            margin: 0;
          }
          &:hover::before, &:hover::after {
            width: 2.5px;
          }
        }
        &:active {
          color: @nav-active;
        }
        .selection-w-color(@nav-selection);
      }
    }
  }
  #expanding_border {
    margin: 3px auto auto;
    max-width: 710px;
    border-bottom: solid 2px;
    border-radius: 150px;
    color: @nav-border;
    animation: 2.2s borderglide, 2s fadein, 1.7s shiftin2;
  }
}


@import "keyframes.less";
