/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
body {
  margin: 0 0 15px 0;
  background-color: #171717;
  font-family: Arial;
  transition: background .15s linear;
}
body.light-mode {
  background-color: #ededed;
}
.headline {
  width: 100%;
  position: fixed;
  margin: 0;
  transition: all 0.5s ease-out;
}
#headline {
  height: 60px;
  background-color: #111111;
  transform: translateY(-60px) skew(8deg);
  z-index: 10;
  font-family: 'Arial', sans-serif;
}
.headline_expanded #headline {
  transform: none;
}
#headline #head_image {
  grid-area: image;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: url('images/main/Avatar.png');
  background-size: contain;
  cursor: pointer;
  float: left;
  position: absolute;
  margin: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#headline #head_nav {
  max-width: 615px;
  width: 100%;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: 0.85s shiftin2 cubic-bezier(0.52, 0.51, 0.61, 0.99), 1.22s fadein;
  transition: transform .15s;
  margin: auto;
  position: relative;
  top: 14px;
}
#headline #head_nav a {
  padding: 2px 6px;
  text-decoration: none;
  color: #808080;
  border-bottom: solid 2px rgba(112, 112, 112, 0.6);
  transition: all .8s;
}
#headline #head_nav a::before,
#headline #head_nav a::after {
  content: '';
  border-bottom: solid 1.5px;
  vertical-align: middle;
  width: 0;
  display: inline-block;
  transition: all .8s;
}
#headline #head_nav a:hover {
  margin: 0 10px;
  transform: scale(1.075);
  transition: margin 0.8s /*flex .8s*/, transform 0s;
  animation: .34s buttonshake;
}
#headline #head_nav a:hover::before,
#headline #head_nav a:hover::after {
  width: 9px;
}
@media screen and (max-width: 430px) {
  #headline #head_nav a:hover {
    margin: 0;
  }
  #headline #head_nav a:hover::before,
  #headline #head_nav a:hover::after {
    width: 2.5px;
  }
}
#headline #head_nav a::selection {
  background-color: transparent;
  color: #34afae;
}
#headline #head_nav a::-webkit-selection {
  background-color: transparent;
  color: #34afae;
}
#headline #head_nav a::-moz-selection {
  background-color: transparent;
  color: #34afae;
}
#headline #expanding_border {
  max-width: 710px;
  width: 100%;
  border-bottom: solid 2px;
  border-radius: 150px;
  grid-area: line;
  color: #585858;
  animation: 2s borderglide, 1.85s fadein, 1.7s shiftin2;
  position: relative;
  margin: auto;
  bottom: -26px;
}
#headline #modes {
  font-size: 40px;
  position: relative;
  grid-area: gear;
  border-radius: 2px;
  margin-top: 4px;
  float: right;
  top: -31px;
  right: 10px;
}
#headline #modes.enabled .dropdown_box {
  clip: rect(-12px 300px 200px 0px);
  clip-path: circle(150% at 198px -40px);
}
#headline #modes.enabled .mode_gear {
  transform: rotateZ(135deg);
}
#headline #modes .mode_gear {
  transition: all .475s;
  color: #435f94;
  cursor: pointer;
}
#headline #modes .dropdown_box {
  clip: rect(-12px 300px -12px 0px);
  clip-path: circle(0 at 198px -40px);
  position: absolute;
  right: -4px;
  margin: 15px 0 0;
  border-top: 3px solid #535353;
  border-bottom: 3px solid #262626;
  box-shadow: 0 3px 1px #181818, 1px 1px 5px rgba(32, 32, 32, 0.8);
  transition: all 0.25s ease-out, background .15s linear, box-shadow 0.15s linear;
  z-index: 1;
}
#headline #modes .dropdown_box::before {
  content: '';
  position: absolute;
  right: 9px;
  top: -8px;
  border: 15px solid #535353;
  transform: rotate(45deg);
  transition: border .15s linear, box-shadow 0.15s linear;
  z-index: -1;
}
#headline #modes .dropdown_box .dropdown_header {
  background-color: #2e2e2e;
}
#headline #modes .dropdown_box .dropdown_header .dropdown_header_text {
  display: inherit;
  padding: 8px 23px;
  font-size: .85em;
  text-transform: uppercase;
  color: #666666;
  transition: color .15s linear;
}
#headline #modes .dropdown_box .mode_switch {
  font-size: .6em;
  display: block;
  white-space: nowrap;
  position: relative;
  padding: 10px 10px 10px 12px;
  color: #999999;
  background-color: #2a2a2a;
  cursor: pointer;
  transition: all .15s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#headline #modes .dropdown_box .mode_switch:hover {
  background-color: #343434;
}
#headline #modes .dropdown_box .mode_switch::before {
  position: absolute;
  left: 6px;
  top: 7px;
  border-left: 3px solid;
  height: 70%;
  animation: .52s borderglideX;
}
@supports (display: grid) {
  #headline {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 1fr auto;
    grid-template-areas: "image nav gear" "line line line";
    justify-items: center;
    align-items: center;
  }
  #headline #head_image {
    float: none;
    margin: 0;
    position: static;
  }
  #headline #head_nav {
    margin: 0;
    position: static;
    top: 0;
    transform: none;
  }
  #headline #expanding_border {
    position: static;
    margin: 0;
    bottom: 0;
  }
  #headline #modes {
    float: none;
    top: 0;
    right: 0;
  }
}
#headline_popout {
  width: 51px;
  height: 51px;
  position: fixed;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .6s;
  transform: rotate3d(5, 1, 2, 45deg);
  transform-style: preserve-3d;
  z-index: 9;
  cursor: pointer;
}
.headline_expanded #headline_popout {
  transform: rotate3d(5, 1, 2, 540deg);
  top: 80px;
}
#headline_popout .face {
  position: absolute;
  height: 8px;
  width: 33px;
  background-color: gray;
  outline: 1px solid transparent;
}
#headline_popout .left {
  left: 0;
}
#headline_popout .right {
  right: 0;
}
#headline_popout .front.left {
  transform: rotateZ(45deg) translateZ(4px);
}
#headline_popout .front.right {
  transform: rotateZ(-45deg) translateZ(4px);
}
#headline_popout .behind.left {
  transform: rotateZ(45deg) rotateY(180deg) translateZ(4px);
}
#headline_popout .behind.right {
  transform: rotateZ(-45deg) rotateY(180deg) translateZ(4px);
}
#headline_popout .side_back.left {
  transform: rotateZ(45deg) rotateX(90deg) translateZ(4px);
}
#headline_popout .side_back.right {
  transform: rotateZ(-45deg) rotateX(90deg) translateZ(4px);
}
#headline_popout .side_front.left {
  transform: rotateZ(45deg) rotateX(-90deg) translateZ(4px);
}
#headline_popout .side_front.right {
  transform: rotateZ(-45deg) rotateX(-90deg) translateZ(4px);
}
#headline_popout .side_end.left {
  transform: rotateZ(45deg) rotateY(90deg) translateZ(-8px) translateY(-9px);
}
#headline_popout .side_end.right {
  transform: rotateZ(-45deg) rotateY(-90deg) translateZ(-8px) translateY(-9px);
}
#headline_popout .side_end {
  width: 8px;
}
#headline_popout .front {
  background-color: #808080;
}
#headline_popout .side_front.right {
  background-color: #6e6e6e;
}
#headline_popout .side_front.left {
  background-color: #696969;
}
#headline_popout .side_back {
  background-color: #616161;
}
#headline_popout .behind {
  background-color: #575757;
}
#headline_popout .side_end.right {
  background-color: #636363;
}
#headline_popout .side_end.left {
  background-color: #5c5c5c;
}
.light-mode #headline #modes #switch_daynight::before,
.nesewebel-mode #headline #modes #switch_nesewebel::before {
  content: '';
}
.light-mode #headline #modes #switch_daynight::before {
  color: #17469E;
}
.light-mode #headline #modes .dropdown_box {
  box-shadow: 1px 1px 10px rgba(201, 201, 201, 0.8);
}
.light-mode #headline #modes .dropdown_box::before {
  border: 15px solid #fafafa;
  box-shadow: 1px 1px 10px rgba(201, 201, 201, 0.8);
}
.light-mode #headline #modes .dropdown_box .mode_switch {
  color: #595959;
  background-color: #fafafa;
}
.light-mode #headline #modes .dropdown_box .mode_switch:hover {
  background-color: #f0f0f0;
}
.glb_box {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: #1d1d1d;
  border-top: 4px solid #4b4b4b;
  border-bottom: 4px solid #1a1a1a;
  box-shadow: 0 4px 1px #0f0f0f, 1px 1px 6px rgba(19, 19, 19, 0.8);
  transition: background .15s linear, box-shadow 0.15s linear;
}
.glb_box .corneranimation .corner_before,
.glb_box .corneranimation .corner_after {
  position: absolute;
  background-color: #0f0f0f;
  transition: all 0.4s ease-out;
  z-index: 3;
  opacity: .65;
}
.glb_box .corneranimation .corner_before {
  height: 40px;
  width: 80px;
  left: -26px;
  bottom: -6px;
  transform: rotateZ(45deg) translateY(40px);
}
.glb_box .corneranimation .corner_after {
  height: 80px;
  width: 40px;
  right: -6px;
  top: -26px;
  transform: rotateZ(-45deg) translateX(40px);
}
.glb_box:hover .corner_before {
  transform: rotateZ(45deg) translateY(0);
}
.glb_box:hover .corner_after {
  transform: rotateZ(-45deg) translateX(0);
}
.glb_box .box_header {
  background-color: #202020;
}
.glb_box .box_header .header_text {
  padding: 38px 21px 38px 28px;
  font-size: 1.15em;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  display: inherit;
  line-height: 0;
  color: #575757;
  transition: background .15s linear, color .15s linear;
}
@keyframes shiftin {
  from {
    transform: translateY(-45px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftin3 {
  from {
    transform: translateY(-30px);
  }
}
@keyframes shiftinX {
  from {
    transform: translateX(-40px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes nope {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes headlineclose {
  0% {
    transform: none;
  }
  67% {
    transform: none;
  }
}
@keyframes headline_popout_in1 {
  0% {
    opacity: .05;
  }
  70% {
    opacity: .15;
  }
  100% {
    opacity: .85;
  }
}
@keyframes headline_popout_in2 {
  0% {
    transform: scale(0.85) rotate3d(5, 1, 2, 45deg);
  }
  81% {
    transform: scale(0.85) rotate3d(5, 1, 2, 45deg);
  }
  90.5% {
    transform: scale(1.15) rotate3d(5, 1, 2, 45deg);
  }
  100% {
    transform: rotate3d(5, 1, 2, 45deg);
  }
}
@keyframes headline_popout_in3 {
  0% {
    top: 80px;
  }
  67% {
    top: 80px;
  }
  100% {
    top: 20px;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes headingcut {
  from {
    clip-path: polygon(100% 37%, 100% 0, 100% 0, 100% 37%);
  }
  to {
    clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  }
}
@keyframes headingshift {
  0% {
    transform: translate(0);
  }
  30% {
    transform: translate(0);
  }
  100% {
    transform: translate(-4px);
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes borderglide2 {
  from {
    width: 0;
  }
}
@keyframes borderglideX {
  from {
    height: 0;
    top: 50%;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.0266);
  }
  62% {
    transform: rotateZ(-3.2deg) scale(1.0434);
  }
  100% {
    transform: scale(1.07);
  }
}
