/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
#mode_switch {
  position: absolute;
  right: 50px;
  top: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: 2px solid;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#mode_switch #switch_inner {
  font-size: 20px;
  transition: all 0.53s cubic-bezier(0.4, 0.07, 0.6, 0.93);
}
#mode_switch #switch_circle {
  border: 10px solid;
  border-radius: 100px;
  transition: all .53s;
}
.dark-mode #mode_switch {
  color: #9c9c9c;
  background: rgba(237, 237, 237, 0.13);
}
.dark-mode #mode_switch #switch_circle {
  margin: 2px 5px 2px 2px;
}
.light-mode #mode_switch {
  color: #666666;
  background: rgba(43, 43, 43, 0.13);
}
.light-mode #mode_switch #switch_inner {
  transform: translateX(-27px);
}
.light-mode #mode_switch #switch_circle {
  margin: 2px 2px 2px 5px;
  transform: translateX(59px);
}
#head_nav {
  margin-top: 15px;
  position: sticky;
  top: 2px;
  z-index: 10;
}
#head_nav nav {
  margin: 25px auto auto;
  padding: 15px;
  background-color: rgba(51, 51, 51, 0.76);
  max-width: 615px;
  animation: 5s fadein2;
}
#head_nav nav #links {
  font: 22px Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: 1.15s shiftin cubic-bezier(0.52, 0.51, 0.61, 0.99), 1.22s fadein;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#head_nav nav #links a {
  padding: 5px 5px 3px;
  text-decoration: none;
  background: rgba(71, 71, 71, 0.65);
  color: #a8a8a8;
  display: inline-block;
  border: solid 2px;
  transition: all .8s, color .38s;
}
#head_nav nav #links a::before,
#head_nav nav #links a::after {
  content: '';
  border-bottom: solid 1.5px;
  vertical-align: middle;
  width: 0;
  display: inline-block;
  transition: all .8s;
}
#head_nav nav #links a:hover {
  margin: 0 13px;
  transition: transform 0;
  transform: scale(1.07);
  box-shadow: 1px 1px 6px #212121;
  animation: .36s buttonshake;
}
#head_nav nav #links a:hover::before,
#head_nav nav #links a:hover::after {
  width: 10px;
}
@media screen and (max-width: 430px) {
  #head_nav nav #links a:hover {
    margin: 0;
  }
  #head_nav nav #links a:hover::before,
  #head_nav nav #links a:hover::after {
    width: 2.5px;
  }
}
#head_nav nav #links a:active {
  color: #94bdc1;
}
#head_nav nav #links a::selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav nav #links a::-webkit-selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav nav #links a::-moz-selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav #expanding_border {
  margin: 3px auto auto;
  max-width: 710px;
  border-bottom: solid 2px;
  border-radius: 150px;
  color: #8a8a8a;
  animation: 2.7s borderglide, 2.5s fadein, 2s shiftin2;
}
@keyframes shiftin {
  from {
    transform: translateY(-60px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftinX {
  from {
    transform: translateX(-40px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes fadein2 {
  from {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes boxcurtain_imageheight {
  0% {
    height: 50%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 0;
  }
}
@keyframes boxcurtain_bordertop {
  from,
  to {
    border-top: solid 3px;
  }
}
@keyframes boxcurtain_borderbottom {
  from,
  to {
    border-bottom: solid 3px;
  }
}
@keyframes boxcurtain_width_left {
  0% {
    width: 0;
    left: 200px;
  }
  10% {
    width: 0;
    left: 200px;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.032);
  }
  62% {
    transform: rotateZ(-3.5deg) scale(1.048);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes shade_is_super {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
