/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
body {
  margin: 0 0 15px 0;
  background: #1c1c1c;
  font-family: Arial;
  transition: background .15s linear;
}
body.light-mode {
  background: #ededed;
}
#headline {
  position: fixed;
  background: #161616;
  width: 100%;
  z-index: 10;
}
#head_nav {
  margin: auto;
  padding: 13px 0 12px;
  max-width: 615px;
}
#head_nav #links {
  font: 21px 'Ubuntu', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: 0.85s shiftin2 cubic-bezier(0.52, 0.51, 0.61, 0.99), 1.22s fadein;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#head_nav #links a {
  padding: 5px 5px 3px;
  text-decoration: none;
  background: rgba(54, 54, 54, 0.65);
  color: #878787;
  display: inline-block;
  border: solid 2px;
  transition: all .8s, color .38s;
}
#head_nav #links a::before,
#head_nav #links a::after {
  content: '';
  border-bottom: solid 1.5px;
  vertical-align: middle;
  width: 0;
  display: inline-block;
  transition: all .8s;
}
#head_nav #links a:hover {
  margin: 0 10px;
  transition: transform 0s;
  transform: scale(1.065);
  box-shadow: 1px 1px 6px #121212;
  animation: .34s buttonshake;
}
#head_nav #links a:hover::before,
#head_nav #links a:hover::after {
  width: 8px;
}
@media screen and (max-width: 430px) {
  #head_nav #links a:hover {
    margin: 0;
  }
  #head_nav #links a:hover::before,
  #head_nav #links a:hover::after {
    width: 2.5px;
  }
}
#head_nav #links a::selection {
  background-color: transparent;
  color: #34afae;
}
#head_nav #links a::-webkit-selection {
  background-color: transparent;
  color: #34afae;
}
#head_nav #links a::-moz-selection {
  background-color: transparent;
  color: #34afae;
}
#expanding_border {
  margin: auto;
  max-width: 710px;
  border-bottom: solid 2px;
  border-radius: 150px;
  color: #696969;
  animation: 2s borderglide, 1.85s fadein, 1.7s shiftin2;
}
#mode_dropdown {
  position: absolute;
  right: 35px;
  top: 11px;
  z-index: 11;
}
#mode_dropdown.enabled #mode_dropdown_box {
  display: block;
}
#mode_dropdown #mode_gear {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: .475s;
  fill: currentColor;
  color: #839093;
}
#mode_dropdown.enabled #mode_gear {
  transform: rotateZ(135deg);
}
#mode_dropdown #mode_dropdown_box {
  display: none;
  position: absolute;
  right: -29px;
  margin: 15px 5px 5px;
  box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.8);
  transition: background .15s linear, box-shadow 0.15s linear;
  z-index: 1;
}
#mode_dropdown #mode_dropdown_box::before {
  content: '';
  position: absolute;
  right: 29px;
  top: -7px;
  border: 15px solid #2e2e2e;
  box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.8);
  transform: rotate(45deg);
  transition: border 0.15s linear, box-shadow 0.15s linear;
  z-index: -1;
}
#mode_dropdown #mode_dropdown_box .mode_switch {
  font: 21px 'Roboto', sans-serif;
  white-space: nowrap;
  position: relative;
  padding: 10px 10px 10px 12px;
  color: #999999;
  background: #2e2e2e;
  cursor: pointer;
  transition: all .15s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#mode_dropdown #mode_dropdown_box .mode_switch:hover {
  background: #383838;
}
#mode_dropdown #mode_dropdown_box .mode_switch::before {
  position: absolute;
  left: 6px;
  top: 7px;
  border-left: 3px solid;
  height: 70%;
  animation: .52s borderglideX;
}
.light-mode #mode_dropdown #switch_daynight::before,
.nesewebel-mode #mode_dropdown #switch_nesewebel::before {
  content: '';
}
.light-mode #mode_dropdown #switch_daynight::before {
  color: #17469E;
}
.light-mode #mode_dropdown #mode_dropdown_box {
  box-shadow: 1px 1px 10px rgba(201, 201, 201, 0.8);
}
.light-mode #mode_dropdown #mode_dropdown_box::before {
  border: 15px solid #fafafa;
  box-shadow: 1px 1px 10px rgba(201, 201, 201, 0.8);
}
.light-mode #mode_dropdown #mode_dropdown_box .mode_switch {
  color: #595959;
  background: #fafafa;
}
.light-mode #mode_dropdown #mode_dropdown_box .mode_switch:hover {
  background: #f0f0f0;
}
@keyframes shiftin {
  from {
    transform: translateY(-45px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftin3 {
  from {
    transform: translateY(-30px);
  }
}
@keyframes shiftinX {
  from {
    transform: translateX(-40px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes headingcut {
  from {
    clip-path: polygon(100% 37%, 100% 0, 100% 0, 100% 37%);
  }
  to {
    clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  }
}
@keyframes headingshift {
  0% {
    transform: translate(0);
  }
  30% {
    transform: translate(0);
  }
  100% {
    transform: translate(-4px);
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes borderglide2 {
  from {
    width: 0;
  }
}
@keyframes borderglideX {
  from {
    height: 0;
    top: 50%;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.032);
  }
  62% {
    transform: rotateZ(-3.2deg) scale(1.048);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes wtflol {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
