// main: styles.less

@keyframes shiftin {
  from { transform: translateY(-60px); }
}
@keyframes shiftin2 {
  from { transform: translateY(-20px); }
}
@keyframes shiftinX {
  from { transform: translateX(-40px); }
}
@keyframes rotateX {
  to   { transform: rotateX(360deg); }
}
@keyframes fadein {
  from { opacity: 0.1; }
}
@keyframes fadein2 {
  from { background-color: fadeout(@navbox-background, 100%); }
}

@keyframes headerborder_top {
  from { top: 0; transform: scale(0) rotateX(180deg); width: 647px; }
  to   { width: 647px; height: 11px; }
}
@keyframes headerborder_bottom {
  from { bottom: 0; transform: scale(0) rotateX(180deg); width: 647px; }
  to   { width: 647px; height: 11px; }
}
@keyframes headerborder_left {
  from { left: 0; transform: scale(0) rotateZ(45deg) translateY(-25px); height: 170px;}
  to   { width: 11px; height: 170px; }
}
@keyframes headerborder_right {
  from { right: 0; transform: scale(0) rotateZ(45deg) translateY(25px); height: 170px; }
  to   {  width: 11px; height: 170px; }
}

@keyframes borderdisappearance {
  from { border-width: 0; }
  to   { border-width: 0; }
}
@keyframes borderglide {
  from { max-width: 0; }
}

@keyframes boxcurtain_imageheight {
  0%   { height: 50%; }
  50%  { height: 50%; }
  100% { height: 0; }
}
@keyframes boxcurtain_bordertop {
  from, to { border-top: solid 3px }
}
@keyframes boxcurtain_borderbottom {
  from, to { border-bottom: solid 3px }
}
@keyframes boxcurtain_width_left {
  0% { width: 0; left: 200px }
  15% { width: 0; left: 200px }
}

@keyframes buttonshake {
  0%   { transform: none; }
  38%  { transform: rotateZ(2.8deg) scale(1.032); }
  62%  { transform: rotateZ(-3.5deg) scale(1.048); }
  100% { transform: scale(1.07); }
}

/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes shade_is_super {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
