// out: mainpage.css, sourcemap: false, compress: false,

/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/

@import "colors.less";
@import "mixins.less";


body.nesewebel-mode.dark-mode {
  background: @nesewebel-background;
}
body.nesewebel-mode.light-mode {
  background: @nesewebel-background--light;
}


.nesewebel-mode.dark-mode #mode_dropdown {
  #mode_dropdown_box {
    box-shadow: 1px 1px 10px  @nesewebel-shadow;
    &::before {
      border: 15px solid @nesewebel-background;
      box-shadow: 2px 2px 20px  @nesewebel-shadow;
    }
    .mode_switch {
      color: @nesewebel-foreground;
      background: @nesewebel-background;
      &:hover {
        background: @nesewebel-shadow;
      }
    }
  }
}
.nesewebel-mode.light-mode #mode_dropdown {
  #mode_dropdown_box {
    box-shadow: 1px 1px 10px @nesewebel-shadow--light;
    &::before {
      border: 15px solid @nesewebel-background--light;
      box-shadow: 1px 1px 10px @nesewebel-shadow--light;
    }
    .mode_switch {
      color: @nesewebel-background;
      background: @nesewebel-background--light;
      &:hover {
        background: @nesewebel-shadow--light;
      }
    }
  }
  #switch_daynight {
    &::before {
      color: @nesewebel-foreground--light;
    }
  }
}


#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 9px @header-shadow;
  background-color: @header-background-color;
  max-width: 100vw;
  height: 410px;
  color: @heading-foreground-color;
  .mode-switch-transition;
  .mode-switch-transition-shadow;
  #main_header {
    border: solid 11px;
    position: relative;
    transition: all .5s, color .15s;
    animation: .75s fadein, 1s shiftin, 1s borderbuildup;
    &:hover {
      transform: scale(0.968);
    }
    h1 {
      font: bold 105px 'Century Gothic', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 83px;
      text-shadow:
        1px 1px @heading-shadow,
        2px 2px @heading-shadow,
        3px 3px @heading-shadow,
        4px 4px @heading-shadow,
        5px 5px @heading-shadow,
        6px 6px @heading-shadow;
      margin: 0;
      padding: 30px 30px 35px;
      transition: all .3s ease-out, color 0s, transform .85s;
      animation: 1.2s fadein;
      &:hover {
        transform: scale(0.7) scale(1.47);
      }
      &:hover::before, &:hover::after {
        content: attr(data-heading);
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 30px 35px;
      }
      &:hover::before {
        color: @header-background-color;
        text-shadow:
          7px 7px @header-background-color,
          7px -7px @header-background-color,
          -7px 7px @header-background-color,
          -7px -7px @header-background-color;
        clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
        animation: .32s headingcut ease-in;
      }
      &:hover::after {
       clip-path: polygon(0 57.5%, 0 0, 100% 0, 100% 36.5%);
       transform: translate(-4px);
       animation: .69s headingshift cubic-bezier(.85,0,1,1);
      }
      .selection-w-color(@header-selection);
    }
    @media (max-width: 650px) and (min-width: 436px){
      border: solid 1.58vw;
      h1 {
        font-size: 15.5vw;
        line-height: 12vw;
        padding: 4.5vw 4.5vw 5vw;
        &:hover::before, &:hover::after {
          padding: 4.5vw 4.5vw 5vw;
        }
      }
    }
    @media (max-width: 435px) {
      border: solid 7px;
      h1 {
        font-size: 65px;
        line-height: 50px;
        padding: 17px 17px 22px;
        &:hover::before, &:hover::after {
          padding: 17px 17px 22px;
        }
      }
    }
  }
  p {  //subheader
    position: absolute;
    bottom: 30px;
    font: 19px 'Segoe UI';
    white-space: nowrap;
    animation: .63s fadein ease-in;
    .selection-w-color;
    .mode-switch-transition;
    &::before, &::after {
      content: '';
      border-bottom: solid 1px;
      vertical-align: middle;
      width: 20px;
      display: inline-block;
      animation: .75s borderglide2 ease-out;
    }
  }
}

.light-mode #head_block {
  box-shadow: 0 2px 10px 1px @header-shadow--light;
  background-color: @header-background-color--light;
  color: @heading-foreground-color--light;
  #main_header {
    h1 {
      text-shadow:
        1px 1px @heading-shadow--light,
        2px 2px @heading-shadow--light,
        3px 3px @heading-shadow--light,
        4px 4px @heading-shadow--light,
        5px 5px @heading-shadow--light,
        6px 6px @heading-shadow--light;
      &:hover::before {
        color: @header-background-color--light;
        text-shadow:
          7px 7px @header-background-color--light,
          7px -7px @header-background-color--light,
          -7px 7px @header-background-color--light,
          -7px -7px @header-background-color--light;
      }
    }
  }
}
.nesewebel-mode.dark-mode #head_block {
  box-shadow: 0 2px 10px 1px @nesewebel-shadow;
  background-color: @nesewebel-background;
  color: @nesewebel-foreground;
  #main_header {
    h1 {
      text-shadow:
        1px 1px @nesewebel-shadow,
        2px 2px @nesewebel-shadow,
        3px 3px @nesewebel-shadow,
        4px 4px @nesewebel-shadow,
        5px 5px @nesewebel-shadow,
        6px 6px @nesewebel-shadow;
      &:hover::before {
        color: @nesewebel-background;
        text-shadow:
          7px 7px @nesewebel-background,
          7px -7px @nesewebel-background,
          -7px 7px @nesewebel-background,
          -7px -7px @nesewebel-background;
      }
    }
  }
}
.nesewebel-mode.light-mode #head_block {
  box-shadow: 0 2px 10px 1px @nesewebel-shadow--light;
  background-color: @nesewebel-background--light;
  color: @nesewebel-foreground--light;
  #main_header {
    h1 {
      text-shadow:
        1px 1px @nesewebel-shadow--light,
        2px 2px @nesewebel-shadow--light,
        3px 3px @nesewebel-shadow--light,
        4px 4px @nesewebel-shadow--light,
        5px 5px @nesewebel-shadow--light,
        6px 6px @nesewebel-shadow--light;
      &:hover::before {
        color: @nesewebel-background--light;
        text-shadow:
          7px 7px @nesewebel-background--light,
          7px -7px @nesewebel-background--light,
          -7px 7px @nesewebel-background--light,
          -7px -7px @nesewebel-background--light;
      }
    }
  }
}

#ultra_nav {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: auto 400px;
  grid-gap: 35px;
  margin: 35px auto 10px;
  max-width: 1000px;
  @media (max-width: 865px) {
    grid-template-columns: 400px;
    grid-template-rows: auto repeat(2, 400px);
    grid-auto-flow: row;
    max-width: 400px;
    .box {
      grid-column: auto !important;
      &.box_about:hover {
        height: 740px !important; //unfortunately need to hardcode this (no transition otherwise) :/
      }
    }
  }
  .box {
    font-size: 30px;
    position: relative;
    overflow: hidden;
    background: @ultranav-box;
    box-shadow: 1.4px 1.4px 11px @ultranav-box-shadow;
    .mode-switch-transition;
    .mode-switch-transition-shadow;
  //'about'-box extension
    &.box_about {
      height: 82px;
      width: 400px;
      grid-column: ~"1 / -1";
      justify-self: center;
      transition+: all .92s cubic-bezier(.71,.12,.45,.81);
      .mode-switch-transition;
      .mode-switch-transition-shadow;
      &.expanded {
        height: 400px;
        width: 100%;
        transition+: all .7s;
        .mode-switch-transition;
        .mode-switch-transition-shadow;
      }
      &.expanded .about_content {
        transform: scale(1);
        opacity: 1;
        transition: all .45s
      }
      .about_content {
        font: 25px 'Roboto', sans-serif;
        color: @ultranav-boxabout-foreground;
        margin: 15px;
        opacity: 0;
        transform: scale(0);
        transition+: all .7s cubic-bezier(.8,0,.79,.74), opacity .525s ease;
        .mode-switch-transition-color;
      }
    }
  //end of about-box
    &:nth-of-type(2n+3) {
      grid-column: 3;
    }
  //end of media
  //corners shifting in when hovering
    .corneranimation {
      .corner_before, .corner_after {
        position: absolute;
        background: @ultranav-box-corners;
        transition: all .4s ease-out;
        z-index: 3;
      }
      .corner_before {
        height: 40px;
        width: 80px;
        left: -26px;
        bottom: -6px;
        transform: rotateZ(45deg) translateY(40px);
      }
      .corner_after {
        height: 80px;
        width: 40px;
        right: -6px;
        top: -26px;
        transform: rotateZ(-45deg) translateX(40px);
      }
    }
    &:hover .corner_before {
      transform: rotateZ(45deg) translateY(0);
    }
    &:hover .corner_after {
      transform: rotateZ(-45deg) translateX(0);
    }
  //end of corneranimations
  //box header
    .box_header {
      .header_maintext {
        padding: 38px 28px;
        font: 1.15em 'Arial', sans-serif;
        text-transform: uppercase;
        display: inherit;
        line-height: 0;
        color: @ultranav-boxheader-foreground;
        border-bottom: 3px solid @ultranav-boxheader-bordertopbottom;
        border-top: 3px solid @ultranav-boxheader-bordertopbottom;
        transition: border-bottom .15s linear, border-top .15s linear;
        .mode-switch-transition;
        .mode-switch-transition-color;
      }
    }
  //end of header
  //main text inside the boxes
    .box_text {
      display: flex;
      flex-direction: column;
      height: ~"calc(100% - 86px)";
    }
    a {
      display: flex;
      align-items: center;
      position: relative;
      flex: 1;
      padding: 0 0 0 10px;
      display: inherit;
      text-decoration: none;
      color: @ultranav-boxtext-foreground;
      transition+: all .68s, padding-left .1s;
      .mode-switch-transition-color;
      line-height: 50px;
      z-index: 1;
      &:hover {
        flex-grow: 1.59;
      }
      &:hover::before {
        content: '';
        position: absolute;
        left: 0;
        height: 44px;
        border-left: solid 5px @ultranav-boxtext-additional-border;
        border-top: solid 5px transparent;
        border-bottom: solid 5px transparent;
      }
      &::after {
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: .75s linear;
        z-index: -1;
      }
      &:nth-of-type(1) {
        animation: .8s shiftinX, .75s fadein;
      }
      &:nth-of-type(2) {
        animation: 1s shiftinX, .75s fadein;
      }
      &:nth-of-type(3) {
        animation: 1.2s shiftinX, .75s fadein;
      }
    }
  //end of <a> in .box

  //individual arguments (still nested in .box)
    &:nth-of-type(1) {
      .boxanimation(.8s);
      .box_header {
        cursor: pointer;
      }
    }
    &:nth-of-type(2) {
      .boxanimation(.9s);
      a:nth-of-type(1) {
        &::after {
          content: '';
          background-image: @boxtext-background-box1span1;
        }
        &:hover::after {
          filter: blur(1.5px);
        }
      }
    }
    &:nth-of-type(3) {
      .boxanimation(1s);
    }
  }
  //end of .box
}
//end of #ultra_nav


.light-mode #ultra_nav {
  .box {
    background: @ultranav-box--light;
    box-shadow: 1.6px 1.6px 13px 1px @ultranav-box-shadow--light;
    &.box_about {
      .about_content {
        color: @ultranav-boxabout-foreground--light;
      }
    }
    .box_header {
      .header_maintext {
        color: @ultranav-boxheader-foreground--light;
        border-bottom: 3px solid @ultranav-boxheader-bordertopbottom--light;
        border-top: 3px solid @ultranav-boxheader-bordertopbottom--light;
      }
    //corners shifting in when hovering
      .corneranimation {
        .corner_before, .corner_after {
          background: @ultranav-box-corners--light;
        }
      }
    //end of corneranimation
    }
  //end of header
  //main text inside the boxes
    a {
      color: @ultranav-boxtext-foreground--light;
      &:hover::before {
        border-left: solid 5px @ultranav-boxtext-additional-border--light;
      }
    }
  }
}
.nesewebel-mode.dark-mode #ultra_nav {
  .box {
    background: @nesewebel-background;
    box-shadow: 1.6px 1.6px 13px 1px @nesewebel-shadow;
    &.box_about {
      .about_content {
        color: @nesewebel-foreground;
      }
    }
    .box_header {
      .header_maintext {
        color: @nesewebel-foreground;
        border-bottom: 3px solid @nesewebel-foreground;
        border-top: 3px solid @nesewebel-foreground;
      }
    //corners shifting in when hovering
      .corneranimation {
        .corner_before, .corner_after {
          background: @nesewebel-background;
        }
      }
    //end of corneranimation
    }
  //end of header
  //main text inside the boxes
    a {
      color: @nesewebel-foreground;
      &:hover::before {
        border-left: solid 5px @nesewebel-foreground;
      }
    }
  }
}
.nesewebel-mode.light-mode #ultra_nav {
  .box {
    background: @nesewebel-background--light;
    box-shadow: 1.6px 1.6px 13px 1px @nesewebel-shadow--light;
    &.box_about {
      .about_content {
        color: @nesewebel-foreground--light;
      }
    }
    .box_header {
      .header_maintext {
        color: @nesewebel-foreground--light;
        border-bottom: 3px solid @nesewebel-foreground--light;
        border-top: 3px solid @nesewebel-foreground--light;
      }
    //corners shifting in when hovering
      .corneranimation {
        .corner_before, .corner_after {
          background: @nesewebel-background--light;
        }
      }
    //end of corneranimation
    }
  //end of header
  //main text inside the boxes
    a {
      color: @nesewebel-foreground--light;
      &:hover::before {
        border-left: solid 5px @nesewebel-foreground--light;
      }
    }
  }
}


@import "keyframes.less";
