/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
body.nesewebel-mode.dark-mode {
  background-color: black;
}
body.nesewebel-mode.light-mode {
  background-color: white;
}
body {
  background-color: #171717;
}
.nesewebel-mode.dark-mode .mode_dropdown .mode_dropdown_box {
  box-shadow: 1px 1px 10px #141414;
}
.nesewebel-mode.dark-mode .mode_dropdown .mode_dropdown_box::before {
  border: 15px solid black;
  box-shadow: 2px 2px 20px #141414;
}
.nesewebel-mode.dark-mode .mode_dropdown .mode_dropdown_box .mode_switch {
  color: white;
  background-color: black;
}
.nesewebel-mode.dark-mode .mode_dropdown .mode_dropdown_box .mode_switch:hover {
  background-color: #141414;
}
.nesewebel-mode.light-mode .mode_dropdown .mode_dropdown_box {
  box-shadow: 1px 1px 10px #ebebeb;
}
.nesewebel-mode.light-mode .mode_dropdown .mode_dropdown_box::before {
  border: 15px solid white;
  box-shadow: 1px 1px 10px #ebebeb;
}
.nesewebel-mode.light-mode .mode_dropdown .mode_dropdown_box .mode_switch {
  color: black;
  background-color: white;
}
.nesewebel-mode.light-mode .mode_dropdown .mode_dropdown_box .mode_switch:hover {
  background-color: #ebebeb;
}
.nesewebel-mode.light-mode .mode_dropdown .switch_daynight::before {
  color: black;
}
#headline {
  animation: 2s headlineclose;
}
#headline_popout {
  animation: 1.96s headline_popout_in1 linear, 1.96s headline_popout_in2, 2s headline_popout_in3;
}
#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 13px rgba(15, 15, 15, 0.75);
  background-color: #212121;
  height: calc(8vw + 12vh + 141px);
  color: #9f9f9f;
  transition: background .15s linear, box-shadow 0.15s linear;
}
#head_block h1 {
  font: bold 130px 'Century Gothic', 'Segoe UI', 'Nirmala UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px #7c7c7c, 2px 2px #7c7c7c, 3px 3px #7c7c7c, 4px 4px #7c7c7c, 5px 5px #7c7c7c, 6px 6px #7c7c7c;
  margin: 0;
  transition: all .45s, transform .76s, text-shadow 0.15s linear, color .15s linear;
  animation: .75s fadein linear, .9s shiftin;
}
#head_block h1:hover {
  transform: scale(0.78) scale(1.294);
}
#head_block h1:hover::before,
#head_block h1:hover::after {
  content: attr(data-heading);
  position: absolute;
  top: 0;
  left: 0;
}
#head_block h1:hover::before {
  color: #212121;
  text-shadow: 7px 7px #212121, 7px -7px #212121, -7px 7px #212121, -7px -7px #212121;
  clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  animation: 0.3s headingcut ease-in;
}
#head_block h1:hover::after {
  clip-path: polygon(0 57.5%, 0 0, 100% 0, 100% 36.5%);
  transform: translate(-4px);
  animation: 0.68s headingshift cubic-bezier(0.85, 0, 1, 1);
}
#head_block h1::selection {
  background-color: transparent;
  color: #17469E;
}
#head_block h1::-webkit-selection {
  background-color: transparent;
  color: #17469E;
}
#head_block h1::-moz-selection {
  background-color: transparent;
  color: #17469E;
}
@media (max-width: 670px) and (min-width: 451px) {
  #head_block h1 {
    font-size: 19.44vw;
  }
}
@media (max-width: 450px) {
  #head_block h1 {
    font-size: 88px;
    text-shadow: 1px 1px #7c7c7c, 2px 2px #7c7c7c, 3px 3px #7c7c7c, 4px 4px #7c7c7c, 5px 5px #7c7c7c;
  }
}
#head_block p {
  position: absolute;
  bottom: calc((8vw + 12vh + 141px)/4 - 38px);
  font-family: 'Segoe UI', 'Arial', sans-serif;
  font-size: 19px;
  font-style: italic;
  margin: 0;
  white-space: nowrap;
  animation: 0.6s fadein ease-in;
  transition: background .15s linear, color .15s linear;
}
#head_block p::selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-webkit-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-moz-selection {
  background-color: transparent;
  color: #DB968C;
}
.light-mode #head_block {
  box-shadow: 0 2px 13px rgba(194, 194, 194, 0.8);
  background-color: #f7f7f7;
  color: #757575;
}
.light-mode #head_block h1 {
  text-shadow: 1px 1px #999999, 2px 2px #999999, 3px 3px #999999, 4px 4px #999999, 5px 5px #999999, 6px 6px #999999;
}
.light-mode #head_block h1:hover::before {
  color: #f7f7f7;
  text-shadow: 7px 7px #f7f7f7, 7px -7px #f7f7f7, -7px 7px #f7f7f7, -7px -7px #f7f7f7;
}
@media (max-width: 450px) {
  .light-mode #head_block h1 {
    font-size: 88px;
    text-shadow: 1px 1px #999999, 2px 2px #999999, 3px 3px #999999, 4px 4px #999999, 5px 5px #999999;
  }
}
.nesewebel-mode.dark-mode #head_block {
  box-shadow: 0 2px 10px 1px #141414;
  background-color: black;
  color: white;
}
.nesewebel-mode.dark-mode #head_block h1 {
  text-shadow: 1px 1px #141414, 2px 2px #141414, 3px 3px #141414, 4px 4px #141414, 5px 5px #141414, 6px 6px #141414;
}
.nesewebel-mode.dark-mode #head_block h1:hover::before {
  color: black;
  text-shadow: 7px 7px black, 7px -7px black, -7px 7px black, -7px -7px black;
}
.nesewebel-mode.light-mode #head_block {
  box-shadow: 0 2px 10px 1px #ebebeb;
  background-color: white;
  color: black;
}
.nesewebel-mode.light-mode #head_block h1 {
  text-shadow: 1px 1px #ebebeb, 2px 2px #ebebeb, 3px 3px #ebebeb, 4px 4px #ebebeb, 5px 5px #ebebeb, 6px 6px #ebebeb;
}
.nesewebel-mode.light-mode #head_block h1:hover::before {
  color: white;
  text-shadow: 7px 7px white, 7px -7px white, -7px 7px white, -7px -7px white;
}
#box_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  justify-items: center;
  margin: 35px 20px 20px;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  align-items: center;
}
#box_nav .box {
  width: 410px;
  height: 450px;
}
#box_nav .box:nth-child(1) {
  animation: 0.5s shiftinBox ease-out;
}
#box_nav .box:nth-child(2) {
  animation: 0.58s shiftinBox ease-out;
}
#box_nav .box:nth-child(3) {
  animation: 0.66s shiftinBox ease-out;
}
#box_nav .box:nth-child(4) {
  animation: 0.74s shiftinBox ease-out;
}
#box_nav .box:nth-child(5) {
  animation: 0.82s shiftinBox ease-out;
}
#box_nav .dwm::before {
  background-image: url('images/main/MINECRAFT.png');
}
#box_nav .triangles::before {
  background-image: url('images/main/triangles.png');
}
#box_nav .matrix_3d::before {
  background-image: url('images/main/cube.png');
}
