/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
body.nesewebel-mode.dark-mode {
  background-color: black;
}
body.nesewebel-mode.light-mode {
  background-color: white;
}
body {
  background-color: #171717;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box {
  box-shadow: 1px 1px 10px #141414;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box::before {
  border: 15px solid black;
  box-shadow: 2px 2px 20px #141414;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box .mode_switch {
  color: white;
  background-color: black;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box .mode_switch:hover {
  background-color: #141414;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box {
  box-shadow: 1px 1px 10px #ebebeb;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box::before {
  border: 15px solid white;
  box-shadow: 1px 1px 10px #ebebeb;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box .mode_switch {
  color: black;
  background-color: white;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box .mode_switch:hover {
  background-color: #ebebeb;
}
.nesewebel-mode.light-mode #mode_dropdown #switch_daynight::before {
  color: black;
}
#headline {
  animation: 2s headlineclose;
}
#headline_popout {
  animation: 1.96s headline_popout_in1 linear, 1.96s headline_popout_in2, 2s headline_popout_in3;
}
#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 9px rgba(13, 13, 13, 0.78);
  background-color: #222222;
  max-width: 100vw;
  height: 410px;
  color: #a1a1a1;
  transition: background .15s linear, box-shadow 0.15s linear;
}
#head_block h1 {
  position: relative;
  font: bold 130px 'Century Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px rgba(125, 125, 125, 0.95), 2px 2px rgba(125, 125, 125, 0.95), 3px 3px rgba(125, 125, 125, 0.95), 4px 4px rgba(125, 125, 125, 0.95), 5px 5px rgba(125, 125, 125, 0.95), 6px 6px rgba(125, 125, 125, 0.95);
  margin: 0;
  transition: all .45s, transform .76s, text-shadow 0.15s linear, color .15s linear;
  animation: .75s fadein linear, .9s shiftin;
}
#head_block h1:hover {
  transform: scale(0.78) scale(1.294);
}
#head_block h1:hover::before,
#head_block h1:hover::after {
  content: attr(data-heading);
  position: absolute;
  top: 0;
  left: 0;
}
#head_block h1:hover::before {
  color: #222222;
  text-shadow: 7px 7px #222222, 7px -7px #222222, -7px 7px #222222, -7px -7px #222222;
  clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  animation: 0.32s headingcut ease-in;
}
#head_block h1:hover::after {
  clip-path: polygon(0 57.5%, 0 0, 100% 0, 100% 36.5%);
  transform: translate(-4px);
  animation: 0.69s headingshift cubic-bezier(0.85, 0, 1, 1);
}
#head_block h1::selection {
  background-color: transparent;
  color: #17469E;
}
#head_block h1::-webkit-selection {
  background-color: transparent;
  color: #17469E;
}
#head_block h1::-moz-selection {
  background-color: transparent;
  color: #17469E;
}
@media (max-width: 670px) and (min-width: 451px) {
  #head_block h1 {
    font-size: 19.44vw;
  }
}
@media (max-width: 450px) {
  #head_block h1 {
    font-size: 88px;
    text-shadow: 1px 1px rgba(125, 125, 125, 0.95), 2px 2px rgba(125, 125, 125, 0.95), 3px 3px rgba(125, 125, 125, 0.95), 4px 4px rgba(125, 125, 125, 0.95), 5px 5px rgba(125, 125, 125, 0.95);
  }
}
#head_block p {
  position: absolute;
  bottom: 30px;
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  font-size: 19px;
  white-space: nowrap;
  animation: 0.63s fadein ease-in;
  transition: background .15s linear;
}
#head_block p::selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-webkit-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-moz-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::before,
#head_block p::after {
  content: '';
  border-bottom: solid 1px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
  animation: 0.8s borderglide2 ease-out;
}
.light-mode #head_block {
  box-shadow: 0 2px 10px 1px rgba(194, 194, 194, 0.8);
  background-color: #f7f7f7;
  color: #616161;
}
.light-mode #head_block #main_header h1 {
  text-shadow: 1px 1px #858585, 2px 2px #858585, 3px 3px #858585, 4px 4px #858585, 5px 5px #858585, 6px 6px #858585;
}
.light-mode #head_block #main_header h1:hover::before {
  color: #f7f7f7;
  text-shadow: 7px 7px #f7f7f7, 7px -7px #f7f7f7, -7px 7px #f7f7f7, -7px -7px #f7f7f7;
}
.nesewebel-mode.dark-mode #head_block {
  box-shadow: 0 2px 10px 1px #141414;
  background-color: black;
  color: white;
}
.nesewebel-mode.dark-mode #head_block #main_header h1 {
  text-shadow: 1px 1px #141414, 2px 2px #141414, 3px 3px #141414, 4px 4px #141414, 5px 5px #141414, 6px 6px #141414;
}
.nesewebel-mode.dark-mode #head_block #main_header h1:hover::before {
  color: black;
  text-shadow: 7px 7px black, 7px -7px black, -7px 7px black, -7px -7px black;
}
.nesewebel-mode.light-mode #head_block {
  box-shadow: 0 2px 10px 1px #ebebeb;
  background-color: white;
  color: black;
}
.nesewebel-mode.light-mode #head_block #main_header h1 {
  text-shadow: 1px 1px #ebebeb, 2px 2px #ebebeb, 3px 3px #ebebeb, 4px 4px #ebebeb, 5px 5px #ebebeb, 6px 6px #ebebeb;
}
.nesewebel-mode.light-mode #head_block #main_header h1:hover::before {
  color: white;
  text-shadow: 7px 7px white, 7px -7px white, -7px 7px white, -7px -7px white;
}
#ultra_nav {
  margin: 35px auto 10px;
  max-width: 1000px;
}
#ultra_nav .box {
  width: 400px;
  height: 400px;
  margin: 0 0 35px 0;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: #1d1d1d;
  border-top: 4px solid #4b4b4b;
  border-bottom: 4px solid #1a1a1a;
  box-shadow: 0 4px 1px #0f0f0f, 1px 1px 6px rgba(19, 19, 19, 0.8);
  transition: background .15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about {
  height: 76px;
  width: 400px;
  margin: 0 auto 35px auto;
  grid-column: 1 / -1;
  justify-self: center;
  transition: all 0.92s cubic-bezier(0.71, 0.12, 0.45, 0.81), background .15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about.expanded {
  height: 400px;
  width: 100%;
  transition: all .7s, background .15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about.expanded .about_content {
  transform: scale(1);
  opacity: 1;
  transition: all 0.45s;
}
#ultra_nav .box.box_about .about_content {
  font: 25px 'Roboto', sans-serif;
  color: #999999;
  margin: 15px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s cubic-bezier(0.8, 0, 0.79, 0.74), opacity 0.525s ease, color .15s linear;
}
#ultra_nav .box:nth-of-type(2n+3) {
  grid-column: 3;
}
#ultra_nav .box:nth-of-type(2n+2) {
  float: left;
}
#ultra_nav .box:nth-of-type(2n+3) {
  float: right;
}
#ultra_nav .box .corneranimation .corner_before,
#ultra_nav .box .corneranimation .corner_after {
  position: absolute;
  background-color: #0f0f0f;
  transition: all 0.4s ease-out;
  z-index: 3;
  opacity: .65;
}
#ultra_nav .box .corneranimation .corner_before {
  height: 40px;
  width: 80px;
  left: -26px;
  bottom: -6px;
  transform: rotateZ(45deg) translateY(40px);
}
#ultra_nav .box .corneranimation .corner_after {
  height: 80px;
  width: 40px;
  right: -6px;
  top: -26px;
  transform: rotateZ(-45deg) translateX(40px);
}
#ultra_nav .box:hover .corner_before {
  transform: rotateZ(45deg) translateY(0);
}
#ultra_nav .box:hover .corner_after {
  transform: rotateZ(-45deg) translateX(0);
}
#ultra_nav .box .box_header {
  background-color: #202020;
}
#ultra_nav .box .box_header .header_text {
  padding: 38px 28px;
  font-size: 1.15em;
  text-transform: uppercase;
  display: inherit;
  line-height: 0;
  color: #575757;
  transition: background .15s linear, color .15s linear;
}
#ultra_nav .box .box_text {
  display: flex;
  flex-direction: column;
  height: calc(100% - 86px);
}
#ultra_nav .box a {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  padding-left: 10px;
  text-decoration: none;
  color: #999999;
  overflow: hidden;
  transition: all 0.6s, background-color 0.5s linear, color .15s linear;
  line-height: 50px;
  z-index: 1;
}
#ultra_nav .box a:hover {
  flex-grow: 1.59;
}
#ultra_nav .box a:hover::before {
  content: '';
  position: absolute;
  left: 0;
  height: 44px;
  border-left: solid 5px #040404;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
#ultra_nav .box a::after {
  background-size: cover;
  position: absolute;
  left: -5px;
  right: -5px;
  top: -8px;
  bottom: -8px;
  transition: 0.45s ease-in;
  filter: blur(9px);
  opacity: .39;
  z-index: -1;
}
#ultra_nav .box a:hover::after {
  filter: none;
  opacity: 1;
}
#ultra_nav .box a.bg_image {
  background-color: #747474;
}
#ultra_nav .box a.bg_image::after {
  content: '';
}
#ultra_nav .box:nth-of-type(1) {
  animation: 0.8s shiftin2 ease-out;
}
#ultra_nav .box:nth-of-type(1) .box_header {
  cursor: pointer;
}
#ultra_nav .box:nth-of-type(2) {
  animation: 0.9s shiftin2 ease-out;
}
#ultra_nav .box:nth-of-type(2) a:nth-of-type(1)::after {
  background-image: url('https://cdn.discordapp.com/attachments/363044137106276354/414869247421054976/host.png');
}
#ultra_nav .box:nth-of-type(3) {
  animation: 1s shiftin2 ease-out;
}
@media (max-width: 840px) {
  #ultra_nav .box {
    margin: 0 auto 35px auto;
    float: none !important;
  }
  #ultra_nav .box.box_about.expanded {
    width: 400px;
    height: 740px !important;
  }
}
@supports (display: grid) {
  #ultra_nav {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    grid-template-rows: auto 400px;
    grid-gap: 35px;
    grid-auto-rows: 400px;
  }
  #ultra_nav .box {
    width: auto;
    height: auto;
    margin: 0 !important;
    float: none !important;
  }
  @media (max-width: 890px) {
    #ultra_nav {
      grid-template-columns: 400px;
      grid-template-rows: auto repeat(2, 400px);
      grid-auto-flow: row;
      max-width: 400px;
    }
    #ultra_nav .box {
      grid-column: auto !important;
    }
    #ultra_nav .box.box_about.expanded {
      width: auto !important;
      height: 740px !important;
    }
  }
}
.light-mode #ultra_nav .box {
  background-color: #f7f7f7;
  box-shadow: 1.6px 1.6px 13px 1px rgba(189, 189, 189, 0.88);
}
.light-mode #ultra_nav .box.box_about .about_content {
  color: #595959;
}
.light-mode #ultra_nav .box .box_header .header_text {
  color: #6e6e6e;
}
.light-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.light-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background-color: rgba(77, 77, 77, 0.9);
}
.light-mode #ultra_nav .box a {
  color: #595959;
}
.light-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px #525252;
}
.nesewebel-mode.dark-mode #ultra_nav .box {
  background-color: black;
  box-shadow: 1.6px 1.6px 13px 1px #141414;
}
.nesewebel-mode.dark-mode #ultra_nav .box.box_about .about_content {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .header_text {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background-color: black;
}
.nesewebel-mode.dark-mode #ultra_nav .box a {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px white;
}
.nesewebel-mode.light-mode #ultra_nav .box {
  background-color: white;
  box-shadow: 1.6px 1.6px 13px 1px #ebebeb;
}
.nesewebel-mode.light-mode #ultra_nav .box.box_about .about_content {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box .box_header .header_text {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.nesewebel-mode.light-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background-color: white;
}
.nesewebel-mode.light-mode #ultra_nav .box a {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px black;
}
