/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
body.nesewebel-mode.dark-mode {
  background: black;
}
body.nesewebel-mode.light-mode {
  background: white;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box {
  box-shadow: 1px 1px 10px #141414;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box::before {
  border: 15px solid black;
  box-shadow: 2px 2px 20px #141414;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box .mode_switch {
  color: white;
  background: black;
}
.nesewebel-mode.dark-mode #mode_dropdown #mode_dropdown_box .mode_switch:hover {
  background: #141414;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box {
  box-shadow: 1px 1px 10px #ebebeb;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box::before {
  border: 15px solid white;
  box-shadow: 1px 1px 10px #ebebeb;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box .mode_switch {
  color: black;
  background: white;
}
.nesewebel-mode.light-mode #mode_dropdown #mode_dropdown_box .mode_switch:hover {
  background: #ebebeb;
}
.nesewebel-mode.light-mode #mode_dropdown #switch_daynight::before {
  color: black;
}
#headline {
  animation: 2s headlineclose;
}
#headline_popout {
  animation: 2s headline_popout_in1 linear, 2.02s headline_popout_in2, 2s headline_popout_in3;
}
#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 9px rgba(10, 10, 10, 0.77);
  background-color: #242424;
  max-width: 100vw;
  height: 410px;
  color: #a1a1a1;
  transition: background .15s linear, box-shadow 0.15s linear;
}
#head_block #main_header {
  border: solid 11px;
  position: relative;
  transition: all .5s, color .15s linear;
  animation: .75s fadein, 1s shiftin, 1s borderbuildup;
}
#head_block #main_header:hover {
  transform: scale(0.968);
}
#head_block #main_header h1 {
  font: bold 105px 'Century Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 83px;
  text-shadow: 1px 1px #7d7d7d, 2px 2px #7d7d7d, 3px 3px #7d7d7d, 4px 4px #7d7d7d, 5px 5px #7d7d7d, 6px 6px #7d7d7d;
  margin: 0;
  padding: 30px 30px 35px;
  transition: all 0.3s ease-out, color 0s, transform 0.85s, text-shadow 0.15s linear;
  animation: 1.2s fadein;
}
#head_block #main_header h1:hover {
  transform: scale(0.7) scale(1.47);
}
#head_block #main_header h1:hover::before,
#head_block #main_header h1:hover::after {
  content: attr(data-heading);
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 30px 35px;
}
#head_block #main_header h1:hover::before {
  color: #242424;
  text-shadow: 7px 7px #242424, 7px -7px #242424, -7px 7px #242424, -7px -7px #242424;
  clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  animation: 0.32s headingcut ease-in;
}
#head_block #main_header h1:hover::after {
  clip-path: polygon(0 57.5%, 0 0, 100% 0, 100% 36.5%);
  transform: translate(-4px);
  animation: 0.69s headingshift cubic-bezier(0.85, 0, 1, 1);
}
#head_block #main_header h1::selection {
  background-color: transparent;
  color: #17469E;
}
#head_block #main_header h1::-webkit-selection {
  background-color: transparent;
  color: #17469E;
}
#head_block #main_header h1::-moz-selection {
  background-color: transparent;
  color: #17469E;
}
@media (max-width: 650px) and (min-width: 436px) {
  #head_block #main_header {
    border: solid 1.58vw;
  }
  #head_block #main_header h1 {
    font-size: 15.5vw;
    line-height: 12vw;
    padding: 4.5vw 4.5vw 5vw;
  }
  #head_block #main_header h1:hover::before,
  #head_block #main_header h1:hover::after {
    padding: 4.5vw 4.5vw 5vw;
  }
}
@media (max-width: 435px) {
  #head_block #main_header {
    border: solid 7px;
  }
  #head_block #main_header h1 {
    font-size: 65px;
    line-height: 50px;
    padding: 17px 17px 22px;
  }
  #head_block #main_header h1:hover::before,
  #head_block #main_header h1:hover::after {
    padding: 17px 17px 22px;
  }
}
#head_block p {
  position: absolute;
  bottom: 30px;
  font: 19px 'Segoe UI';
  white-space: nowrap;
  animation: 0.63s fadein ease-in;
  transition: background .15s linear;
}
#head_block p::selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-webkit-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-moz-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::before,
#head_block p::after {
  content: '';
  border-bottom: solid 1px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
  animation: 0.75s borderglide2 ease-out;
}
.light-mode #head_block {
  box-shadow: 0 2px 10px 1px rgba(194, 194, 194, 0.8);
  background-color: #f7f7f7;
  color: #616161;
}
.light-mode #head_block #main_header h1 {
  text-shadow: 1px 1px #858585, 2px 2px #858585, 3px 3px #858585, 4px 4px #858585, 5px 5px #858585, 6px 6px #858585;
}
.light-mode #head_block #main_header h1:hover::before {
  color: #f7f7f7;
  text-shadow: 7px 7px #f7f7f7, 7px -7px #f7f7f7, -7px 7px #f7f7f7, -7px -7px #f7f7f7;
}
.nesewebel-mode.dark-mode #head_block {
  box-shadow: 0 2px 10px 1px #141414;
  background-color: black;
  color: white;
}
.nesewebel-mode.dark-mode #head_block #main_header h1 {
  text-shadow: 1px 1px #141414, 2px 2px #141414, 3px 3px #141414, 4px 4px #141414, 5px 5px #141414, 6px 6px #141414;
}
.nesewebel-mode.dark-mode #head_block #main_header h1:hover::before {
  color: black;
  text-shadow: 7px 7px black, 7px -7px black, -7px 7px black, -7px -7px black;
}
.nesewebel-mode.light-mode #head_block {
  box-shadow: 0 2px 10px 1px #ebebeb;
  background-color: white;
  color: black;
}
.nesewebel-mode.light-mode #head_block #main_header h1 {
  text-shadow: 1px 1px #ebebeb, 2px 2px #ebebeb, 3px 3px #ebebeb, 4px 4px #ebebeb, 5px 5px #ebebeb, 6px 6px #ebebeb;
}
.nesewebel-mode.light-mode #head_block #main_header h1:hover::before {
  color: white;
  text-shadow: 7px 7px white, 7px -7px white, -7px 7px white, -7px -7px white;
}
#ultra_nav {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: auto 400px;
  grid-gap: 35px;
  margin: 35px auto 10px;
  max-width: 1000px;
}
@media (max-width: 865px) {
  #ultra_nav {
    grid-template-columns: 400px;
    grid-template-rows: auto repeat(2, 400px);
    grid-auto-flow: row;
    max-width: 400px;
  }
  #ultra_nav .box {
    grid-column: auto !important;
  }
  #ultra_nav .box.box_about:hover {
    height: 740px !important;
  }
}
#ultra_nav .box {
  font-size: 30px;
  position: relative;
  overflow: hidden;
  background: #202020;
  box-shadow: 1.4px 1.4px 11px rgba(5, 5, 5, 0.8);
  transition: background .15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about {
  height: 82px;
  width: 400px;
  grid-column: 1 / -1;
  justify-self: center;
  transition: all 0.92s cubic-bezier(0.71, 0.12, 0.45, 0.81), background .15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about.expanded {
  height: 400px;
  width: 100%;
  transition: all .7s, background .15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about.expanded .about_content {
  transform: scale(1);
  opacity: 1;
  transition: all 0.45s;
}
#ultra_nav .box.box_about .about_content {
  font: 25px 'Roboto', sans-serif;
  color: #999999;
  margin: 15px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s cubic-bezier(0.8, 0, 0.79, 0.74), opacity 0.525s ease, color .15s linear;
}
#ultra_nav .box:nth-of-type(2n+3) {
  grid-column: 3;
}
#ultra_nav .box .corneranimation .corner_before,
#ultra_nav .box .corneranimation .corner_after {
  position: absolute;
  background: rgba(15, 15, 15, 0.62);
  transition: all 0.4s ease-out;
  z-index: 3;
}
#ultra_nav .box .corneranimation .corner_before {
  height: 40px;
  width: 80px;
  left: -26px;
  bottom: -6px;
  transform: rotateZ(45deg) translateY(40px);
}
#ultra_nav .box .corneranimation .corner_after {
  height: 80px;
  width: 40px;
  right: -6px;
  top: -26px;
  transform: rotateZ(-45deg) translateX(40px);
}
#ultra_nav .box:hover .corner_before {
  transform: rotateZ(45deg) translateY(0);
}
#ultra_nav .box:hover .corner_after {
  transform: rotateZ(-45deg) translateX(0);
}
#ultra_nav .box .box_header .header_maintext {
  padding: 38px 28px;
  font-size: 1.15em;
  text-transform: uppercase;
  display: inherit;
  line-height: 0;
  color: #575757;
  border-bottom: 3px solid #5c5c5c;
  border-top: 3px solid #5c5c5c;
  transition: border-bottom 0.15s linear, border-top 0.15s linear;
  transition: background .15s linear, color .15s linear;
}
#ultra_nav .box .box_text {
  display: flex;
  flex-direction: column;
  height: calc(100% - 86px);
}
#ultra_nav .box a {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  padding: 0 0 0 10px;
  display: inherit;
  text-decoration: none;
  color: #999999;
  transition: all 0.68s, padding-left 0.1s, color .15s linear;
  line-height: 50px;
  z-index: 1;
}
#ultra_nav .box a:hover {
  flex-grow: 1.59;
}
#ultra_nav .box a:hover::before {
  content: '';
  position: absolute;
  left: 0;
  height: 44px;
  border-left: solid 5px #090909;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
#ultra_nav .box a::after {
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: .75s linear;
  z-index: -1;
}
#ultra_nav .box a:nth-of-type(1) {
  animation: .8s shiftinX, .75s fadein;
}
#ultra_nav .box a:nth-of-type(2) {
  animation: 1s shiftinX, .75s fadein;
}
#ultra_nav .box a:nth-of-type(3) {
  animation: 1.2s shiftinX, .75s fadein;
}
#ultra_nav .box:nth-of-type(1) {
  animation: 0.8s shiftin2 ease-out;
}
#ultra_nav .box:nth-of-type(1) .box_header {
  cursor: pointer;
}
#ultra_nav .box:nth-of-type(2) {
  animation: 0.9s shiftin2 ease-out;
}
#ultra_nav .box:nth-of-type(2) a:nth-of-type(1)::after {
  content: '';
  background-image: url('https://cdn.discordapp.com/attachments/363044137106276354/414869247421054976/host.png');
}
#ultra_nav .box:nth-of-type(2) a:nth-of-type(1):hover::after {
  filter: blur(1.5px);
}
#ultra_nav .box:nth-of-type(3) {
  animation: 1s shiftin2 ease-out;
}
.light-mode #ultra_nav .box {
  background: #f7f7f7;
  box-shadow: 1.6px 1.6px 13px 1px rgba(189, 189, 189, 0.88);
}
.light-mode #ultra_nav .box.box_about .about_content {
  color: #595959;
}
.light-mode #ultra_nav .box .box_header .header_maintext {
  color: #6e6e6e;
  border-bottom: 3px solid #5e5e5e;
  border-top: 3px solid #5e5e5e;
}
.light-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.light-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background: rgba(77, 77, 77, 0.9);
}
.light-mode #ultra_nav .box a {
  color: #595959;
}
.light-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px #525252;
}
.nesewebel-mode.dark-mode #ultra_nav .box {
  background: black;
  box-shadow: 1.6px 1.6px 13px 1px #141414;
}
.nesewebel-mode.dark-mode #ultra_nav .box.box_about .about_content {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .header_maintext {
  color: white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background: black;
}
.nesewebel-mode.dark-mode #ultra_nav .box a {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px white;
}
.nesewebel-mode.light-mode #ultra_nav .box {
  background: white;
  box-shadow: 1.6px 1.6px 13px 1px #ebebeb;
}
.nesewebel-mode.light-mode #ultra_nav .box.box_about .about_content {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box .box_header .header_maintext {
  color: black;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
.nesewebel-mode.light-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.nesewebel-mode.light-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background: white;
}
.nesewebel-mode.light-mode #ultra_nav .box a {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px black;
}
@keyframes shiftin {
  from {
    transform: translateY(-45px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftin3 {
  from {
    transform: translateY(-30px);
  }
}
@keyframes shiftinX {
  from {
    transform: translateX(-40px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes headlineclose {
  0% {
    transform: none;
  }
  67% {
    transform: none;
  }
}
@keyframes headline_popout_in1 {
  0% {
    opacity: .05;
  }
  70% {
    opacity: .15;
  }
  100% {
    opacity: .85;
  }
}
@keyframes headline_popout_in2 {
  0% {
    transform: scale(0.85);
  }
  81% {
    transform: scale(0.85);
  }
  90.5% {
    transform: scale(1.15);
  }
  100% {
    transform: none;
  }
}
@keyframes headline_popout_in3 {
  0% {
    top: 72px;
  }
  67% {
    top: 72px;
  }
  100% {
    top: 12px;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes headingcut {
  from {
    clip-path: polygon(100% 37%, 100% 0, 100% 0, 100% 37%);
  }
  to {
    clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  }
}
@keyframes headingshift {
  0% {
    transform: translate(0);
  }
  30% {
    transform: translate(0);
  }
  100% {
    transform: translate(-4px);
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes borderglide2 {
  from {
    width: 0;
  }
}
@keyframes borderglideX {
  from {
    height: 0;
    top: 50%;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.0266);
  }
  62% {
    transform: rotateZ(-3.2deg) scale(1.0434);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes wtflol {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
