/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
body {
  margin: 0 0 15px 0;
  background: #2b2b2b;
  font-family: Arial;
  transition: background .15s linear;
}
body.light-mode {
  background: #ededed;
}
body.nesewebel-mode.dark-mode {
  background: black;
}
body.nesewebel-mode.light-mode {
  background: white;
}
#headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 35px;
  max-width: 100vw;
  min-height: 38px;
}
#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: auto;
  box-shadow: 0 2px 10px 1px rgba(26, 26, 26, 0.77);
  background-color: #343434;
  max-width: 100vw;
  height: 410px;
  color: #b5b5b5;
  text-align: center;
  transition: background 0.15s linear, box-shadow 0.15s linear;
  /*border-left: solid 5px;
  border-right: solid 5px;
  border-radius: 5px;
  border-color: mix(@header-background-color, lime, 85%);*/
}
#head_block #main_header {
  border: solid 11px;
  transition: all .5s, color .15s;
  animation: 1.2s fadein, 1.02s shiftin, 1s borderbuildup;
}
#head_block #main_header:hover {
  color: #b2c9c7;
  transform: scale(0.968);
}
#head_block #main_header h1 {
  font: bold 105px 'Century Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 83px;
  margin: 0;
  padding: 30px 30px 35px;
  transition: all .9s, color 0s;
  animation: 1.8s fadein, 1.3s rotateX;
}
#head_block #main_header h1:hover {
  color: #94bdc1;
  transform: scale(0.7) scale(1.47);
}
#head_block #main_header h1::selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block #main_header h1::-webkit-selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block #main_header h1::-moz-selection {
  background-color: transparent;
  color: #1398A9;
}
@media screen and (max-width: 865px) and (min-width: 721px) {
  #head_block #main_header {
    border: solid 1.35vw;
  }
  #head_block #main_header h1 {
    font-size: 12vw;
    line-height: 9.4vw;
    padding: 3.5vw 3.5vw 4.2vw;
  }
}
@media screen and (max-width: 720px) and (min-width: 436px) {
  #head_block #main_header {
    border: solid 1.6vw;
  }
  #head_block #main_header h1 {
    font-size: 14vw;
    line-height: 11vw;
    padding: 4.2vw 4.2vw 4.7vw;
  }
}
@media screen and (max-width: 435px) {
  #head_block #main_header {
    border: solid 7px;
    margin: 0 0 0 7px;
  }
  #head_block #main_header h1 {
    font-size: 65px;
    line-height: 54px;
    padding: 15px 15px 20px;
  }
}
#head_block p {
  position: absolute;
  bottom: 30px;
  font: 19px 'Segoe UI';
  white-space: nowrap;
  animation: 0.75s fadein3 ease-in;
  transition: background .15s linear;
}
#head_block p::selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-webkit-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-moz-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::before,
#head_block p::after {
  content: '';
  border-bottom: solid 1px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}
@media screen and (max-width: 330px) {
  #head_block p {
    left: 0;
    margin-left: 10px;
  }
}
.light-mode #head_block {
  box-shadow: 0 2px 10px 1px rgba(194, 194, 194, 0.8);
  background-color: #f7f7f7;
  color: #6e6e6e;
}
.light-mode #head_block #main_header:hover {
  color: #758684;
}
.light-mode #head_block #main_header h1:hover {
  color: #657d80;
}
.light-mode #head_block #main_header h1::selection {
  background-color: transparent;
  color: #1398A9;
}
.light-mode #head_block #main_header h1::-webkit-selection {
  background-color: transparent;
  color: #1398A9;
}
.light-mode #head_block #main_header h1::-moz-selection {
  background-color: transparent;
  color: #1398A9;
}
.nesewebel-mode.dark-mode #head_block {
  box-shadow: 0 2px 10px 1px #141414;
  background-color: black;
  color: white;
}
.nesewebel-mode.light-mode #head_block {
  box-shadow: 0 2px 10px 1px #ebebeb;
  background-color: white;
  color: black;
}
#ultra_nav .menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1020px;
}
#ultra_nav .menu.menu_about {
  justify-content: center;
}
@media screen and (max-width: 865px) {
  #ultra_nav .menu {
    justify-content: center;
    width: 420px;
  }
  #ultra_nav .menu .box.box_about:hover {
    height: 710px;
  }
}
#ultra_nav .box {
  font-size: 30px;
  margin: 40px 10px 0;
  position: relative;
  overflow: hidden;
  background: #2e2e2e;
  width: 400px;
  height: 400px;
  box-shadow: 1.4px 1.4px 15px 1px rgba(18, 18, 18, 0.8);
  transition: background 0.15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about {
  height: 82px;
  transition: all 0.92s cubic-bezier(0.71, 0.12, 0.45, 0.81), background 0.15s linear, box-shadow 0.15s linear;
}
#ultra_nav .box.box_about:hover {
  width: 100%;
  height: 400px;
  transition: all .7s;
}
#ultra_nav .box.box_about:hover .about_content {
  transform: scale(1);
  opacity: 1;
  transition: all 0.45s;
}
#ultra_nav .box.box_about .about_content {
  font: 25px 'Roboto', sans-serif;
  color: #9c9c9c;
  margin: 15px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s cubic-bezier(0.8, 0, 0.79, 0.74), opacity 0.525s ease, color 0.15s linear;
}
#ultra_nav .box .corneranimation .corner_before,
#ultra_nav .box .corneranimation .corner_after {
  position: absolute;
  background: rgba(31, 31, 31, 0.62);
  transition: all 0.4s ease-out;
}
#ultra_nav .box .corneranimation .corner_before {
  height: 40px;
  width: 80px;
  left: -26px;
  bottom: -6px;
  transform: rotateZ(45deg) translateY(40px);
}
#ultra_nav .box .corneranimation .corner_after {
  height: 80px;
  width: 40px;
  right: -6px;
  top: -26px;
  transform: rotateZ(-45deg) translateX(40px);
}
#ultra_nav .box:hover .corner_before {
  transform: rotateZ(45deg) translateY(0);
}
#ultra_nav .box:hover .corner_after {
  transform: rotateZ(-45deg) translateX(0);
}
#ultra_nav .box .box_header .header_maintext {
  padding: 38px 28px;
  font: 1.15em 'Arial', sans-serif;
  text-transform: uppercase;
  display: inherit;
  line-height: 0;
  color: #545454;
  border-bottom: 3px solid #616161;
  border-top: 3px solid #616161;
  transition: background 0.15s linear, border-bottom 0.15s linear, border-top 0.15s linear, color 0.15s linear;
}
#ultra_nav .box a {
  padding: 20px 10px;
  display: inherit;
  text-decoration: none;
  color: #9c9c9c;
  transition: all 0.9s, padding-left 0.1s, background 1.2s cubic-bezier(0.87, 0, 1, 1), color 0.15s linear;
  line-height: 50px;
}
#ultra_nav .box a:hover {
  padding: 48px 48px 48px 17px;
}
#ultra_nav .box a:hover::before {
  content: '';
  position: absolute;
  left: 0;
  height: 44px;
  border-left: solid 5px #171717;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
#ultra_nav .box a:nth-of-type(1) {
  animation: .8s shiftinX, .75s fadein;
}
#ultra_nav .box a:nth-of-type(2) {
  animation: 1s shiftinX, .75s fadein;
}
#ultra_nav .box a:nth-of-type(3) {
  animation: 1.2s shiftinX, .75s fadein;
}
#ultra_nav .box#box1 {
  animation: 0.8s shiftin2 ease-out;
}
#ultra_nav .box#box1 .box_header {
  background: url('https://i.gyazo.com/7f6a04143c26fa071b91457ace2e70eb.png');
  cursor: pointer;
}
#ultra_nav .box#box2 {
  animation: 0.9s shiftin2 ease-out;
}
#ultra_nav .box#box2 a:nth-of-type(1) {
  background: url('https://i.gyazo.com/d3454e553f00a384862950210990c16c.png');
  background-size: cover;
}
#ultra_nav .box#box2 a:nth-of-type(1):hover {
  background: url('https://i.gyazo.com/aee35492a1a0a171280fe4f7a0d97343.png');
  background-size: cover;
}
#ultra_nav .box#box3 {
  animation: 1s shiftin2 ease-out;
}
.light-mode #ultra_nav .box {
  background: #f7f7f7;
  box-shadow: 1.6px 1.6px 13px 1px rgba(189, 189, 189, 0.88);
}
.light-mode #ultra_nav .box.box_about .about_content {
  color: #5e5e5e;
}
.light-mode #ultra_nav .box .box_header .header_maintext {
  color: #3b3b3b;
  border-bottom: 3px solid #2b2b2b;
  border-top: 3px solid #2b2b2b;
}
.light-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.light-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background: rgba(89, 89, 89, 0.9);
}
.light-mode #ultra_nav .box a {
  color: #666666;
}
.light-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px #666666;
}
.nesewebel-mode.dark-mode #ultra_nav .box {
  background: black;
  box-shadow: 1.6px 1.6px 13px 1px #141414;
}
.nesewebel-mode.dark-mode #ultra_nav .box.box_about .about_content {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .header_maintext {
  color: white;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.nesewebel-mode.dark-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background: black;
}
.nesewebel-mode.dark-mode #ultra_nav .box a {
  color: white;
}
.nesewebel-mode.dark-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px white;
}
.nesewebel-mode.light-mode #ultra_nav .box {
  background: white;
  box-shadow: 1.6px 1.6px 13px 1px #ebebeb;
}
.nesewebel-mode.light-mode #ultra_nav .box.box_about .about_content {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box .box_header .header_maintext {
  color: black;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
.nesewebel-mode.light-mode #ultra_nav .box .box_header .corneranimation .corner_before,
.nesewebel-mode.light-mode #ultra_nav .box .box_header .corneranimation .corner_after {
  background: white;
}
.nesewebel-mode.light-mode #ultra_nav .box a {
  color: black;
}
.nesewebel-mode.light-mode #ultra_nav .box a:hover::before {
  border-left: solid 5px black;
}
@keyframes shiftin {
  from {
    transform: translateY(-60px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftin3 {
  from {
    transform: translateY(-30px);
  }
}
@keyframes shiftinX {
  from {
    transform: translateX(-40px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes fadein2 {
  from {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.032);
  }
  62% {
    transform: rotateZ(-3.2deg) scale(1.048);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes wtflol {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
