// out: mainpage.css, sourcemap: false, compress: false,

/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/

@import "colors.less";
@import "mixins.less";


body {
  background: @background-color;
  font-family: Arial;
  .mode-switch-transition;
}

body.light-mode {
  background: @background-color--light;
}


#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
  margin: auto;
  box-shadow: 1px 3px 13px 1px @header-shadow;
  background-color: @header-background-color;
  max-width: 1130px;
  height: 410px;
  color: @heading-foreground-color;
  text-align: center;
  .mode-switch-transition-w-shadow;
  /*border-left: solid 5px;
  border-right: solid 5px;
  border-radius: 5px;
  border-color: mix(@header-background-color, lime, 85%);*/
  #main_header {
    border: solid 11px;
    transition: all .5s, color .15s;
    animation: 1.2s fadein, 1.02s shiftin, 1s borderbuildup;
    &:hover {
      color: @main-box-hover;
      transform: scale(0.968);
    }
    h1 {
      font: bold 105px 'Century Gothic', sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 83px;
      margin: 0;
      padding: 30px 30px 35px;
      transition: all .9s, color 0s;
      animation: 1.8s fadein, 1.3s rotateX;
      &:hover {
        color: @main-text-hover;
        transform: scale(0.7) scale(1.47);
      }
      .selection-w-color(@header-selection)
    }
  }
  p {
    position: absolute;
    bottom: 30px;
    font: 19px 'Segoe UI';
    animation: @shift-fade-in;
    .selection-w-color;
    .mode-switch-transition;
    &::before, &::after {
      content: '';
      border-bottom: solid 1px;
      vertical-align: middle;
      width: 20px;
      display: inline-block;
    }
  }
}

.light-mode #head_block {
  box-shadow: 1px 3px 13px 1px @header-shadow--light;
  background-color: @header-background-color--light;
  color: @heading-foreground-color--light;
  #main_header {
    &:hover {
      color: @main-box-hover--light;
    }
    h1 {
      &:hover {
        color: @main-text-hover--light;
      }
      .selection-w-color(@header-selection)
    }
  }
}


#ultra_nav {
  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px auto 0;
    max-width: 1000px;
    &.menu_about {
      justify-content: center;
    }
    &:nth-of-type(1) {
      .nth-box-alone(@boxheader-background-box1; .8s);
    }
    &:nth-of-type(2) {
      .nth-box-twins(@boxheader-background-box1; @boxheader-background-box1; .9s; 1s;);
    }
    &:nth-of-type(3) {
      .nth-box-twins(@boxheader-background-box1; @boxheader-background-box1; 1.2s; 1.3s;);
    }
    @media screen and (max-width: 845px) {
      justify-content: center;
      .box {
        margin: 0 10px 25px 10px;
        &.box_about:hover {
          width: @box-dimension;
          height: auto;
        }
      }
    }
  }
  .box {
    font-size: 30px;
    position: relative;
    overflow: hidden;
    background: @ultranav-box;
    width: @box-dimension;
    height: @box-dimension;
    box-shadow: 1.4px 1.4px 13px 1px @ultranav-box-shadow;
    .mode-switch-transition-w-shadow;
    &.box_about {
      position: static;
      height: 82px;
      transition: all .92s cubic-bezier(.71,.12,.45,.81), box-shadow .15s linear;
      &:hover {
        width: 100%;
        height: @box-dimension;
        transition: all .7s;
      }
      &:hover .about_content {
        transform: scale(1);
        opacity: 1;
        transition: all .45s
      }
      .about_content {
        font: 25px 'Roboto', sans-serif;
        color: @ultranav-boxabout-foreground;
        margin: 15px;
        opacity: 0;
        transform: scale(0);
        transition: all .7s cubic-bezier(.8,0,.79,.74), opacity .525s ease;
      }
    }
    .box_header {
      position: relative;
      overflow: hidden;
      background-attachment: fixed;
      .header_maintext {
        padding: 38px 28px;
        font: 1.15em 'Arial', sans-serif;
        text-transform: uppercase;
        display: inherit;
        line-height: 0;
        color: @ultranav-boxheader-foreground;
        border-bottom: 3px solid @ultranav-boxheader-bordertopbottom;
        border-top: 3px solid @ultranav-boxheader-bordertopbottom;
          transition: background .15s linear, border-bottom .15s linear, border-top .15s linear;
      }
    //corners shifting in when hovering
      .corneranimation {
        .corner_before, .corner_after {
          position: absolute;
          background: @ultranav-boxheader-elements;
          transition: all .5s ease-out;
        }
        .corner_before {
          height: 45px;
          width: 100px;
          left: -30px;
          bottom: -10px;
          transform: rotateZ(45deg) translateY(45px);
        }
        .corner_after {
          height: 100px;
          width: 45px;
          right: -10px;
          top: -30px;
          transform: rotateZ(-45deg) translateX(45px);
        }
      }
      &:hover .corner_before {
        transform: rotateZ(45deg) translateY(0);
      }
      &:hover .corner_after {
        transform: rotateZ(-45deg) translateX(0);
      }
    //end of corneranimation
    //curtains when loading the site
      .curtainanimation {
        * {
          position: absolute;
          width: 100%;
          left: 0;
        }
        .curtain_below, .below_overlay {
          bottom: 0;
        }
        .curtain_above, .above_overlay {
          top: 0;
        }
        .curtain_below, .curtain_above {
          background-attachment: fixed;
          height: 0;
          animation: 1.02s boxcurtain_imageheight cubic-bezier(.8,0,1,1);
        }
        .below_overlay, .above_overlay {
          height: 100%;
          color: @ultranav-boxheader-bordertopbottom;
          .mode-switch-transition;
        }
        .below_overlay {
          border-top: none;
          animation: .78s boxcurtain_width_left ease-out, 1.02s boxcurtain_bordertop;
        }
        .above_overlay {
          border-bottom: none;
          animation: .78s boxcurtain_width_left ease-out, 1.02s boxcurtain_borderbottom;
        }
      }
    //end of curtainanimation
    }
  //end of header
  //main text inside the boxes
    a {
      padding: 20px 10px;
      display: inherit;
      text-decoration: none;
      color: @ultranav-boxtext-foreground;
      transition: all .9s, padding-left .1s, background 1.2s cubic-bezier(.87,0,1,1), color .15s linear;
      line-height: 50px;
      &:hover {
        padding: 48px 48px 48px 17px;
      }
      &:hover::before {
        content: '';
        position: absolute;
        left: 0;
        height: 44px;
        border-left: solid 5px @ultranav-boxtext-additional-border;
        border-top: solid 5px transparent;
        border-bottom: solid 5px transparent;
      }
      &#box1text1 {
        background: @boxtext-background-box1span1;
        background-size: cover;
        &:hover {
          background: @boxtext-background-box1span1_blur;
          background-size: cover;
        }
      }
      &:nth-of-type(1) {
        animation: .6s shiftinX, .8s fadein;
      }
      &:nth-of-type(2) {
        animation: 1s shiftinX, .8s fadein;
      }
      &:nth-of-type(3) {
        animation: 1.4s shiftinX, .8s fadein;
      }
    }
  }
}

.light-mode #ultra_nav {
  .box {
    background: @ultranav-box--light;
    box-shadow: 1.6px 1.6px 13px 1px @ultranav-box-shadow--light;
    &.box_about {
      .about_content {
        color: @ultranav-boxabout-foreground--light;
      }
    }
    .box_header {
      .header_maintext {
        color: @ultranav-boxheader-foreground--light;
        border-bottom: 3px solid @ultranav-boxheader-bordertopbottom--light;
        border-top: 3px solid @ultranav-boxheader-bordertopbottom--light;
      }
    //corners shifting in when hovering
      .corneranimation {
        .corner_before, .corner_after {
          background: @ultranav-boxheader-elements--light;
        }
      }
    //end of corneranimation
    //curtains when loading the site
      .curtainanimation {
        .below_overlay, .above_overlay {
          color: @ultranav-boxheader-bordertopbottom--light;
        }
      }
    //end of curtainanimation
    }
  //end of header
  //main text inside the boxes
    a {
      color: @ultranav-boxtext-foreground--light;
      &:hover::before {
        border-left: solid 5px @ultranav-boxtext-additional-border--light;
      }
    }
  }
}


@import "keyframes.less";
