// main: mainpage.less

// ::selection mixin
.noselect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.boxanimation(@seconds) {
  animation: @seconds shiftinBox ease-out;
}


.mode-switch-transition() {
  .background() {
    transition+: background .15s linear;
  }
  .shadow() {
    transition+: box-shadow .15s linear;
  }
  .color() {
    transition+: color .15s linear;
  }
  .textshadow() {
    transition+: text-shadow .15s linear;
  }
  .border() {
    transition+: border .15s linear;
  }
}


.selection-w-color(@color: @subheader-selection; @background: transparent;) {
  &::selection {
    background-color: @background;
    color: @color;
  }
  &::-webkit-selection {
    background-color: @background;
    color: @color;
  }
  &::-moz-selection {
    background-color: @background;
    color: @color;
  }
}
