/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
body {
  background: #2b2b2b;
  font-family: Arial;
}
#head_block {
  margin: auto;
  box-shadow: 1px 3px 13px 1px rgba(26, 26, 26, 0.77);
  background-color: #363636;
  max-width: 1130px;
  height: 410px;
  color: #f2f2f2;
  text-align: center;
  /*border-left: solid 5px;
  border-right: solid 5px;
  border-radius: 5px;
  border-color: @header-border-color;*/
}
#head_block #main_header {
  margin-top: 100px;
  border: solid 11px;
  display: inline-block;
  transition: .5s;
  animation: 1.2s fadein, 1.02s shiftin, 1s borderbuildup;
}
#head_block #main_header:hover {
  color: #C9E8E5;
  transform: scale(0.968);
}
#head_block #main_header h1 {
  font: bold 105px 'Century Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 83px;
  margin: 0;
  padding: 30px 30px 35px;
  transition: .9s;
  animation: 1.8s fadein, 1.3s rotateX;
}
#head_block #main_header h1:hover {
  color: #A1D7DD;
  transform: scale(0.7) scale(1.47);
}
#head_block #main_header h1::selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block #main_header h1::-webkit-selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block #main_header h1::-moz-selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block p {
  margin-top: 45px;
  font: 19px 'Segoe UI';
  animation: 0.8s shiftin ease-out, 0.8s fadein ease-in;
}
#head_block p::selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-webkit-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-moz-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::before,
#head_block p::after {
  content: '';
  border-bottom: solid 1px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}
#head_nav {
  margin-top: 15px;
  position: sticky;
  top: 2px;
  z-index: 10;
}
#head_nav #links {
  margin: 25px auto auto;
  padding: 15px;
  background-color: rgba(51, 51, 51, 0.76);
  max-width: 615px;
  animation: 5s fadein2;
}
#head_nav #links nav {
  font: 22px Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  animation: 1.15s shiftin cubic-bezier(0.52, 0.51, 0.61, 0.99), 1.22s fadein;
}
#head_nav #links nav::selection {
  background-color: transparent;
}
#head_nav #links nav::-webkit-selection {
  background-color: transparent;
}
#head_nav #links nav::-moz-selection {
  background-color: transparent;
}
#head_nav #links nav a {
  margin-left: 60px;
  padding: 5px 5px 3px;
  text-decoration: none;
  background: rgba(71, 71, 71, 0.65);
  color: #d9d9d9;
  display: inline-block;
  border: solid 2px;
  transition: all .8s, color .38s;
}
#head_nav #links nav a:first-child {
  margin-left: 0;
}
#head_nav #links nav a::before,
#head_nav #links nav a::after {
  content: '';
  border-bottom: solid 1.5px;
  vertical-align: middle;
  width: 0;
  display: inline-block;
  transition: all .8s;
}
#head_nav #links nav a:hover {
  margin: -0.5px 12px -0.5px 72px;
  padding: 5.5px 5px 3.5px;
  transition: transform 0;
  transform: scale(1.07);
  box-shadow: 1px 1px 6px #212121;
  animation: .36s buttonshake;
}
#head_nav #links nav a:hover:first-child {
  margin-left: 12px;
}
#head_nav #links nav a:hover::before,
#head_nav #links nav a:hover::after {
  width: 10px;
}
#head_nav #links nav a:active {
  color: #A1D7DD;
}
#head_nav #links nav a::selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav #links nav a::-webkit-selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav #links nav a::-moz-selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav #expanding_border {
  margin: 3px auto auto;
  max-width: 710px;
  border-bottom: solid 2px;
  border-radius: 150px;
  color: #bababa;
  animation: 2.7s borderglide, 2.5s fadein, 2s shiftin2;
}
#ultra_nav {
  color: #000000;
}
#ultra_nav .menu {
  /*position: relative;*/
  margin: 35px auto 0;
  max-width: 1000px;
  /*.box_about {
      margin-left: 300px;
      display: inline-block;
      width: @box-dimension;
      height: @box-dimension;
      &:hover .box_about_content {
        left: 0;
      }
      &:hover .about_content {
        opacity: 1;
      }
      .box_about_content {
        position: absolute;
        left: 300px;
        display: inherit;
        background: @ultranav-box;
        width: @box-dimension;
        height: @box-dimension;
        box-shadow: 1.6px 1.6px 16px 1.5px @ultranav-box-shadow;
        transition: all .7s;
      }
    }
    .about_content {
      font: 20px 'Arial';
      opacity: 0;
      position: absolute;
      top: 20px;
      right: 0;
      left: 450px;
      transition: all .5s .2s;
    }*/
}
#ultra_nav .menu .box {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #2e2e2e;
  width: 400px;
  height: 400px;
  box-shadow: 1.6px 1.6px 16px 1.5px rgba(8, 8, 8, 0.88);
}
#ultra_nav .menu .box:last-child {
  float: right;
}
#ultra_nav .menu .box .box_text {
  font-size: 30px;
}
#ultra_nav .menu .box .box_text .box_header {
  position: relative;
  overflow: hidden;
}
#ultra_nav .menu .box .box_text .box_header .header_maintext {
  padding: 38px 28px;
  font: 1.15em 'Ubuntu', sans-serif;
  text-transform: uppercase;
  display: inherit;
  line-height: 0;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}
#ultra_nav .menu .box .box_text .box_header .before,
#ultra_nav .menu .box .box_text .box_header .after {
  position: absolute;
  background: rgba(18, 18, 18, 0.9);
  transition: all 0.5s ease-out;
}
#ultra_nav .menu .box .box_text .box_header .before {
  height: 45px;
  width: 100px;
  left: -30px;
  bottom: -10px;
  transform: rotateZ(45deg) translateY(45px);
}
#ultra_nav .menu .box .box_text .box_header .after {
  height: 100px;
  width: 45px;
  right: -10px;
  top: -30px;
  transform: rotateZ(-45deg) translateX(45px);
}
#ultra_nav .menu .box .box_text .box_header .below,
#ultra_nav .menu .box .box_text .box_header .over {
  position: absolute;
  background: url('https://i.gyazo.com/d3454e553f00a384862950210990c16c.png');
  background-attachment: fixed;
  width: 100%;
  height: 0;
  left: 0;
  animation: 1.3s boxcurtain_height cubic-bezier(0.8, 0, 1, 1), 1s boxcurtain_width_left ease-out;
}
#ultra_nav .menu .box .box_text .box_header .below {
  bottom: 4px;
}
#ultra_nav .menu .box .box_text .box_header .over {
  top: 4px;
}
#ultra_nav .menu .box .box_text .box_header .below_overlay {
  border-top: 3px solid;
  animation: 1.3s boxcurtain_height cubic-bezier(0.8, 0, 1, 1);
}
#ultra_nav .menu .box .box_text .box_header .over_overlay {
  border-bottom: 3px solid;
  animation: 1.3s boxcurtain_height cubic-bezier(0.8, 0, 1, 1);
}
#ultra_nav .menu .box .box_text .box_header:hover .before {
  transform: rotateZ(45deg) translateY(0);
}
#ultra_nav .menu .box .box_text .box_header:hover .after {
  transform: rotateZ(-45deg) translateX(0);
}
#ultra_nav .menu .box .box_text .box_header#header_box1 {
  background: url('https://i.gyazo.com/d3454e553f00a384862950210990c16c.png');
  background-attachment: fixed;
}
#ultra_nav .menu .box .box_text a {
  padding: 20px 10px;
  display: inherit;
  text-decoration: none;
  color: inherit;
  transition: all 0.9s, padding-left 0.1s, background 1.2s cubic-bezier(0.87, 0, 1, 1);
  line-height: 50px;
}
#ultra_nav .menu .box .box_text a:hover {
  padding: 48px 48px 48px 17px;
}
#ultra_nav .menu .box .box_text a:hover::before {
  content: '';
  position: absolute;
  left: 0;
  height: 44px;
  border-left: solid 5px #271d0a;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
#ultra_nav .menu .box .box_text a#box1text1 {
  background: url('https://i.gyazo.com/d3454e553f00a384862950210990c16c.png');
  background-size: cover;
}
#ultra_nav .menu .box .box_text a#box1text1:hover {
  background: url('https://i.gyazo.com/aee35492a1a0a171280fe4f7a0d97343.png');
  background-size: cover;
}
#ultra_nav .menu .box .box_text a:nth-of-type(1) {
  animation: .6s boxtext_shiftin, .8s fadein;
}
#ultra_nav .menu .box .box_text a:nth-of-type(2) {
  animation: 1s boxtext_shiftin, .8s fadein;
}
#ultra_nav .menu .box .box_text a:nth-of-type(3) {
  animation: 1.4s boxtext_shiftin, .8s fadein;
}
@keyframes shiftin {
  from {
    transform: translateY(-60px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftin3 {
  from {
    transform: translateY(-48px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.08;
  }
}
@keyframes fadein2 {
  from {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes cellexpand {
  from {
    padding: 0 28px;
    color: rgba(0, 0, 0, 0);
  }
}
@keyframes boxtext_shiftin {
  from {
    transform: translateX(-40px);
  }
}
@keyframes boxcurtain_height {
  from {
    height: 38px;
  }
}
@keyframes boxcurtain_width_left {
  from {
    width: 0;
    left: 200px;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.032);
  }
  62% {
    transform: rotateZ(-3.5deg) scale(1.048);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes shade_is_super {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
