/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
body {
  background: #2b2b2b;
  font-family: Arial;
}
#head_block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
  margin: auto;
  box-shadow: 1px 3px 13px 1px rgba(26, 26, 26, 0.77);
  background-color: #363636;
  max-width: 1130px;
  height: 410px;
  color: #f2f2f2;
  text-align: center;
  /*border-left: solid 5px;
  border-right: solid 5px;
  border-radius: 5px;
  border-color: mix(@header-background-color, lime, 85%);*/
}
#head_block span {
  position: absolute;
  background-color: #f2f2f2;
  z-index: 1;
}
#head_block span#overlay_top,
#head_block span#overlay_bottom {
  width: 648px;
  height: 11px;
}
#head_block span#overlay_top {
  top: 120px;
  animation: 1.5s loltop, 1.5s fadein;
}
#head_block span#overlay_bottom {
  bottom: 120px;
  animation: 1.5s lolbottom, 1.5s fadein;
}
#head_block span#overlay_right,
#head_block span#overlay_left {
  width: 11px;
  height: 170px;
}
#head_block span#overlay_right {
  right: 242px;
  animation: 1.5s lolright, 1.5s fadein;
}
#head_block span#overlay_left {
  left: 241px;
  animation: 1.5s lolleft, 1.5s fadein;
}
#head_block #main_header {
  border: solid 11px;
  transition: .5s;
  animation: 1.2s fadein, 1.02s shiftin, 2s borderbuildup;
}
#head_block #main_header:hover {
  color: #C9E8E5;
  transform: scale(0.968);
}
#head_block #main_header h1 {
  font: bold 105px 'Century Gothic', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 83px;
  margin: 0;
  padding: 30px 30px 35px;
  transition: .9s;
  animation: 1.8s fadein, 1.3s rotateX;
}
#head_block #main_header h1:hover {
  color: #A1D7DD;
  transform: scale(0.7) scale(1.47);
}
#head_block #main_header h1::selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block #main_header h1::-webkit-selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block #main_header h1::-moz-selection {
  background-color: transparent;
  color: #1398A9;
}
#head_block p {
  position: absolute;
  bottom: 30px;
  font: 19px 'Segoe UI';
  animation: 0.8s shiftin ease-out, 0.8s fadein ease-in;
}
#head_block p::selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-webkit-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::-moz-selection {
  background-color: transparent;
  color: #DB968C;
}
#head_block p::before,
#head_block p::after {
  content: '';
  border-bottom: solid 1px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}
#head_nav {
  margin-top: 15px;
  position: sticky;
  top: 2px;
  z-index: 10;
}
#head_nav nav {
  margin: 25px auto auto;
  padding: 15px;
  background-color: rgba(51, 51, 51, 0.76);
  max-width: 615px;
  animation: 5s fadein2;
}
#head_nav nav #links {
  font: 22px Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  animation: 1.15s shiftin cubic-bezier(0.52, 0.51, 0.61, 0.99), 1.22s fadein;
}
#head_nav nav #links::selection {
  background-color: transparent;
}
#head_nav nav #links::-webkit-selection {
  background-color: transparent;
}
#head_nav nav #links::-moz-selection {
  background-color: transparent;
}
#head_nav nav #links a {
  padding: 5px 5px 3px;
  text-decoration: none;
  background: rgba(71, 71, 71, 0.65);
  color: #d9d9d9;
  display: inline-block;
  border: solid 2px;
  transition: all .8s, color .38s;
}
#head_nav nav #links a::before,
#head_nav nav #links a::after {
  content: '';
  border-bottom: solid 1.5px;
  vertical-align: middle;
  width: 0;
  display: inline-block;
  transition: all .8s;
}
#head_nav nav #links a:hover {
  margin: 0 13px;
  transition: transform 0;
  transform: scale(1.07);
  box-shadow: 1px 1px 6px #212121;
  animation: .36s buttonshake;
}
#head_nav nav #links a:hover::before,
#head_nav nav #links a:hover::after {
  width: 10px;
}
@media screen and (max-width: 430px) {
  #head_nav nav #links a:hover {
    margin: 0;
  }
  #head_nav nav #links a:hover::before,
  #head_nav nav #links a:hover::after {
    width: 2.5px;
  }
}
#head_nav nav #links a:active {
  color: #A1D7DD;
}
#head_nav nav #links a::selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav nav #links a::-webkit-selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav nav #links a::-moz-selection {
  background-color: transparent;
  color: #2fbb6d;
}
#head_nav #expanding_border {
  margin: 3px auto auto;
  max-width: 710px;
  border-bottom: solid 2px;
  border-radius: 150px;
  color: #bababa;
  animation: 2.7s borderglide, 2.5s fadein, 2s shiftin2;
}
#ultra_nav {
  color: #000000;
}
#ultra_nav .menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 35px auto 0;
  max-width: 1000px;
}
#ultra_nav .menu.menu_about {
  justify-content: center;
}
#ultra_nav .menu:nth-of-type(1) .box:nth-of-type(1) {
  animation: 0.8s shiftin2 ease-out;
}
#ultra_nav .menu:nth-of-type(1) .box:nth-of-type(1) .box_header,
#ultra_nav .menu:nth-of-type(1) .box:nth-of-type(1) .curtain_below,
#ultra_nav .menu:nth-of-type(1) .box:nth-of-type(1) .curtain_above {
  background-image: url('https://i.gyazo.com/7f6a04143c26fa071b91457ace2e70eb.png');
}
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(1) {
  animation: 1s shiftin2 ease-out;
}
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(1) .box_header,
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(1) .curtain_below,
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(1) .curtain_above {
  background-image: url('https://i.gyazo.com/7f6a04143c26fa071b91457ace2e70eb.png');
}
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(2) {
  animation: 1.2s shiftin2 ease-out;
}
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(2) .box_header,
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(2) .curtain_below,
#ultra_nav .menu:nth-of-type(2) .box:nth-of-type(2) .curtain_above {
  background-image: url('https://i.gyazo.com/7f6a04143c26fa071b91457ace2e70eb.png');
}
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(1) {
  animation: 1.4s shiftin2 ease-out;
}
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(1) .box_header,
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(1) .curtain_below,
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(1) .curtain_above {
  background-image: url('https://i.gyazo.com/7f6a04143c26fa071b91457ace2e70eb.png');
}
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(2) {
  animation: 1.6s shiftin2 ease-out;
}
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(2) .box_header,
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(2) .curtain_below,
#ultra_nav .menu:nth-of-type(3) .box:nth-of-type(2) .curtain_above {
  background-image: url('https://i.gyazo.com/7f6a04143c26fa071b91457ace2e70eb.png');
}
@media screen and (max-width: 845px) {
  #ultra_nav .menu {
    justify-content: center;
  }
  #ultra_nav .menu .box {
    margin: 0 10px 25px 10px;
  }
  #ultra_nav .menu .box.box_about:hover {
    width: 400px;
    height: auto;
  }
}
#ultra_nav .box {
  font-size: 30px;
  position: relative;
  overflow: hidden;
  background: #2e2e2e;
  width: 400px;
  height: 400px;
  box-shadow: 1.4px 1.4px 13px 1px rgba(10, 10, 10, 0.88);
}
#ultra_nav .box.box_about {
  position: static;
  height: 82px;
  transition: all 0.92s cubic-bezier(0.71, 0.12, 0.45, 0.81);
}
#ultra_nav .box.box_about:hover {
  width: 100%;
  height: 400px;
  transition: all .7s;
}
#ultra_nav .box.box_about:hover .about_content {
  transform: scale(1);
  opacity: 1;
  transition: all 0.45s;
}
#ultra_nav .box.box_about .about_content {
  font: 25px 'Roboto', sans-serif;
  margin: 15px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.7s cubic-bezier(0.8, 0, 0.79, 0.74), opacity 0.525s ease;
}
#ultra_nav .box .box_header {
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}
#ultra_nav .box .box_header .header_maintext {
  padding: 38px 28px;
  font: 1.15em 'Arial', sans-serif;
  text-transform: uppercase;
  display: inherit;
  line-height: 0;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
#ultra_nav .box .box_header .corneranimation .corner_before,
#ultra_nav .box .box_header .corneranimation .corner_after {
  position: absolute;
  background: rgba(18, 18, 18, 0.9);
  transition: all 0.5s ease-out;
}
#ultra_nav .box .box_header .corneranimation .corner_before {
  height: 45px;
  width: 100px;
  left: -30px;
  bottom: -10px;
  transform: rotateZ(45deg) translateY(45px);
}
#ultra_nav .box .box_header .corneranimation .corner_after {
  height: 100px;
  width: 45px;
  right: -10px;
  top: -30px;
  transform: rotateZ(-45deg) translateX(45px);
}
#ultra_nav .box .box_header:hover .corner_before {
  transform: rotateZ(45deg) translateY(0);
}
#ultra_nav .box .box_header:hover .corner_after {
  transform: rotateZ(-45deg) translateX(0);
}
#ultra_nav .box .box_header .curtainanimation * {
  position: absolute;
  width: 100%;
  left: 0;
}
#ultra_nav .box .box_header .curtainanimation .curtain_below,
#ultra_nav .box .box_header .curtainanimation .below_overlay {
  bottom: 0;
}
#ultra_nav .box .box_header .curtainanimation .curtain_above,
#ultra_nav .box .box_header .curtainanimation .above_overlay {
  top: 0;
}
#ultra_nav .box .box_header .curtainanimation .curtain_below,
#ultra_nav .box .box_header .curtainanimation .curtain_above {
  background-attachment: fixed;
  height: 0;
  animation: 1.1s boxcurtain_imageheight cubic-bezier(0.8, 0, 1, 1);
}
#ultra_nav .box .box_header .curtainanimation .below_overlay,
#ultra_nav .box .box_header .curtainanimation .above_overlay {
  height: 100%;
}
#ultra_nav .box .box_header .curtainanimation .below_overlay {
  border-top: none;
  animation: 1s boxcurtain_width_left ease-out, 1.3s boxcurtain_bordertop;
}
#ultra_nav .box .box_header .curtainanimation .above_overlay {
  border-bottom: none;
  animation: 1s boxcurtain_width_left ease-out, 1.3s boxcurtain_borderbottom;
}
#ultra_nav .box a {
  padding: 20px 10px;
  display: inherit;
  text-decoration: none;
  color: inherit;
  transition: all 0.9s, padding-left 0.1s, background 1.2s cubic-bezier(0.87, 0, 1, 1);
  line-height: 50px;
}
#ultra_nav .box a:hover {
  padding: 48px 48px 48px 17px;
}
#ultra_nav .box a:hover::before {
  content: '';
  position: absolute;
  left: 0;
  height: 44px;
  border-left: solid 5px #171717;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
#ultra_nav .box a#box1text1 {
  background: url('https://i.gyazo.com/d3454e553f00a384862950210990c16c.png');
  background-size: cover;
}
#ultra_nav .box a#box1text1:hover {
  background: url('https://i.gyazo.com/aee35492a1a0a171280fe4f7a0d97343.png');
  background-size: cover;
}
#ultra_nav .box a:nth-of-type(1) {
  animation: .6s boxtext_shiftin, .8s fadein;
}
#ultra_nav .box a:nth-of-type(2) {
  animation: 1s boxtext_shiftin, .8s fadein;
}
#ultra_nav .box a:nth-of-type(3) {
  animation: 1.4s boxtext_shiftin, .8s fadein;
}
@keyframes shiftin {
  from {
    transform: translateY(-60px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes fadein2 {
  from {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
  to {
    border-width: 0;
  }
}
@keyframes boxtext_shiftin {
  from {
    transform: translateX(-40px);
  }
}
@keyframes boxcurtain_imageheight {
  0% {
    height: 50%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 0;
  }
}
@keyframes boxcurtain_bordertop {
  from,
  to {
    border-top: solid 3px;
  }
}
@keyframes boxcurtain_borderbottom {
  from,
  to {
    border-bottom: solid 3px;
  }
}
@keyframes loltop {
  from {
    top: 0;
    transform: rotateZ(30deg);
  }
}
@keyframes lolbottom {
  from {
    bottom: 28px;
    transform: rotateZ(54deg);
  }
}
@keyframes lolleft {
  from {
    left: 23px;
    transform: rotateZ(-30deg);
  }
}
@keyframes lolright {
  from {
    right: 72px;
    transform: rotateZ(12deg);
  }
}
@keyframes boxcurtain_width_left {
  0% {
    width: 0;
    left: 200px;
  }
  15% {
    width: 0;
    left: 200px;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.032);
  }
  62% {
    transform: rotateZ(-3.5deg) scale(1.048);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes shade_is_super {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
