/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome :o
*/
#main {
  display: flex;
  padding: 30px 15px 15px;
}
#main aside {
  position: sticky;
  font: 30px 'Roboto', sans-serif;
  margin-right: 30px;
  padding: 15px;
  width: 25%;
  height: 520px;
  background: #383838;
}
#main aside a {
  margin: 8px;
  display: block;
}
#main #main_content {
  width: 100%;
  height: 2000px;
  background: #303030;
}
@keyframes shiftin {
  from {
    transform: translateY(-60px);
  }
}
@keyframes shiftin2 {
  from {
    transform: translateY(-20px);
  }
}
@keyframes shiftinX {
  from {
    transform: translateX(-40px);
  }
}
@keyframes rotateX {
  to {
    transform: rotateX(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes fadein2 {
  from {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
}
@keyframes borderbuildup {
  from {
    border-width: 0;
  }
}
@keyframes borderglide {
  from {
    max-width: 0;
  }
}
@keyframes buttonshake {
  0% {
    transform: none;
  }
  38% {
    transform: rotateZ(2.8deg) scale(1.032);
  }
  62% {
    transform: rotateZ(-3.5deg) scale(1.048);
  }
  100% {
    transform: scale(1.07);
  }
}
/*
@keyframes shake_horizontal {
  0%, 100% { transform: none }
  20%      { transform: translateX(-3px); }
  40%      { transform: translateX(2.1px); }
  60%      { transform: translateX(-1.3px); }
  80%      { transform: translateX(0.5px); }
}
@keyframes radius_easeOutBounce {
  0%   { border-radius: none }
  35%  { border-radius: 17px; }
  53%  { border-radius: 12.4px; }
  70%  { border-radius: 17px; }
  80%  { border-radius: 15.5px; }
  89%  { border-radius: 17px; }
  95%  { border-radius: 16.35px; }
  100% { border-radius: 17px; }
}*/
/*@keyframes wtflol {
  0%, 100% { transform: none }
  20%      { transform: translateX(-450px) scale(3) rotateX(200deg); opacity: 0.5; background: red; }
  40%      { transform: translateX(350px) scale(2) rotateX(360deg); opacity: 1; background: blue; }
  60%      { transform: translateX(-210px) scale(5) rotateX(260deg); opacity: 0.2; background: green; }
  80%      { transform: translateX(100px) scale(1) rotateX(90deg); opacity: 0.8; background: yellow; }
}*/
