/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
body {
  font-family: 'Raleway', sans-serif;
}
#tutorial_header {
  display: flex;
  align-items: center;
  height: 110px;
  width: 100%;
  background-color: #212121;
}
#tutorial_header .header_navigation {
  font-size: 50px;
  font-size: calc(33px + 0.9vw);
  font-family: "Overpass Mono", sans-serif;
  letter-spacing: -0.006em;
  white-space: nowrap;
  color: #999999;
  transform: translateX(calc(-70px + 9.5vw));
}
@media (max-width: 834px) {
  #tutorial_header .header_navigation {
    transform: none;
    margin-left: 10px;
  }
}
#main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 35px 30px;
}
#main #main_content {
  width: 70%;
  max-width: 1050px;
  height: 2000px;
  padding: 80px 35px 35px;
}
.tutorial_nav {
  position: sticky;
  top: 55px;
  font-size: 25px;
  color: #8f8f8f;
  margin-right: 30px;
}
.tutorial_nav span {
  display: block;
  white-space: nowrap;
  margin: 4px;
}
.tutorial_nav .aside_container {
  margin: 15px 0;
}
.tutorial_nav .aside_container .nested_items {
  margin-left: 15px;
  font-size: .77em;
}
.tutorial_nav#headline_tutorials {
  top: 0;
  display: none;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  z-index: 8;
}
.tutorial_nav#headline_tutorials .aside_container {
  margin: 0;
  padding: 8px;
  cursor: pointer;
  transition: .22s;
}
.tutorial_nav#headline_tutorials .aside_container:hover {
  background-color: #242424;
}
.tutorial_nav#headline_tutorials .aside_container .nested_items {
  display: none;
}
.tutorial_nav#headline_tutorials .aside_container.models.enabled .nested_items {
  display: block;
}
.tutorial_nav#headline_tutorials .aside_container.blockstates.enabled .nested_items {
  display: block;
}
.headline_expanded .tutorial_nav#headline_tutorials {
  transform: translateY(60px);
}
@media (max-width: 1050px) {
  #main_wrapper {
    width: 100% !important;
  }
  aside.tutorial_nav {
    display: none;
  }
  .tutorial_nav#headline_tutorials {
    display: flex;
  }
}
