// out: ../css/blog.css, sourcemap: false, compress: false

/* Zilla Slab by Mozilla @ https://github.com/mozilla/zilla-slab */
@font-face {
  font-family: 'Zilla Slab';
  font-weight: bold;
  src:
    local('Zilla Slab Bold'),
    local('ZillaSlab-Bold'),
    url('../resources/fonts/ZillaSlab/ZillaSlab-bold.woff2') format('woff2'),
    url('../resources/fonts/ZillaSlab/ZillaSlab-bold.woff') format('woff');
}

body {
  font-size: calc(.05vw + .025vh + 17.12px);
}

#main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#navbar {
  font-size: 1.749em;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.box {
  width: 19em;
  border-top-color: hsl(0, 0%, 16.5%);
  .box_header {
    padding: .65em .75em;
    color: hsl(0, 0%, 85%);
    font-family: 'Zilla Slab'; //TODO: improve font suppport
    font-size: 1.1em;
    font-weight: bold;
    text-transform: none;
    .inner {
      width: 75%;
      display: inline-block;
    }
  }
  .description {
    padding: .5em .75em;
  }
}
