// main: global.less|main.less|slider89/index.less

@theme-color: #17469E;

@background-color: hsl(0, 0%, 9%);
@foreground-color: hsl(0, 0%, 60%);

@background-color--light: hsl(0, 0%, 92%);
@foreground-color--light: hsl(0, 0%, 35%);

@scrollbar-thumb: lighten(@background-color, 21%);
@scrollbar-track: lighten(@background-color, 9%);

@header-selection: @theme-color;
@subheader-selection: #469870;


@cookiebanner-foreground: lighten(@glb-box-description-foreground, 15%);
@cookiebanner-button: lighten(@glb-box, 7%);
@cookiebanner-button-foreground: lighten(@glb-box-description-foreground, 20%);

@cookiebanner-foreground--light: darken(@glb-box-description-foreground--light, 15%);
@cookiebanner-button--light: darken(@glb-box--light, 8%);
@cookiebanner-button-foreground--light: darken(@glb-box-description-foreground--light, 25%);


@headline-background: darken(@background-color, 2.5%);
@mode-gear: mix(darken(@foreground-color, 5%), @theme-color, 30%);

@mode-dropdown-box: lighten(@header-background-color, 2.8%);
@mode-dropdown-shadow: fadeout(darken(@mode-dropdown-box, 4%), 20%);
@mode-dropdown-extreme-shadow: fadeout(darken(@header-background-color, 3%), 10%);
@mode-dropdown-bordertop: lighten(@mode-dropdown-box, 17%);
@mode-dropdown-borderbottom: mix(@header-background-color, @mode-dropdown-box, 50%);
@mode-dropdown-header-foreground: darken(@foreground-color, 17%);
@mode-dropdown-header-background: lighten(@mode-dropdown-box, 1%);
@mode-switch-foreground: darken(@foreground-color, 1%);
@mode-switch-background: @mode-dropdown-box;
@mode-switch-background-hover: lighten(@mode-switch-background, 3%);

@mode-dropdown-box--light: lighten(@header-background-color--light, 2%);
@mode-dropdown-shadow--light: fadeout(darken(@mode-dropdown-box--light, 4%), 20%);
@mode-dropdown-extreme-shadow--light: fadeout(darken(@header-background-color--light, 9%), 10%);
@mode-dropdown-bordertop--light: lighten(@mode-dropdown-box--light, 17%);
@mode-dropdown-borderbottom--light: mix(@header-background-color--light, @mode-dropdown-box--light, 50%);
@mode-dropdown-header-foreground--light: lighten(@foreground-color--light, 17%);
@mode-dropdown-header-background--light: lighten(@mode-dropdown-box--light, 1%);
@mode-switch-foreground--light: @foreground-color--light;
@mode-switch-background--light: @mode-dropdown-box--light;
@mode-switch-background-hover--light: lighten(@mode-switch-background--light, 3%);

@heading-foreground-color: lighten(@foreground-color, 2.5%);
@heading-shadow: darken(@heading-foreground-color, 14%);

@heading-foreground-color--light: lighten(@foreground-color--light, 9%);
@heading-shadow--light: lighten(@heading-foreground-color--light, 14%);

@header-background-color: lighten(@background-color, 4%);
@header-shadow: fadeout(darken(@background-color, 3%), 25%);

@header-background-color--light: lighten(@background-color--light, 4%);
@header-shadow--light: fadeout(darken(@background-color--light, 15%), 25%);


@glb-box: lighten(@background-color, 2.5%);
@glb-box-corners: darken(@glb-box, 5.5%);
@glb-box-shadow: fadeout(darken(@glb-box, 4%), 20%);
@glb-box-extreme-shadow: fadeout(darken(@background-color, 3%), 10%);
@glb-box-bordertop: lighten(@glb-box, 17%);
@glb-box-borderbottom: mix(@glb-box, @background-color, 50%);
@glb-box-header-foreground: darken(@foreground-color, 26%);
@glb-box-header-background: lighten(@glb-box, 1%);
@glb-box-description-foreground: darken(@foreground-color, 7%);

@glb-box--light: lighten(@background-color--light, 3.5%);
@glb-box-corners--light: darken(@glb-box--light, 9%);
@glb-box-shadow--light: fadeout(darken(@glb-box--light, 6%), 20%);
@glb-box-extreme-shadow--light: fadeout(darken(@background-color--light, 9%), 10%);
@glb-box-bordertop--light: lighten(@glb-box--light, 17%);
@glb-box-borderbottom--light: mix(@glb-box--light, @background-color--light, 50%);
@glb-box-header-foreground--light: lighten(@foreground-color--light, 26%);
@glb-box-header-background--light: lighten(@glb-box--light, 1.5%);
@glb-box-description-foreground--light: @foreground-color--light;


@footer-background: darken(@background-color, 3.5%);
@footer-foreground: lighten(@footer-background, 79.5%);
@footer-list-item: darken(@footer-foreground, 10%);
@footer-sidenote: darken(@footer-foreground, 15%);
@footer-hr: darken(@footer-foreground, 53%);

@footer-background--light: darken(@background-color--light, 78.5%);
@footer-foreground--light: lighten(@footer-background--light, 78.5%);
@footer-list-item--light: darken(@footer-foreground--light, 10%);
@footer-sidenote--light: darken(@footer-foreground--light, 10%);
@footer-hr--light: darken(@footer-foreground--light, 53%);


@nesewebel-background: black;
@nesewebel-foreground: white;
@nesewebel-header-shadow: fadeout(lighten(@nesewebel-background, 15%), 20%);
@nesewebel-heading-shadow: darken(@nesewebel-foreground, 25%);
@nesewebel-box-shadow: fadeout(lighten(@nesewebel-background, 4%), 25%);
@nesewebel-box-corners: lighten(@nesewebel-background, 6%);
@nesewebel-box-bordertop: lighten(@nesewebel-background, 14%);
@nesewebel-box-borderbottom: lighten(@nesewebel-background, 2.5%);
@nesewebel-box-hover: lighten(@nesewebel-background, 5%);

@nesewebel-background--light: @nesewebel-foreground;
@nesewebel-foreground--light: @nesewebel-background;
@nesewebel-header-shadow--light: fadeout(darken(@nesewebel-background--light, 12%), 20%);
@nesewebel-heading-shadow--light: lighten(@nesewebel-foreground--light, 35%);
@nesewebel-box-shadow--light: fadeout(darken(@nesewebel-background--light, 4%), 25%);
@nesewebel-box-corners--light: darken(@nesewebel-background--light, 6%);
@nesewebel-box-bordertop--light: darken(@nesewebel-background--light, 10%);
@nesewebel-box-borderbottom--light: darken(@nesewebel-background--light, 2.5%);
@nesewebel-box-hover--light: darken(@nesewebel-background--light, 2%);
