// main: global.less|main.less|slider89/index.less

@theme-color: #17469E;

@focus-width: 3px;
@focus-color: #1960C9;

@main-bg: hsl(0, 0%, 8%);
@main-color: hsl(0, 0%, 88%);

@scrollbar-thumb: lighten(@main-bg, 35%);
@scrollbar-track: lighten(@main-bg, 6%);

@navbar: lighten(@navbar-bg, 75%);
@navbar-bg: darken(@main-bg, 4.5%);

@heading-shadow: darken(@main-color, 25%);

@gbl-box-bg: lighten(@main-bg, 3%);
@gbl-box-backdrop-opacity: .675;
@gbl-box-backdrop-bg: fade(@gbl-box-bg, @gbl-box-backdrop-opacity * 100%);
@gbl-box-quicklinks-border-top: fade(lighten(@gbl-box-bg, 2%), @gbl-box-backdrop-opacity * 100%);
@gbl-box-quicklinks-hover-background: fade(darken(@gbl-box-backdrop-bg, 3.5%), 22.5%);
@gbl-box-quicklinks-hover-border-top: fade(lighten(@gbl-box-quicklinks-border-top, 2%), 25%);
@gbl-box-shadow: fade(darken(@gbl-box-bg, 5%), 28.5%);
@gbl-box-shadow-hover: fade(darken(@gbl-box-bg, 5%), 47.5%);
@gbl-box-border-top: lighten(@gbl-box-bg, 16%);
@gbl-box-border-bottom: mix(hsl(0, 0%, 0%), @main-bg, 50%);

@cookiebanner-button-bg: lighten(@gbl-box-bg, 6%);
@cookiebanner-active-modifier: 1.5%;
@cookiebanner-button-bg-active: darken(@cookiebanner-button-bg, @cookiebanner-active-modifier);

@footer-bg: darken(@main-bg, 3.5%);
@footer-list-item: darken(@main-color, 10%);
@footer-sidenote: darken(@main-color, 15%);
@footer-hr: darken(@main-color, 53%);


//Light mode
@main-color--lt: hsl(0, 0%, 4%);

@navbar--lt: darken(@navbar-bg--lt, 75%);
@navbar-bg--lt: hsl(0, 0%, 97%);

@heading-color--lt: lighten(@main-color--lt, 9%);
@heading-shadow--lt: lighten(@heading-color--lt, 25%);

@footer-color--lt: white;
@footer-bg--lt: hsl(0, 0%, 19%);
@footer-list-item--lt: darken(@footer-color--lt, 10%);
@footer-sidenote--lt: darken(@footer-color--lt, 15%);
@footer-hr--lt: darken(@footer-color--lt, 53%);
