// out: ../css/global.css, sourcemap: false, compress: false,

/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/

@import (reference) 'colors';
@import (reference) 'mixins';


html {
  scrollbar-color: @scrollbar-thumb @scrollbar-track;
  &.light-mode {
    scrollbar-color: auto;
  }
}

body {
  background-color: @background-color;
  font-family: Arial, 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', sans-serif;
  .mode-transition.background();
  html.light-mode & {
    background-color: @background-color--light;
  }
}

#cookiebanner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  font-size: calc(.3vw + .1vh + 14.68px);
  border-bottom: 3px solid @glb-box-borderbottom;
  box-shadow: 1px -2px 6px @glb-box-shadow;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition+: clip-path .2s cubic-bezier(.35,.05,.35,.95), opacity .4s ease;
  .mode-transition.background();
  .mode-transition.shadow();
  .mode-transition.border();
  .description {
    color: @cookiebanner-foreground;
    padding: .55em .7em;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: @glb-box-bordertop;
    transition: all .08s ease-out;
    z-index: 1;
  }
  button {
    position: relative;
    border: none;
    padding: 0 1em;
    background-color: @cookiebanner-button;
    color: @cookiebanner-button-foreground;
    font-size: inherit;
    font-family: 'San Francisco Monospace', 'Consolas';
    letter-spacing: -.5px;
    cursor: pointer;
    .mode-transition.background();
    .mode-transition.color();
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      width: 0;
      background-color: @cookiebanner-button;
      z-index: -1;
      border-radius: 100px;
      transition+: all .55s cubic-bezier(.45, .12, .22, 1);
      .mode-transition.background();
    }
  }
  &.removing {
    button::before {
      width: calc(200vw - 100%);
      border-radius: 0;
      transform: translateX(-100vw);
    }
  }
  &.removing2 {
    .background {
      height: 100%;
    }
  }
  &.removing3 {
    opacity: 0;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  &.gone {
    display: none;
  }
  &.invisible {
    opacity: 0;
    visibility: hidden;
  }

  html.light-mode & {
    border-bottom: 3px solid @glb-box-borderbottom--light;
    box-shadow: 1px -2px 6px @glb-box-shadow--light;
    .description {
      color: @cookiebanner-foreground--light;
    }
    .background {
      background-color: @glb-box-bordertop--light;
    }
    button {
      color: @cookiebanner-button-foreground--light;
      &, &::before {
        background-color: @cookiebanner-button--light;
      }
    }
  }

  @media (max-width: 420px) {
    flex-direction: column;
    button {
      padding: .6em 0;
      letter-spacing: normal;
      position: static;
      &::before {
        left: 0;
        top: auto;
        bottom: 2em;
        height: 0%;
        width: 100%;
        border-radius: 10px;
        transition: none;
      }
    }
    &.removing {
      button::before {
        width: 100%;
        transform: none;
        height: calc(100% - 2em);
        border-radius: 0;
        transition: all .55s cubic-bezier(.45, .12, .22, 1);
      }
    }
  }
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .4em;
  font-size: calc(.2vw + .06vh + 27.6px);
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 60%);
  box-sizing: border-box;
  a {
    color: inherit;
    text-decoration: none;
  }
  .text {
    font-family: 'Century Gothic', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    img {
      display: block;
      width: 1.9em;
      height: 1.9em;
      border-radius: 100%;
      margin-right: .3em;
    }
    .name {
      font-weight: 600;
    }
    .arrow {
      font-family: 'Source Code Pro', 'Consolas', 'Century Gothic', sans-serif;
      padding: 0 .3em;
      font-weight: 500;
      .noselect();
    }
    .item {
      font-family: 'San Francisco', 'Arial', sans-serif;
    }
  }
}

#modes {
  position: relative;
  &.enabled .dropdown_box {
    clip: rect(-12px 230px 180px 0px); //this is an amazing fallback for browsers without clip-path (which are a lot)
    clip-path: circle(150% at 130.5px -40px);
  }
  &.enabled .mode_gear {
    transform: rotateZ(135deg);
  }
  .mode_gear {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1.5em;
    transition: all .45s cubic-bezier(.52,.15,.16,1.2);
    color: @mode-gear;
    cursor: pointer;
    &::before {
      display: block;
    }
  }
  .dropdown_box {
    clip: rect(-12px 230px -12px 0px);
    clip-path: circle(0 at 130.5px -40px);
    position: absolute;
    font-size: .95em;
    right: 0;
    margin: 15px 0 0;
    border-top: 3px solid @mode-dropdown-bordertop;
    border-bottom: 3px solid @mode-dropdown-borderbottom;
    box-shadow: 0 3px 1px @mode-dropdown-extreme-shadow, 1px 1px 5px @mode-dropdown-shadow;
    transition+: all .45s cubic-bezier(.52,.15,.16,1.2);
    .mode-transition.background();
    .mode-transition.shadow();
    .mode-transition.border();
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      right: .3em;
      top: -8px;
      border: 15px solid @mode-dropdown-bordertop;
      transform: rotate(45deg);
      .mode-transition.border();
      z-index: -1;
    }
    .dropdown_header {
      background-color: @mode-dropdown-header-background;
      padding: 9px 18px;
      font-family: 'Arial', sans-serif;
      text-transform: uppercase;
      color: @mode-dropdown-header-foreground;
      .mode-transition.color();
      .mode-transition.background();
    }
    .mode_switch {
      font-size: .89em;
      font-family: 'Calibri', 'Times New Roman', serif;
      display: block;
      white-space: nowrap;
      position: relative;
      padding: 9px 9px 9px 12px;
      color: @mode-switch-foreground;
      background-color: @mode-switch-background;
      cursor: pointer;
      transition: all .15s linear;
      .noselect();
      &:hover {
        background-color: @mode-switch-background-hover;
        transition: all .15s linear;
      }
      &::before {
        position: absolute;
        left: 6px;
        top: 7px;
        border-left: 3px solid;
        height: 70%;
        animation: .52s borderglideX;
        @keyframes borderglideX {
          from { height: 0; top: 50%; }
        }
      }
    }
  }
  html.light-mode & .switch_daynight,
  html.nesewebel-mode & .switch_nesewebel {
    &::before {
      content: '';
    }
  }
  html.light-mode & .switch_daynight {
    &::before {
      color: @theme-color;
    }
  }
  html.light-mode & {
    .dropdown_box {
      border-top: 3px solid @mode-dropdown-bordertop--light;
      border-bottom: 3px solid @mode-dropdown-borderbottom--light;
      box-shadow: 0 3px 1px @mode-dropdown-extreme-shadow--light, 1px 1px 5px @mode-dropdown-shadow--light;
      &::before {
        border: 15px solid @mode-dropdown-bordertop--light;
      }
      .dropdown_header {
        background-color: @mode-dropdown-header-background--light;
        color: @mode-dropdown-header-foreground--light;
      }
      .mode_switch {
        color: @mode-switch-foreground--light;
        background-color: @mode-switch-background--light;
        &:hover {
          background-color: @mode-switch-background-hover--light;
        }
      }
    }
  }
}


.glb_box {
  font-size: 1.45em;
  overflow: hidden;
  border-radius: 2px;
  background-color: @glb-box;
  border-top: 4px solid @glb-box-bordertop;
  border-bottom: 4px solid @glb-box-borderbottom;
  box-shadow: 0 4px 1px @glb-box-extreme-shadow, 1px 2px 6px @glb-box-shadow;
  box-sizing: border-box;
  position: relative;
  .mode-transition.background();
  .mode-transition.shadow();
  .mode-transition.border();
  &.hyperbox {
    cursor: pointer;
    text-decoration: none;
    &:any-link {
      // Normalizing (-> removing) the dotted outline when going to the last page while having clicked onto an <a> in Firefox
      color: transparent;
    }
  }
  &.multiplebox {
    display: flex;
    flex-direction: column;
    .links {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        align-items: center;
        color: inherit;
        flex: 1;
        padding: 15px;
        text-decoration: none;
        font-style: italic;
        transition: flex .2s cubic-bezier(.2, .2, .55, 1);
        &:hover {
          flex: 1.3;
        }
      }
    }
  }
  &.imager {
    display: flex;
    flex-direction: column;
  }
  &.imager .image_container, .imager {
    position: relative;
    flex-grow: 1;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-size: cover;
      background-position: 0 50%;
      filter: blur(5px);
      opacity: 0.2;
      transition: all 0.25s cubic-bezier(0, 0, .75, 1);
    }
  }
  &.imager:hover .image_container, .imager:hover {
    &::before {
      filter: none;
      opacity: .5;
    }
  }
//corners shifting in when hovering
  .corneranimation {
    &::before, &::after {
      content: '';
      position: absolute;
      background-color: @glb-box-corners;
      transition+: all .4s ease-out;
      z-index: 2;
      opacity: .65;
      .mode-transition.background();
    }
    &::before {
      height: 40px;
      width: 80px;
      left: -26px;
      bottom: -6px;
      transform: rotateZ(45deg) translateY(40px);
    }
    &::after {
      height: 80px;
      width: 40px;
      right: -6px;
      top: -26px;
      transform: rotateZ(-45deg) translateX(40px);
    }
  }
  &:hover .corneranimation::before {
    transform: rotateZ(45deg) translateY(0);
  }
  &:hover .corneranimation::after {
    transform: rotateZ(-45deg) translateX(0);
  }
//end of corneranimations
//box header
  .box_header {
    background-color: @glb-box-header-background;
    padding: 24px 21px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    color: @glb-box-header-foreground;
    line-height: 28px;
    .mode-transition.background();
    .mode-transition.color();
  }
  .box_text {
    color: @glb-box-description-foreground;
    .mode-transition.color();
  }
  .description {
    font-family: Calibri, 'Times New Roman', serif;
    font-size: 1.04em;
    line-height: 1.19;
    padding: 15px;
    margin: 0;
  }

  html.light-mode & {
    background-color: @glb-box--light;
    border-top: 4px solid @glb-box-bordertop--light;
    border-bottom: 4px solid @glb-box-borderbottom--light;
    box-shadow: 0 4px 1px @glb-box-extreme-shadow--light, 1px 2px 6px @glb-box-shadow--light;
    .corneranimation {
      &::before, &::after {
        background-color: @glb-box-corners--light;
      }
    }
    .box_header {
      background-color: @glb-box-header-background--light;
      color: @glb-box-header-foreground--light;
    }
    .box_text {
      color: @glb-box-description-foreground--light;
    }
  }
}
