// out: ../css/main.css, sourcemap: false, compress: false,

/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/

@import (reference) 'colors';
@import (reference) 'mixins';

body {
  margin: 0;
}

#modes {
  position: absolute;
  top: .4em;
  right: .4em;
  font-size: 1.69em;
  .mode-gear .icon {
    animation: .6s modeIconIn ease;
    @keyframes modeIconIn {
      from {
        transform: rotate(90deg);
        opacity: 0;
      }
    }
  }
}

@header-height: ~'8vw + 16vh + 103px';
#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(@header-height);
  color: @heading;
  .mode-transition.background();
  .mode-transition.shadow();
  h1 {
    font: bold 6.9em 'Century Gothic', 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    transition+: transform .76s;
    .text-shadow.drop(6, @heading-shadow);
    .mode-transition.textshadow();
    .mode-transition.color();
  }
  .subheader {
    position: absolute;
    bottom: calc((@header-height) / 4 - 2em);
    white-space: nowrap;
    .mode-transition.background();
    .mode-transition.color();
  }

  html.light-mode & {
    color: @heading--lt;
    h1 {
      .text-shadow.drop(6, @heading-shadow--lt);
    }
  }
}

#box-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  justify-items: center;
  margin: 1.842em 1.053em;
  grid-gap: 2.105em;
  grid-template-columns: repeat(auto-fit, minmax(21.375em, 1fr));
  align-items: center;
  .box {
    width: 14.9em;
    height: 16.34em;
    .box-header .header-text {
      padding: 0.871em 0.762em;
      line-height: 1.016em;
    }
    .box-animation-loop();
    .box-animation-loop(@amount: 5, @seconds: .5s, @it: 1) when (@it < @amount + 1) {
      &:nth-child(@{it}) {
        .boxanimation(@seconds);
      }
      .box-animation-loop(@amount, @seconds + .08s, @it + 1);
    }
    @keyframes shiftinBox {
      from {
        transform: translateY(-17px);
      }
    }
  }
}
