// main: global.less|main.less|slider89/index.less

.noselect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.boxanimation(@seconds) {
  animation: @seconds shiftinBox ease-out;
}

.text-shadow() {
  .drop(@amount, @color, @trail-comma: false, @it: 0) {
    & when (@it < @amount) {
      text-shadow+:
        unit(@it, px) unit(@it, px) @color,
        @it + .5px @it + .5px @color;
      .text-shadow.drop(@amount, @color, @trail-comma, @it + 1);
    }
    & when (@it = @amount) {
      text-shadow+: unit(@it, px) unit(@it, px) @color;
      & when (@trail-comma = true) {
        text-shadow+: @it + .5px @it + .5px @color;
      }
    }
  }
  .around(@size, @color, @it: 0) when (@it < 4) {
    & when (@it = 0) {
      text-shadow+: unit(@size, px) unit(@size, px) @color;
    }
    & when (@it = 1) {
      text-shadow+: unit(@size, px) unit(-@size, px) @color;
    }
    & when (@it = 2) {
      text-shadow+: unit(-@size, px) unit(@size, px) @color;
    }
    & when (@it = 3) {
      text-shadow+: unit(-@size, px) unit(-@size, px) @color;
    }
    .text-shadow.around(@size, @color, @it + 1);
  }
}

.mode-transition() {
  .background() {
    transition+: background .15s linear;
  }
  .shadow() {
    transition+: box-shadow .15s linear;
  }
  .color() {
    transition+: color .15s linear;
  }
  .textshadow() {
    transition+: text-shadow .15s linear;
  }
  .border() {
    transition+: border .15s linear;
  }
}


.selection(@color; @background: transparent;) {
  &::selection, &::-moz-selection {
    background-color: @background;
    color: @color;
  }
}
