// main: index.less

@nav-item: hsl(0, 0%, 65%);
@nav-item-underline: hsl(0, 0%, 45%);
@nav-item-hover: hsl(0, 0%, 70%);
@nav-item-underline-hover: hsl(0, 0%, 55%);

@main-color: hsl(0, 0%, 68%);

@h2: hsl(0, 0%, 66%);
@h3: hsl(0, 0%, 70%);
@h4: hsl(0, 0%, 65%);
@hr: hsl(0, 0%, 35%);

@general-link: #1398A9;
@general-link-visited: #469870;
@general-link-active: #A84E4E;
@general-link-bg-hover: fade(@general-link, 18%);
@general-link-bg-visited: fade(@general-link-visited, 18%);
@general-link-bg-active: fade(@general-link-active, 18%);

@code-link: hsl(0, 0%, 76%);
@code-link-active: mix(@code-link-bg-hover-visited, hsl(0, 0%, 60%), 70%);
@code-link-underline: hsl(0, 0%, 50%);
@code-link-underline-hover: hsl(0, 0%, 50%);
@code-link-bg-hover: hsla(0, 0%, 60%, .1);
@code-link-bg-hover-visited: hsla(0, 0%, 60%, .18);
@code-link-bg-hover-active: fade(@code-link-active, 18%);

@code: hsl(0, 0%, 70%);
@code-bg: hsl(0, 0%, 13.5%);

@copy-btn-bg: hsl(0, 0%, 17%);
@copy-btn-shadow: hsla(0, 0%, 12%, .2);
@copy-btn-shadow-active: hsla(0, 0%, 10%, .25);
@copy-btn-bg-active: hsl(0, 0%, 18%);
@copy-checkmark: hsl(0, 0%, 70%);

@propname: hsl(0, 0%, 78%);
@propname-bg: hsl(0, 0%, 18.5%);

@heading-anchor: hsl(0, 0%, 60%);

@h4-expand-btn: hsl(0, 0%, 55%);
@h4-expand-btn-bg: hsl(0, 0%, 18%);

@version-select-bg: hsl(0, 0%, 13%);
@version-select-btn: hsl(0, 0%, 65%);
@version-select-btn-bg: hsl(0, 0%, 80%);
@version-select-btn-active: hsl(0, 0%, 16%);

@tab-default: hsl(0, 0%, 20%);
@tab-new: #214031;
@tab-current: #1f4252;
@tab-incompatible: #983838;

@version-banner: hsl(0, 0%, 75%);
@version-banner-bg: fade(@tab-incompatible, 35%);

@info-state: #904851;

@info-item-guide: hsl(0, 0%, 37%);
