/* Zilla Slab by Mozilla @ https://github.com/mozilla/zilla-slab */
@font-face {
  font-family: 'Zilla Slab';
  font-weight: bold;
  src: local('Zilla Slab Bold'), local('ZillaSlab-Bold'), url('../resources/fonts/ZillaSlab/ZillaSlab-bold.woff2') format('woff2'), url('../resources/fonts/ZillaSlab/ZillaSlab-bold.woff') format('woff');
}
body {
  font-size: calc(0.05vw + 0.025vh + 17.12px);
}
#main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#navbar {
  font-size: 1.749em;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.box {
  width: 19em;
  border-top-color: hsl(0, 0%, 16%);
}
.box .box_header {
  padding: 0.65em 0.75em;
  color: hsl(0, 0%, 85%);
  font-family: 'Zilla Slab';
  font-size: 1.1em;
  font-weight: bold;
  text-transform: none;
}
.box .box_header .inner {
  width: 75%;
  display: inline-block;
}
.box .description {
  padding: 0.5em 0.75em;
}
