/* Zilla Slab by Mozilla @ https://github.com/mozilla/zilla-slab */
@font-face {
  font-family: 'Zilla Slab';
  font-weight: bold;
  src:
    local('Zilla Slab Bold'),
    local('ZillaSlab-Bold'),
    url('../resources/fonts/ZillaSlab/ZillaSlab-bold.woff2') format('woff2'),
    url('../resources/fonts/ZillaSlab/ZillaSlab-bold.woff') format('woff');
}

body {
  font-size: calc(.05vw + .025vh + 17.12px);
}

#navbar {
  font-size: 1.749em;
}

header {
  background-color: hsl(0, 0%, 13%);
  padding: 1.1em 2.2em;
  color: hsl(0, 0%, 64%);
}
header h1 {
  margin: 0;
  font-size: 2.85em;
  font-family: 'Zilla Slab';
  word-spacing: .5px;
  letter-spacing: .5px;
}
