/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
html {
  scrollbar-color: #4d4d4d #2e2e2e;
}
html.light-mode {
  scrollbar-color: auto;
}
body {
  margin: 0 0 15px 0;
  background-color: #171717;
  font-family: Arial;
  transition: background .15s linear;
}
html.light-mode body {
  background-color: #ededed;
}
#cookiebanner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  font-size: calc(.3vw + .1vh + 14.68px);
  border-bottom: 3px solid #1a1a1a;
  box-shadow: 1px -2px 6px rgba(19, 19, 19, 0.8);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.2s cubic-bezier(0.35, 0.05, 0.35, 0.95), opacity 0.4s ease, background .15s linear, box-shadow 0.15s linear, border .15s linear;
}
#cookiebanner .description {
  color: #adadad;
  padding: .55em .7em;
}
html.light-mode #cookiebanner .description {
  color: #333333;
}
#cookiebanner .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #494949;
  transition: all 0.08s ease-out;
  z-index: 1;
}
#cookiebanner button {
  position: relative;
  border: none;
  padding: 0 1em;
  background-color: #2f2f2f;
  color: #bababa;
  font-size: inherit;
  font-family: 'San Francisco Monospace', 'Consolas';
  letter-spacing: -0.5px;
  cursor: pointer;
}
#cookiebanner button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 0;
  background: #2f2f2f;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.55s cubic-bezier(0.45, 0.12, 0.22, 1);
}
#cookiebanner.removing button::before {
  width: calc(200vw - 100%);
  border-radius: 0;
  transform: translateX(-100vw);
}
#cookiebanner.removing2 .background {
  height: 100%;
}
#cookiebanner.removing3 {
  opacity: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
#cookiebanner.gone {
  display: none;
}
#cookiebanner.invisible {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 420px) {
  #cookiebanner {
    flex-direction: column;
  }
  #cookiebanner button {
    padding: .6em 0;
    letter-spacing: normal;
    position: static;
  }
  #cookiebanner button::before {
    left: 0;
    top: auto;
    bottom: 2em;
    height: 0%;
    width: 100%;
    border-radius: 10px;
    transition: none;
  }
  #cookiebanner.removing button::before {
    width: 100%;
    transform: none;
    height: calc(100% - 2em);
    border-radius: 0;
    transition: all 0.55s cubic-bezier(0.45, 0.12, 0.22, 1);
  }
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .4em;
  font-size: calc(.2vw + .06vh + 27.6px);
  background-color: #0d0d0d;
  color: #999999;
  box-sizing: border-box;
}
#navbar a {
  color: inherit;
  text-decoration: none;
}
#navbar .text {
  font-family: 'Century Gothic', 'Arial', sans-serif;
  display: flex;
  align-items: center;
}
#navbar .text img {
  display: block;
  width: 1.9em;
  height: 1.9em;
  border-radius: 100%;
  margin-right: .3em;
}
#navbar .text .name {
  font-weight: 600;
}
#navbar .text .arrow {
  font-family: 'Source Code Pro', 'Consolas', 'Century Gothic', sans-serif;
  padding: 0 .3em;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#navbar .text .item {
  font-family: 'San Francisco', 'Arial', sans-serif;
}
#modes {
  position: relative;
}
#modes.enabled .dropdown_box {
  clip: rect(-12px 230px 180px 0px);
  clip-path: circle(150% at 130.5px -40px);
}
#modes.enabled .mode_gear {
  transform: rotateZ(135deg);
}
#modes .mode_gear {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.5em;
  transition: all 0.45s cubic-bezier(0.52, 0.15, 0.16, 1.2);
  color: #3a5b99;
  cursor: pointer;
}
#modes .mode_gear::before {
  display: block;
}
#modes .dropdown_box {
  clip: rect(-12px 230px -12px 0px);
  clip-path: circle(0 at 130.5px -40px);
  position: absolute;
  font-size: .95em;
  right: 0;
  margin: 15px 0 0;
  border-top: 3px solid #545454;
  border-bottom: 3px solid #252525;
  box-shadow: 0 3px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px rgba(30, 30, 30, 0.8);
  transition: all 0.45s cubic-bezier(0.52, 0.15, 0.16, 1.2), background .15s linear, box-shadow 0.15s linear, border .15s linear;
  z-index: 1;
}
#modes .dropdown_box::before {
  content: '';
  position: absolute;
  right: .3em;
  top: -8px;
  border: 15px solid #545454;
  transform: rotate(45deg);
  transition: border .15s linear;
  z-index: -1;
}
#modes .dropdown_box .dropdown_header {
  background-color: #2b2b2b;
  padding: 9px 18px;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  color: #6e6e6e;
  transition: color .15s linear, background .15s linear;
}
#modes .dropdown_box .mode_switch {
  font-size: .89em;
  font-family: 'Calibri', 'Times New Roman', serif;
  display: block;
  white-space: nowrap;
  position: relative;
  padding: 9px 9px 9px 12px;
  color: #969696;
  background-color: #282828;
  cursor: pointer;
  transition: all .15s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modes .dropdown_box .mode_switch:hover {
  background-color: #303030;
  transition: all .15s linear;
}
#modes .dropdown_box .mode_switch::before {
  position: absolute;
  left: 6px;
  top: 7px;
  border-left: 3px solid;
  height: 70%;
  animation: .52s borderglideX;
}
html.light-mode #modes .switch_daynight::before,
html.nesewebel-mode #modes .switch_nesewebel::before {
  content: '';
}
html.light-mode #modes .switch_daynight::before {
  color: #17469E;
}
html.light-mode #modes .dropdown_box {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #fafafa;
  box-shadow: 0 3px 1px rgba(224, 224, 224, 0.9), 1px 1px 5px rgba(242, 242, 242, 0.8);
}
html.light-mode #modes .dropdown_box::before {
  border: 15px solid #ffffff;
}
html.light-mode #modes .dropdown_box .dropdown_header {
  background-color: #ffffff;
  color: #858585;
}
html.light-mode #modes .dropdown_box .mode_switch {
  color: #595959;
  background-color: #fcfcfc;
}
html.light-mode #modes .dropdown_box .mode_switch:hover {
  background-color: #ffffff;
}
.glb_box {
  font-size: 1.45em;
  overflow: hidden;
  border-radius: 2px;
  background-color: #1d1d1d;
  border-top: 4px solid #494949;
  border-bottom: 4px solid #1a1a1a;
  box-shadow: 0 4px 1px rgba(15, 15, 15, 0.9), 1px 2px 6px rgba(19, 19, 19, 0.8);
  box-sizing: border-box;
  position: relative;
  transition: background .15s linear, box-shadow 0.15s linear, border .15s linear;
}
.glb_box.hyperbox {
  cursor: pointer;
  text-decoration: none;
}
.glb_box.hyperbox:any-link {
  color: transparent;
}
.glb_box.multiplebox {
  display: flex;
  flex-direction: column;
}
.glb_box.multiplebox .links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.glb_box.multiplebox .links a {
  display: flex;
  align-items: center;
  color: inherit;
  flex: 1;
  padding: 15px;
  text-decoration: none;
  font-style: italic;
  transition: flex 0.2s cubic-bezier(0.2, 0.2, 0.55, 1);
}
.glb_box.multiplebox .links a:hover {
  flex: 1.3;
}
.glb_box.imager {
  display: flex;
  flex-direction: column;
}
.glb_box.imager .image_container,
.glb_box .imager {
  position: relative;
  flex-grow: 1;
  z-index: 1;
}
.glb_box.imager .image_container::before,
.glb_box .imager::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: 0 50%;
  filter: blur(5px);
  opacity: 0.2;
  transition: all 0.25s cubic-bezier(0, 0, 0.75, 1);
}
.glb_box.imager:hover .image_container::before,
.glb_box .imager:hover::before {
  filter: none;
  opacity: .5;
}
.glb_box .corneranimation::before,
.glb_box .corneranimation::after {
  content: '';
  position: absolute;
  background-color: #0f0f0f;
  transition: all 0.4s ease-out, background .15s linear;
  z-index: 2;
  opacity: .65;
}
.glb_box .corneranimation::before {
  height: 40px;
  width: 80px;
  left: -26px;
  bottom: -6px;
  transform: rotateZ(45deg) translateY(40px);
}
.glb_box .corneranimation::after {
  height: 80px;
  width: 40px;
  right: -6px;
  top: -26px;
  transform: rotateZ(-45deg) translateX(40px);
}
.glb_box:hover .corneranimation::before {
  transform: rotateZ(45deg) translateY(0);
}
.glb_box:hover .corneranimation::after {
  transform: rotateZ(-45deg) translateX(0);
}
.glb_box .box_header {
  background-color: #202020;
  padding: 24px 21px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  color: #575757;
  line-height: 28px;
  transition: background .15s linear, color .15s linear;
}
.glb_box .box_text {
  color: #878787;
  transition: color .15s linear;
}
.glb_box .description {
  font-family: Calibri, 'Times New Roman', serif;
  font-size: 1.04em;
  line-height: 1.19;
  padding: 15px;
  margin: 0;
}
html.light-mode .glb_box {
  background-color: #f5f5f5;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #f1f1f1;
  box-shadow: 0 4px 1px rgba(214, 214, 214, 0.9), 1px 2px 6px rgba(230, 230, 230, 0.8);
}
html.light-mode .glb_box .corneranimation::before,
html.light-mode .glb_box .corneranimation::after {
  background-color: #dedede;
}
html.light-mode .glb_box .box_header {
  background-color: #f9f9f9;
  color: #9c9c9c;
}
html.light-mode .glb_box .box_text {
  color: #595959;
}
@keyframes shiftin {
  from {
    transform: translateY(-45px);
  }
}
@keyframes shiftinBox {
  from {
    transform: translateY(-17px);
  }
}
@keyframes fadein {
  from {
    opacity: 0.1;
  }
}
@keyframes nope {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes shadowIn {
  from {
    text-shadow: 1px 1px #7c7c7c, 1.5px 1.5px #7c7c7c, 2px 2px #7c7c7c;
  }
}
@keyframes headlineclose {
  0% {
    transform: none;
  }
  67% {
    transform: none;
  }
}
@keyframes headline_popout_in1 {
  0% {
    opacity: .05;
  }
  70% {
    opacity: .15;
  }
  100% {
    opacity: .85;
  }
}
@keyframes headline_popout_in2 {
  0% {
    transform: scale(0.85) rotate3d(5, 1, 2, 45deg);
  }
  81% {
    transform: scale(0.85) rotate3d(5, 1, 2, 45deg);
  }
  90.5% {
    transform: scale(1.15) rotate3d(5, 1, 2, 45deg);
  }
  100% {
    transform: rotate3d(5, 1, 2, 45deg);
  }
}
@keyframes headline_popout_in3 {
  0% {
    top: 80px;
  }
  67% {
    top: 80px;
  }
  100% {
    top: 20px;
  }
}
@keyframes headingcut {
  from {
    clip-path: polygon(100% 37%, 100% 0, 100% 0, 100% 37%);
  }
  to {
    clip-path: polygon(0 58%, 0 0, 100% 0, 100% 37%);
  }
}
@keyframes headingshift {
  0% {
    transform: translate(0);
  }
  30% {
    transform: translate(0);
  }
  100% {
    transform: translate(-4px);
  }
}
@keyframes borderglideX {
  from {
    height: 0;
    top: 50%;
  }
}
