/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
html {
  scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 18%);
}
html.light-mode {
  scrollbar-color: auto;
}
body {
  background-color: hsl(0, 0%, 9%);
  font-family: Arial, 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', sans-serif;
  transition: background 0.15s linear;
}
html.light-mode body {
  background-color: hsl(0, 0%, 92%);
}
#cookiebanner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  font-size: calc(0.3vw + 0.1vh + 14.68px);
  border-bottom: 3px solid #1a1a1a;
  box-shadow: 1px -2px 6px hsla(0, 0%, 7.5%, 0.8);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.2s cubic-bezier(0.35, 0.05, 0.35, 0.95), opacity 0.4s ease, background 0.15s linear, box-shadow 0.15s linear, border 0.15s linear;
}
#cookiebanner .description {
  color: hsl(0, 0%, 68%);
  padding: 0.55em 0.7em;
}
#cookiebanner .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: hsl(0, 0%, 28.5%);
  transition: all 0.08s ease-out;
  z-index: 1;
}
#cookiebanner button {
  position: relative;
  border: none;
  padding: 0 1em;
  background-color: hsl(0, 0%, 18.5%);
  color: hsl(0, 0%, 73%);
  font-size: inherit;
  font-family: 'San Francisco Monospace', 'Consolas';
  letter-spacing: -0.5px;
  cursor: pointer;
  transition: background 0.15s linear, color 0.15s linear;
}
#cookiebanner button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 0;
  background-color: hsl(0, 0%, 18.5%);
  z-index: -1;
  border-radius: 100px;
  transition: all 0.55s cubic-bezier(0.45, 0.12, 0.22, 1), background 0.15s linear;
}
#cookiebanner.removing button::before {
  width: calc(200vw - 100%);
  border-radius: 0;
  transform: translateX(-100vw);
}
#cookiebanner.removing2 .background {
  height: 100%;
}
#cookiebanner.removing3 {
  opacity: 0;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
#cookiebanner.gone {
  display: none;
}
#cookiebanner.invisible {
  opacity: 0;
  visibility: hidden;
}
html.light-mode #cookiebanner {
  border-bottom: 3px solid #efefef;
  box-shadow: 1px -2px 6px hsla(0, 0%, 89.5%, 0.8);
}
html.light-mode #cookiebanner .description {
  color: hsl(0, 0%, 20%);
}
html.light-mode #cookiebanner .background {
  background-color: hsl(0, 0%, 100%);
}
html.light-mode #cookiebanner button {
  color: hsl(0, 0%, 10%);
}
html.light-mode #cookiebanner button,
html.light-mode #cookiebanner button::before {
  background-color: hsl(0, 0%, 87.5%);
}
@media (max-width: 420px) {
  #cookiebanner {
    flex-direction: column;
  }
  #cookiebanner button {
    padding: 0.6em 0;
    letter-spacing: normal;
    position: static;
  }
  #cookiebanner button::before {
    left: 0;
    top: auto;
    bottom: 2em;
    height: 0%;
    width: 100%;
    border-radius: 10px;
    transition: none;
  }
  #cookiebanner.removing button::before {
    width: 100%;
    transform: none;
    height: calc(100% - 2em);
    border-radius: 0;
    transition: all 0.55s cubic-bezier(0.45, 0.12, 0.22, 1);
  }
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.4em;
  font-size: calc(0.2vw + 0.06vh + 27.6px);
  background-color: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 60%);
  box-sizing: border-box;
}
#navbar a {
  color: inherit;
  text-decoration: none;
}
#navbar .text {
  font-family: 'Century Gothic', 'Arial', sans-serif;
  display: flex;
  align-items: center;
}
#navbar .text img {
  display: block;
  width: 1.9em;
  height: 1.9em;
  border-radius: 100%;
  margin-right: 0.3em;
}
#navbar .text .name {
  font-weight: 600;
}
#navbar .text .arrow {
  font-family: 'Source Code Pro', 'Consolas', 'Century Gothic', sans-serif;
  padding: 0 0.3em;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#navbar .text .item {
  font-family: 'San Francisco', 'Arial', sans-serif;
}
#modes {
  position: relative;
}
#modes.enabled .dropdown_box {
  clip: rect(-12px 230px 180px 0px);
  clip-path: circle(150% at 130.5px -40px);
}
#modes.enabled .mode_gear {
  transform: rotateZ(135deg);
}
#modes .mode_gear {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.5em;
  transition: all 0.45s cubic-bezier(0.52, 0.15, 0.16, 1.2);
  color: #3a5b99;
  cursor: pointer;
}
#modes .mode_gear::before {
  display: block;
}
#modes .dropdown_box {
  clip: rect(-12px 230px -12px 0px);
  clip-path: circle(0 at 130.5px -40px);
  position: absolute;
  font-size: 0.95em;
  right: 0;
  margin: 15px 0 0;
  border-top: 3px solid hsl(0, 0%, 32.8%);
  border-bottom: 3px solid #252525;
  box-shadow: 0 3px 1px hsla(0, 0%, 10%, 0.9), 1px 1px 5px hsla(0, 0%, 11.8%, 0.8);
  transition: all 0.45s cubic-bezier(0.52, 0.15, 0.16, 1.2), background 0.15s linear, box-shadow 0.15s linear, border 0.15s linear;
  z-index: 1;
}
#modes .dropdown_box::before {
  content: '';
  position: absolute;
  right: 0.3em;
  top: -8px;
  border: 15px solid hsl(0, 0%, 32.8%);
  transform: rotate(45deg);
  transition: border 0.15s linear;
  z-index: -1;
}
#modes .dropdown_box .dropdown_header {
  background-color: hsl(0, 0%, 16.8%);
  padding: 9px 18px;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  color: hsl(0, 0%, 43%);
  transition: color 0.15s linear, background 0.15s linear;
}
#modes .dropdown_box .mode_switch {
  font-size: 0.89em;
  font-family: 'Calibri', 'Times New Roman', serif;
  display: block;
  white-space: nowrap;
  position: relative;
  padding: 9px 9px 9px 12px;
  color: hsl(0, 0%, 59%);
  background-color: hsl(0, 0%, 15.8%);
  cursor: pointer;
  transition: all 0.15s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modes .dropdown_box .mode_switch:hover {
  background-color: hsl(0, 0%, 18.8%);
  transition: all 0.15s linear;
}
#modes .dropdown_box .mode_switch::before {
  position: absolute;
  left: 6px;
  top: 7px;
  border-left: 3px solid;
  height: 70%;
  animation: 0.52s borderglideX;
}
@keyframes borderglideX {
  from {
    height: 0;
    top: 50%;
  }
}
html.light-mode #modes .switch_daynight::before,
html.nesewebel-mode #modes .switch_nesewebel::before {
  content: '';
}
html.light-mode #modes .switch_daynight::before {
  color: #17469E;
}
html.light-mode #modes .dropdown_box {
  border-top: 3px solid hsl(0, 0%, 100%);
  border-bottom: 3px solid #f7f7f7;
  box-shadow: 0 3px 1px hsla(0, 0%, 87%, 0.9), 1px 1px 5px hsla(0, 0%, 94%, 0.8);
}
html.light-mode #modes .dropdown_box::before {
  border: 15px solid hsl(0, 0%, 100%);
}
html.light-mode #modes .dropdown_box .dropdown_header {
  background-color: hsl(0, 0%, 99%);
  color: hsl(0, 0%, 52%);
}
html.light-mode #modes .dropdown_box .mode_switch {
  color: hsl(0, 0%, 35%);
  background-color: hsl(0, 0%, 98%);
}
html.light-mode #modes .dropdown_box .mode_switch:hover {
  background-color: hsl(0, 0%, 100%);
}
#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(0.08vw + 0.04vh + 16.5px);
  padding: 1em 0;
  background-color: hsl(0, 0%, 5.5%);
  color: hsl(0, 0%, 85%);
}
#footer .nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 60em;
  margin-bottom: 1em;
}
#footer .nav-wrapper .nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
#footer .nav-wrapper .nav-item:nth-child(1) {
  animation: 0.45s navItemIn cubic-bezier(0.4, 0.1, 0.5, 1);
}
#footer .nav-wrapper .nav-item:nth-child(2) {
  animation: 0.53s navItemIn cubic-bezier(0.4, 0.1, 0.5, 1);
}
#footer .nav-wrapper .nav-item:nth-child(3) {
  animation: 0.61s navItemIn cubic-bezier(0.4, 0.1, 0.5, 1);
}
@keyframes navItemIn {
  from {
    transform: translateX(-1.25em);
    opacity: 0.15;
  }
}
#footer .nav-wrapper .nav-item:nth-child(1) a::before {
  left: 100%;
}
#footer .nav-wrapper .nav-item:nth-child(3) a::before {
  left: 0;
}
#footer .nav-wrapper h3 {
  font-size: 1.12em;
  margin: 0.75em 0;
}
#footer .nav-wrapper ul {
  padding: 0;
  margin: 0;
}
#footer .nav-wrapper ul li {
  list-style: none;
  margin: 0.52em 0;
  color: hsl(0, 0%, 75%);
}
#footer .nav-wrapper ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
#footer .nav-wrapper ul a {
  white-space: nowrap;
}
#footer hr {
  width: 5.5em;
  margin: 0.3em 0;
  border: 1px solid hsl(0, 0%, 32%);
  animation: 0.4s borderIn cubic-bezier(0.55, 0.05, 0.5, 0.95);
}
@keyframes borderIn {
  from {
    width: 3.5em;
    opacity: 0.25;
  }
}
#footer .side-note {
  font-size: 0.9em;
  font-weight: 300;
  color: hsl(0, 0%, 70%);
  animation: 0.4s sideNoteIn ease-in;
}
@keyframes sideNoteIn {
  from {
    opacity: 0.1;
  }
}
#footer .side-note em {
  font-style: normal;
}
#footer a {
  position: relative;
  text-decoration: none;
  padding: 0 0 0.2em;
  color: inherit;
}
#footer a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid hsl(0, 0%, 75%);
  transition: all 0.225s ease;
}
#footer a:hover::before {
  left: 0 !important;
  width: 100%;
}
html.light-mode #footer {
  background-color: hsl(0, 0%, 13.5%);
  color: hsl(0, 0%, 92%);
}
html.light-mode #footer .nav-wrapper ul li {
  color: hsl(0, 0%, 82%);
}
html.light-mode #footer hr {
  border: 1px solid hsl(0, 0%, 39%);
}
html.light-mode #footer .side-note {
  color: hsl(0, 0%, 82%);
}
html.light-mode #footer a::before {
  border-bottom: 1px solid hsl(0, 0%, 82%);
}
@media (max-width: 700px) {
  #footer .nav-wrapper {
    flex-flow: column;
  }
  #footer .nav-wrapper .nav-item {
    margin-bottom: 0.3em;
  }
  #footer .nav-wrapper h3 {
    text-align: center;
  }
  #footer .nav-wrapper ul {
    display: flex;
  }
  #footer .nav-wrapper ul li {
    margin: 0.52em 0.5em;
  }
  #footer hr {
    width: 4.5em;
  }
}
.glb_box {
  font-size: 1.45em;
  overflow: hidden;
  border-radius: 2px;
  background-color: hsl(0, 0%, 11.5%);
  border-top: 4px solid hsl(0, 0%, 28.5%);
  border-bottom: 4px solid #1a1a1a;
  box-shadow: 0 4px 1px hsla(0, 0%, 6%, 0.9), 1px 2px 6px hsla(0, 0%, 7.5%, 0.8);
  box-sizing: border-box;
  position: relative;
  transition: background 0.15s linear, box-shadow 0.15s linear, border 0.15s linear;
}
.glb_box.hyperbox {
  cursor: pointer;
  text-decoration: none;
}
.glb_box.hyperbox:any-link {
  color: transparent;
}
.glb_box.multiplebox {
  display: flex;
  flex-direction: column;
}
.glb_box.multiplebox .links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.glb_box.multiplebox .links a {
  display: flex;
  align-items: center;
  color: inherit;
  flex: 1;
  padding: 15px;
  text-decoration: none;
  font-style: italic;
  transition: flex 0.2s cubic-bezier(0.2, 0.2, 0.55, 1);
}
.glb_box.multiplebox .links a:hover {
  flex: 1.3;
}
.glb_box.imager {
  display: flex;
  flex-direction: column;
}
.glb_box.imager .image_container,
.glb_box .imager {
  position: relative;
  flex-grow: 1;
  z-index: 1;
}
.glb_box.imager .image_container .image,
.glb_box .imager .image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: 0 50%;
  filter: blur(5px);
  opacity: 0.2;
  transition: all 0.25s cubic-bezier(0, 0, 0.75, 1);
}
.glb_box.imager:hover .image_container .image,
.glb_box .imager:hover .image {
  filter: none;
  opacity: 0.5;
}
.glb_box .corneranimation::before,
.glb_box .corneranimation::after {
  content: '';
  position: absolute;
  background-color: hsl(0, 0%, 6%);
  transition: all 0.4s ease-out, background 0.15s linear;
  z-index: 2;
  opacity: 0.65;
}
.glb_box .corneranimation::before {
  height: 40px;
  width: 80px;
  left: -26px;
  bottom: -6px;
  transform: rotateZ(45deg) translateY(40px);
}
.glb_box .corneranimation::after {
  height: 80px;
  width: 40px;
  right: -6px;
  top: -26px;
  transform: rotateZ(-45deg) translateX(40px);
}
.glb_box:hover .corneranimation::before {
  transform: rotateZ(45deg) translateY(0);
}
.glb_box:hover .corneranimation::after {
  transform: rotateZ(-45deg) translateX(0);
}
.glb_box .box_header {
  background-color: hsl(0, 0%, 12.5%);
  padding: 24px 21px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  color: hsl(0, 0%, 34%);
  line-height: 28px;
  transition: background 0.15s linear, color 0.15s linear;
}
.glb_box .box_text {
  color: hsl(0, 0%, 53%);
  transition: color 0.15s linear;
}
.glb_box .description {
  font-family: Calibri, 'Times New Roman', serif;
  font-size: 1.04em;
  line-height: 1.19;
  padding: 15px;
  margin: 0;
}
html.light-mode .glb_box {
  background-color: hsl(0, 0%, 95.5%);
  border-top: 4px solid hsl(0, 0%, 100%);
  border-bottom: 4px solid #efefef;
  box-shadow: 0 4px 1px hsla(0, 0%, 83%, 0.9), 1px 2px 6px hsla(0, 0%, 89.5%, 0.8);
}
html.light-mode .glb_box .corneranimation::before,
html.light-mode .glb_box .corneranimation::after {
  background-color: hsl(0, 0%, 86.5%);
}
html.light-mode .glb_box .box_header {
  background-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 61%);
}
html.light-mode .glb_box .box_text {
  color: hsl(0, 0%, 35%);
}
