/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
/* R-Flex by Vikers converted to WOFF & WOFF2 */
@font-face {
  font-family: 'R-Flex';
  font-weight: bold;
  font-display: swap;
  src: local('RFlex'), local('RFlexBold'), local('RFlex-Bold'), url('/font/RFlex/RFlex-Bold.woff2') format('woff2'), url('/font/RFlex/RFlex-Bold.woff') format('woff');
}
#modes {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  font-size: 1.69em;
}
#modes .mode-gear .icon {
  animation: 0.6s modeIconIn ease;
}
@keyframes modeIconIn {
  from {
    transform: rotate(90deg);
    opacity: 0;
  }
}
#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(12.5vw + 22vh + 3px);
  transition: background 0.15s linear, box-shadow 0.15s linear;
}
#header h1 {
  font-family: 'R-Flex', 'Futura PT', 'Century Gothic', 'Segoe UI', 'San Francisco', sans-serif;
  font-weight: bold;
  font-size: 8em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  white-space: nowrap;
  margin: 0;
  transition: transform 0.76s, text-shadow 0.15s linear, color 0.15s linear;
  cursor: default;
  text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%), 7.5px 7.5px hsl(0, 0%, 62%), 8px 8px hsl(0, 0%, 62%);
}
#header h1 span {
  display: inline-block;
  transition: transform 0.125s ease;
}
@media (hover: hover) {
  #header h1 span.scale1 {
    transform: scale(0.9075);
  }
  #header h1 span.scale2 {
    transform: scale(0.94);
  }
  #header h1 span.scale3 {
    transform: scale(0.9825);
  }
}
#header h1 span:active {
  transform: scale(0.875);
}
#header h1.landing-animation-h1 span:nth-child(1) {
  animation: 0.305s 0.126s textWaveLanding ease backwards;
}
#header h1.landing-animation-h1 span:nth-child(2) {
  animation: 0.305s 0.20859383s textWaveLanding ease backwards;
}
#header h1.landing-animation-h1 span:nth-child(3) {
  animation: 0.305s 0.28013529s textWaveLanding ease backwards;
}
#header h1.landing-animation-h1 span:nth-child(4) {
  animation: 0.305s 0.34532845s textWaveLanding ease backwards;
}
#header h1.landing-animation-h1 span:nth-child(5) {
  animation: 0.305s 0.40617423s textWaveLanding ease backwards;
}
#header h1.landing-animation-h1 span:nth-child(6) {
  animation: 0.305s 0.46376581s textWaveLanding ease backwards;
}
#header h1.landing-animation-h1 span:nth-child(7) {
  animation: 0.305s 0.51878487s textWaveLanding ease backwards;
}
@keyframes textWaveLanding {
  0% {
    transform: scale(0.775);
    color: transparent;
    text-shadow: none;
  }
  60% {
    color: inherit;
    transform: scale(1.0675) translateY(0.012em);
    text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%), 7.5px 7.5px hsl(0, 0%, 62%), 8px 8px hsl(0, 0%, 62%), 8.5px 8.5px hsl(0, 0%, 62%);
  }
}
#header h1.wave1 span:nth-child(1) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave1 span:nth-child(2) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave1 span:nth-child(3) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave1 span:nth-child(4) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave1 span:nth-child(5) {
  animation: 0.37s 0.35629126s textWave ease;
}
#header h1.wave1 span:nth-child(6) {
  animation: 0.37s 0.41906865s textWave ease;
}
#header h1.wave1 span:nth-child(7) {
  animation: 0.37s 0.47848853s textWave ease;
}
#header h1.wave2 span:nth-child(2) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave2 span:nth-child(3),
#header h1.wave2 span:nth-child(1) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave2 span:nth-child(4) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave2 span:nth-child(5) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave2 span:nth-child(6) {
  animation: 0.37s 0.35629126s textWave ease;
}
#header h1.wave2 span:nth-child(7) {
  animation: 0.37s 0.41906865s textWave ease;
}
#header h1.wave3 span:nth-child(3) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave3 span:nth-child(4),
#header h1.wave3 span:nth-child(2) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave3 span:nth-child(5),
#header h1.wave3 span:nth-child(1) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave3 span:nth-child(6) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave3 span:nth-child(7) {
  animation: 0.37s 0.35629126s textWave ease;
}
#header h1.wave4 span:nth-child(4) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave4 span:nth-child(5),
#header h1.wave4 span:nth-child(3) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave4 span:nth-child(6),
#header h1.wave4 span:nth-child(2) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave4 span:nth-child(7),
#header h1.wave4 span:nth-child(1) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave5 span:nth-child(5) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave5 span:nth-child(6),
#header h1.wave5 span:nth-child(4) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave5 span:nth-child(7),
#header h1.wave5 span:nth-child(3) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave5 span:nth-child(2) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave5 span:nth-child(1) {
  animation: 0.37s 0.35629126s textWave ease;
}
#header h1.wave6 span:nth-child(6) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave6 span:nth-child(7),
#header h1.wave6 span:nth-child(5) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave6 span:nth-child(4) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave6 span:nth-child(3) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave6 span:nth-child(2) {
  animation: 0.37s 0.35629126s textWave ease;
}
#header h1.wave6 span:nth-child(1) {
  animation: 0.37s 0.41906865s textWave ease;
}
#header h1.wave7 span:nth-child(7) {
  animation: 0.37s 0s textWave ease;
}
#header h1.wave7 span:nth-child(6) {
  animation: 0.37s 0.13s textWave ease;
}
#header h1.wave7 span:nth-child(5) {
  animation: 0.37s 0.21521585s textWave ease;
}
#header h1.wave7 span:nth-child(4) {
  animation: 0.37s 0.28902847s textWave ease;
}
#header h1.wave7 span:nth-child(3) {
  animation: 0.37s 0.35629126s textWave ease;
}
#header h1.wave7 span:nth-child(2) {
  animation: 0.37s 0.41906865s textWave ease;
}
#header h1.wave7 span:nth-child(1) {
  animation: 0.37s 0.47848853s textWave ease;
}
@keyframes textWave {
  25% {
    transform: scale(0.9375);
  }
  60% {
    transform: scale(1.0475) translateY(0.0115em);
    text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%), 7.5px 7.5px hsl(0, 0%, 62%), 8px 8px hsl(0, 0%, 62%), 8.5px 8.5px hsl(0, 0%, 62%), 9px 9px hsl(0, 0%, 62%);
  }
}
@media (max-width: 880px) {
  #header h1 {
    font-size: calc(10vw + 0.5vh + 35.9px);
  }
}
@media (max-width: 600px) {
  #header h1 {
    text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%);
  }
  html.light-mode #header h1 {
    text-shadow: 0.5px 0.5px hsl(0, 0%, 51%), 1px 1px hsl(0, 0%, 51%), 1.5px 1.5px hsl(0, 0%, 51%), 2px 2px hsl(0, 0%, 51%), 2.5px 2.5px hsl(0, 0%, 51%), 3px 3px hsl(0, 0%, 51%), 3.5px 3.5px hsl(0, 0%, 51%), 4px 4px hsl(0, 0%, 51%), 4.5px 4.5px hsl(0, 0%, 51%), 5px 5px hsl(0, 0%, 51%), 5.5px 5.5px hsl(0, 0%, 51%), 6px 6px hsl(0, 0%, 51%), 6.5px 6.5px hsl(0, 0%, 51%), 7px 7px hsl(0, 0%, 51%);
  }
  @keyframes textWaveLanding {
    0% {
      transform: scale(0.775);
      color: transparent;
      text-shadow: none;
    }
    60% {
      color: inherit;
      transform: scale(1.0675) translateY(0.012em);
      text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%), 7.5px 7.5px hsl(0, 0%, 62%);
    }
  }
  @keyframes textWave {
    25% {
      transform: scale(0.9375);
    }
    60% {
      transform: scale(1.0475) translateY(0.0115em);
      text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%), 7.5px 7.5px hsl(0, 0%, 62%), 8px 8px hsl(0, 0%, 62%);
    }
  }
}
@media (max-width: 520px) {
  #header h1 {
    text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%);
  }
  html.light-mode #header h1 {
    text-shadow: 0.5px 0.5px hsl(0, 0%, 51%), 1px 1px hsl(0, 0%, 51%), 1.5px 1.5px hsl(0, 0%, 51%), 2px 2px hsl(0, 0%, 51%), 2.5px 2.5px hsl(0, 0%, 51%), 3px 3px hsl(0, 0%, 51%), 3.5px 3.5px hsl(0, 0%, 51%), 4px 4px hsl(0, 0%, 51%), 4.5px 4.5px hsl(0, 0%, 51%), 5px 5px hsl(0, 0%, 51%), 5.5px 5.5px hsl(0, 0%, 51%), 6px 6px hsl(0, 0%, 51%);
  }
  @keyframes textWaveLanding {
    0% {
      transform: scale(0.775);
      color: transparent;
      text-shadow: none;
    }
    60% {
      color: inherit;
      transform: scale(1.0675) translateY(0.012em);
      text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%);
    }
  }
  @keyframes textWave {
    25% {
      transform: scale(0.9375);
    }
    60% {
      transform: scale(1.0475) translateY(0.0115em);
      text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%), 6.5px 6.5px hsl(0, 0%, 62%), 7px 7px hsl(0, 0%, 62%);
    }
  }
}
@media (max-width: 440px) {
  #header h1 {
    text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%);
  }
  html.light-mode #header h1 {
    text-shadow: 0.5px 0.5px hsl(0, 0%, 51%), 1px 1px hsl(0, 0%, 51%), 1.5px 1.5px hsl(0, 0%, 51%), 2px 2px hsl(0, 0%, 51%), 2.5px 2.5px hsl(0, 0%, 51%), 3px 3px hsl(0, 0%, 51%), 3.5px 3.5px hsl(0, 0%, 51%), 4px 4px hsl(0, 0%, 51%), 4.5px 4.5px hsl(0, 0%, 51%), 5px 5px hsl(0, 0%, 51%);
  }
  @keyframes textWaveLanding {
    0% {
      transform: scale(0.775);
      color: transparent;
      text-shadow: none;
    }
    60% {
      color: inherit;
      transform: scale(1.0675) translateY(0.012em);
      text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%);
    }
  }
  @keyframes textWave {
    25% {
      transform: scale(0.9375);
    }
    60% {
      transform: scale(1.0475) translateY(0.0115em);
      text-shadow: 0.5px 0.5px hsl(0, 0%, 62%), 1px 1px hsl(0, 0%, 62%), 1.5px 1.5px hsl(0, 0%, 62%), 2px 2px hsl(0, 0%, 62%), 2.5px 2.5px hsl(0, 0%, 62%), 3px 3px hsl(0, 0%, 62%), 3.5px 3.5px hsl(0, 0%, 62%), 4px 4px hsl(0, 0%, 62%), 4.5px 4.5px hsl(0, 0%, 62%), 5px 5px hsl(0, 0%, 62%), 5.5px 5.5px hsl(0, 0%, 62%), 6px 6px hsl(0, 0%, 62%);
    }
  }
}
#header .subheader {
  position: absolute;
  bottom: calc((100% - 8em * 1.2) / 4);
  white-space: nowrap;
  transition: background 0.15s linear, color 0.15s linear;
}
html.light-mode #header {
  color: hsl(0, 0%, 36%);
}
html.light-mode #header h1 {
  text-shadow: 0.5px 0.5px hsl(0, 0%, 51%), 1px 1px hsl(0, 0%, 51%), 1.5px 1.5px hsl(0, 0%, 51%), 2px 2px hsl(0, 0%, 51%), 2.5px 2.5px hsl(0, 0%, 51%), 3px 3px hsl(0, 0%, 51%), 3.5px 3.5px hsl(0, 0%, 51%), 4px 4px hsl(0, 0%, 51%), 4.5px 4.5px hsl(0, 0%, 51%), 5px 5px hsl(0, 0%, 51%), 5.5px 5.5px hsl(0, 0%, 51%), 6px 6px hsl(0, 0%, 51%), 6.5px 6.5px hsl(0, 0%, 51%), 7px 7px hsl(0, 0%, 51%), 7.5px 7.5px hsl(0, 0%, 51%), 8px 8px hsl(0, 0%, 51%);
}
#gbl-box-menu {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  height: auto;
}
#gbl-box-menu.landing-animation-box .gbl-box {
  transition: none;
}
#gbl-box-menu.landing-animation-box .gbl-box:hover {
  transform: none;
}
#gbl-box-menu .gbl-box:nth-child(1) {
  animation: 0.42s shiftinBox cubic-bezier(0.285, 0.05, 0.5, 1);
}
#gbl-box-menu .gbl-box:nth-child(2) {
  animation: 0.4825s shiftinBox cubic-bezier(0.285, 0.05, 0.5, 1);
}
#gbl-box-menu .gbl-box:nth-child(3) {
  animation: 0.545s shiftinBox cubic-bezier(0.285, 0.05, 0.5, 1);
}
#gbl-box-menu .gbl-box:nth-child(4) {
  animation: 0.6075s shiftinBox cubic-bezier(0.285, 0.05, 0.5, 1);
}
#gbl-box-menu .gbl-box:nth-child(5) {
  animation: 0.67s shiftinBox cubic-bezier(0.285, 0.05, 0.5, 1);
}
@keyframes shiftinBox {
  from {
    transform: translateY(-0.7em);
  }
}
