/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
body {
  margin: 0;
}
#modes {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  font-size: 1.69em;
}
#modes .mode-gear .icon {
  animation: 0.6s modeIconIn ease;
}
@keyframes modeIconIn {
  from {
    transform: rotate(90deg);
    opacity: 0;
  }
}
#header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(8vw + 16vh + 103px);
  color: hsl(0, 0%, 66%);
  transition: background 0.15s linear, box-shadow 0.15s linear;
}
#header h1 {
  font: bold 6.9em 'Century Gothic', 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  transition: transform 0.76s, text-shadow 0.15s linear, color 0.15s linear;
  text-shadow: 0px 0px hsl(0, 0%, 52%), 0.5px 0.5px hsl(0, 0%, 52%), 1px 1px hsl(0, 0%, 52%), 1.5px 1.5px hsl(0, 0%, 52%), 2px 2px hsl(0, 0%, 52%), 2.5px 2.5px hsl(0, 0%, 52%), 3px 3px hsl(0, 0%, 52%), 3.5px 3.5px hsl(0, 0%, 52%), 4px 4px hsl(0, 0%, 52%), 4.5px 4.5px hsl(0, 0%, 52%), 5px 5px hsl(0, 0%, 52%), 5.5px 5.5px hsl(0, 0%, 52%), 6px 6px hsl(0, 0%, 52%);
}
#header .subheader {
  position: absolute;
  bottom: calc((8vw + 16vh + 103px) / 4 - 2em);
  white-space: nowrap;
  transition: background 0.15s linear, color 0.15s linear;
}
html.light-mode #header {
  color: hsl(0, 0%, 36%);
}
html.light-mode #header h1 {
  text-shadow: 0px 0px hsl(0, 0%, 51%), 0.5px 0.5px hsl(0, 0%, 51%), 1px 1px hsl(0, 0%, 51%), 1.5px 1.5px hsl(0, 0%, 51%), 2px 2px hsl(0, 0%, 51%), 2.5px 2.5px hsl(0, 0%, 51%), 3px 3px hsl(0, 0%, 51%), 3.5px 3.5px hsl(0, 0%, 51%), 4px 4px hsl(0, 0%, 51%), 4.5px 4.5px hsl(0, 0%, 51%), 5px 5px hsl(0, 0%, 51%), 5.5px 5.5px hsl(0, 0%, 51%), 6px 6px hsl(0, 0%, 51%);
}
#box-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  justify-items: center;
  margin: 1.842em 1.053em;
  grid-gap: 2.105em;
  grid-template-columns: repeat(auto-fit, minmax(21.375em, 1fr));
  align-items: center;
}
#box-nav .box {
  width: 14.9em;
  height: 16.34em;
}
#box-nav .box .box-header .header-text {
  padding: 0.871em 0.762em;
  line-height: 1.016em;
}
#box-nav .box:nth-child(1) {
  animation: 0.5s shiftinBox ease-out;
}
#box-nav .box:nth-child(2) {
  animation: 0.58s shiftinBox ease-out;
}
#box-nav .box:nth-child(3) {
  animation: 0.66s shiftinBox ease-out;
}
#box-nav .box:nth-child(4) {
  animation: 0.74s shiftinBox ease-out;
}
#box-nav .box:nth-child(5) {
  animation: 0.82s shiftinBox ease-out;
}
@keyframes shiftinBox {
  from {
    transform: translateY(-17px);
  }
}
