/* Source Code Pro by Adobe @ https://github.com/adobe-fonts/source-code-pro/ */
@font-face {
  font-family: 'Source Code Pro';
  font-weight: normal;
  src:
    local('Source Code Pro'),
    local('SourceCodePro-Regular'),
    url('../resources/fonts/SourceCodePro/SourceCodePro-Regular.otf.woff2') format('woff2'),
    url('../resources/fonts/SourceCodePro/SourceCodePro-Regular.otf.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  src:
    local('Source Code Pro Bold'),
    local('SourceCodePro-Bold'),
    url('../resources/fonts/SourceCodePro/SourceCodePro-Bold.otf.woff2') format('woff2'),
    url('../resources/fonts/SourceCodePro/SourceCodePro-Bold.otf.woff') format('woff');
}

body {
  font-size: calc(.12vw + .06vh + 15.14px);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

#navbar h1 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
#navbar .text {
  margin-right: .6em;
}
#navbar #id_nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: .74em;
  font-family: 'San Francisco Monospaced', 'Consolas', monospace;
}
#navbar #id_nav a {
  color: hsl(0, 0%, 65%);
  margin: 0 .5em;
  border-bottom: 2px solid hsl(0, 0%, 45%);
  white-space: nowrap;
  transition: all .15s ease-in-out;
}
#navbar #id_nav a:hover {
  color: hsl(0, 0%, 70%);
  border-color: hsl(0, 0%, 55%);
}

#main_article {
  max-width: 1000px;
  margin: calc(2vh + .75vw + 16.29px) auto 200px;
  padding: 0 .63em;
  color: hsl(0, 0%, 68%);
  line-height: 1.56;
}
#main_article section {
  margin: auto;
  max-width: 900px;
  /* Ensuring a minimum amount of indent when the viewport width gehts smaller */
  padding: 0 1.45em;
}

#main_article h2 {
  font-size: 2.11em;
  font-family: 'San Francisco Monospaced', 'Consolas', monospace;
  color: hsl(0, 0%, 66%)
}
#main_article h3 {
  color: hsl(0, 0%, 70%);
  font-family: 'Calibri', sans-serif;
  margin: .6em 0;
}
#main_article hr {
  border-bottom: none;
  border-top: 3px solid hsl(0, 0%, 35%);
  margin: .8em 0 .7em;
}
#main_article h3, #main_article hr {
  font-size: 1.9em;
}

#main_article a {
  color: inherit;
}

#main_article p a, #main_article dd a, #main_article code a {
  position: relative;
  padding: 1px 1px 2px;
  transition: background-color .08s;
}
#main_article p a:hover, #main_article dd a:hover, #main_article code a:hover {
  padding: 1px;
}

#main_article p a, #main_article dd a {
  color: #1398A9;
  border-bottom: 1px solid;
}
#main_article p a:hover, #main_article dd a:hover {
  /* #1398A9 in rgba */
  background-color: rgba(19, 152, 170, .19);
  border-bottom: 2px solid;
}
#main_article p a:visited, #main_article dd a:visited {
  color: #469870;
}
#main_article p a:hover:visited, #main_article dd a:hover:visited {
  /* #469870 in rgba */
  background-color: rgba(70, 152, 112, .18);
}
#main_article p a:active, #main_article dd a:active {
  color: #A84E4E;
}
#main_article p a:hover:active, #main_article dd a:hover:active {
  /* #A84E4E in rgba */
  background-color: rgba(168, 78, 78, .18);
}

#main_article code a {
  color: hsl(0, 0%, 76%);
  border-bottom: 1px solid hsl(0, 0%, 50%);
}
#main_article code a:hover {
  background-color: hsla(0, 0%, 60%, .1);
  border-bottom: 2px solid hsl(0, 0%, 50%);
}
#main_article code a:visited {
  color: inherit;
}
#main_article code a:hover:visited {
  background-color: hsla(0, 0%, 60%, .18);
}
/* Above color mixed with 180/255 60% lightness */
#main_article code a:active {
  color: #9D8282;
}
#main_article code a:hover:active {
  /* #9D8282 in rgba */
  background-color: rgba(157, 130, 130, .18);
}

#main_article code {
  padding: 2px 3px;
}
#main_article .codeblock code {
  padding: 0;
}
#main_article code, .codeblock {
  font-family: 'San Francisco Monospaced', 'Consolas', monospace;
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 13.5%);
  border-radius: 1px;
}
.codeblock {
  padding: 3px 8px;
  margin: .25em 0;
  overflow: auto;
}
.code_wrapper.copyable {
  display: flex;
}
.code_wrapper.copyable .codeblock {
  width: 100%;
}
.code_wrapper.copyable .copy_icon {
  position: relative;
  background-color: hsl(0, 0%, 17%);
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin: .25em 0;
  box-shadow: -1px 0 10px hsla(0, 0%, 12%, .2);
  color: inherit;
  border: none;
  overflow: hidden;
  font-size: 1.15em;
  font-family: 'Consolas', 'San Francisco Monospaced', sans-serif;
  transition: all .3s ease;
}
.code_wrapper.copyable .copy_icon:hover, .code_wrapper.copyable .copy_icon.active {
  padding: 0 15px;
  box-shadow: -1px 0 15px hsla(0, 0%, 10%, .25);
  background-color: hsl(0, 0%, 18%);
}
.code_wrapper.copyable .copy_icon .text {
  transition: all .18s ease;
}
.code_wrapper.copyable .copy_icon.active .text {
  transform: translateX(100%);
  opacity: 0;
}
.code_wrapper.copyable .copy_icon .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(16% 50%, 24% 43%, 24% 43%, 24% 43%, 16% 50%, 16% 50%);
  transition: all .18s ease;
  transform: translateX(-100%);
  opacity: 0;
}
.code_wrapper.copyable .copy_icon.active .checkbox {
  animation: .3s checkmarkIn ease;
  transform: none;
  opacity: 1;
  clip-path: polygon(85% 31%, 77% 23%, 41% 60%, 24% 43%, 16% 50%, 41% 76%);
}
@keyframes checkmarkIn {
  0%   { clip-path: polygon(16% 50%, 24% 43%, 24% 43%, 24% 43%, 16% 50%, 16% 50%); }
  30%  { clip-path: polygon(41% 76%, 41% 60%, 41% 60%, 24% 43%, 16% 50%, 41% 76%); }
  100% { clip-path: polygon(85% 31%, 77% 23%, 41% 60%, 24% 43%, 16% 50%, 41% 76%); }
}
/* PLEASE IMPROVE */
.code_wrapper.copyable .copy_icon .checkbox .mark {
  position: absolute;
  height: 4px;
  bottom: 32%;
  left: 45.5%;
  transform-origin: bottom left;
  background-color: hsl(0, 0%, 70%);
  border-radius: 1px;
  transition: all .3s ease;
}
.code_wrapper.copyable .copy_icon .checkbox .mark.lower {
  transform: rotate(-135deg);
  width: 19px;
}
.code_wrapper.copyable .copy_icon .checkbox .mark.upper {
  transform: rotate(-45deg) translateX(-4px);
  width: 35px;
}
#section_docs dt code {
  font-size: 1.1em;
  color: hsl(0, 0%, 78%);
  background-color: hsl(0, 0%, 18.5%);
  padding: 2px 9px;
  border-radius: 100px;
}
#section_docs dt code, .doc_list .info_item, #main_article code a, #main_article h4, .list_container .expand_button {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Fira Code', 'San Francisco Monospaced', 'Consolas', monospace;
}

#main_article h2:hover .icon_anchor, #main_article h3:hover .icon_anchor, #main_article h4:hover .icon_anchor {
  opacity: 1;
}
.icon_anchor {
  margin: 0 14px 0 -39px;
  padding: 0 2px;
  color: hsl(0, 0%, 60%);
  text-decoration: none;
  font-family: 'Consolas', 'San Francisco Monospaced', sans-serif;
  opacity: .25;
  transition: all .1s ease-in-out;
}
h4 .icon_anchor {
  margin: 0 0 0 10px;
}

#main_article h4 {
  font-size: 1.58em;
  margin: 1.2em 0;
  color: hsl(0, 0%, 65%);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.list_container .expand_button {
  position: absolute;
  left: -1.166em;
  height: .833em;
  width: .833em;
  border: none;
  background-color: hsl(0, 0%, 18%);
  color: hsl(0, 0%, 55%);
  font-size: 1em;
  font-family: 'Source Code Pro', 'Lucida Console', 'DejaVu Sans Mono', 'Century', 'Century Gothic', 'Consolas', 'San Francisco Monospaced', sans-serif;
  padding: 0;
  border-radius: 100px;
}
.list_container .expand_button .symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .55s ease;
}
.list_container .expand_button .symbol {
  position: absolute;
  transition: all .38s cubic-bezier(.35,.1,.35,1);
}
.list_container .expand_button .symbol.plus {
  visibility: hidden;
  transform: Scale(0);
}
.list_container .expand_button.active .symbols {
  transform: rotateZ(360deg);
}
.list_container .expand_button.active .symbol.minus {
  transform: Scale(0);
  visibility: hidden;
  animation: preventHidden .8s linear;
}
.list_container .expand_button.active .symbol.plus {
  transform: Scale(1);
  visibility: visible;
}
@keyframes preventHidden {
  from { visibility: visible; }
  to   { visibility: visible; }
}

.list_container .collapsible.collapsed {
  height: 0;
  display: none;
}

.version_switch {
  background-color: hsl(0, 0%, 13%);
  padding: 15px 30px;
  font-size: 1.3em;
  display: flex;
}
.version_switch .version_buttons {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.version_switch button {
  position: relative;
  background-color: unset;
  border: none;
  color: hsl(0, 0%, 65%);
  font-size: .9em;
  font-family: 'San Francisco Monospaced', 'Consolas', monospace;
  z-index: 0;
  padding: 6px 10px;
  transition: all .2s ease;
}
.version_switch button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: hsl(0, 0%, 80%);
  transition: all .2s ease;
}
.version_switch button:hover, .version_switch button.active {
  color: hsl(0, 0%, 16%);
}
.version_switch button:hover::before, .version_switch button.active::before {
  height: 100%;
}

.doc_list .list_item.version_list {
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  padding: .5em 0;
}
.version_list .version {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding: .25em 45px;
  transition: transform .29s ease;
  border-left: 5px solid hsl(0, 0%, 32%);
}
.version_list .version.newest {
  border-left: 5px solid #247B6E;
  background-color: #171C1C /* hsl 0 0 9 with 15/255 #247B6E */
}
.version_list .version:not(:nth-child(1)) {
  border-left: 5px solid #784452;
  background-color: #1C191A; /* hsl 0 0 9 with 15/255 #784452 */
}
.version_list .version:not(.active) {
  cursor: pointer;
}
.version_list .version .indicator {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 35px;
  writing-mode: sideways-rl;
  font-size: 1.22em;
  text-align: center;
  font-family: 'San Francisco Monospaced', 'Consolas', monospace;
}
.version_list .version .indicator {
  color: hsl(0, 0%, 50%);
}
.version_list .version.newest .indicator {
  color: #509A76; /* 469870 with 0.1 hsl 0 0 70 */
}
.version_list .version:not(:nth-child(1)) .indicator {
  color: #93525A; /* #904851 with 0.1 hsl 0 0 70 */
}
.version_list .version:not(:nth-child(1)) {
  transform: translateX(100%);
}

.doc_list {
  list-style-type: none;
  padding-left: 20px;
  margin: 1.3em 0;
}
.doc_list .list_item {
  margin: .75em 0;
  padding: .75em 0;
}
.doc_list dt {
  margin-bottom: 3px;
}
.doc_list .doc_item {
  margin-left: 25px;
}
.doc_list .info_item.state {
  color: #904851;
}
.doc_list .info_item {
  position: relative;
  margin-left: 70px;
  text-indent: -15px;
}
.doc_list .info_item::before, .doc_list .info_item::after {
  content: '';
  position: absolute;
  left: -32px;
}
.doc_list .info_item::before {
  border-left: 1.5px solid hsl(0, 0%, 55%);
  top: 0;
  bottom: 0;
}
.doc_list .info_item:nth-last-of-type(1)::before {
  top: 0;
  bottom: 50%;
}
.doc_list .info_item::after {
  border-top: 1.5px solid hsl(0, 0%, 55%);
  top: 50%;
  width: 13px;
}

.demo_block {
  display: flex;
  justify-content: center;
  height: 25px;
}
.demo_block .slider89 .slider {
  background-color: hsl(0, 0%, 18%);
}

.nodisplay {
  display: none;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
