<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'pages/templates/common-head.njk' %}
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/webgl/base.css">
  </head>
  <body>
    <div class="toolbar">
      <div class="inputs"></div>
      <div class="info_flag">
        <a href="/" class="mainref">Hallo89</a>
      </div>
    </div>

    <div class="container">
      <canvas width="800" height="800"></canvas>
    </div>

    <link rel="stylesheet" href="https://hallo89.github.io/Slider89/slider89.css">
    <script src="https://hallo89.github.io/Slider89/slider89.js"></script>
    <script src="/js/graphics/webGL2SupportCheck.js"></script>
    <script src="/js/graphics/GLBoiler.js"></script>
    <script src="/js/graphics/Matrices.js"></script>
    <script src="/js/graphics/Controls3D.js"></script>
    <script src="/js/graphics/webgl/base.js"></script>
    <script src="/js/graphics/webgl/matrices3d.js"></script>
  </body>
</html>
