/* Source Code Pro by Adobe @ https://github.com/adobe-fonts/source-code-pro/ */
@font-face {
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-display: swap;
  src:
    local('Source Code Pro'),
    local('SourceCodePro-Regular'),
    url('/font/SourceCodePro/SourceCodePro-Regular.otf.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-display: swap;
  src:
    local('Source Code Pro Bold'),
    local('SourceCodePro-Bold'),
    url('/font/SourceCodePro/SourceCodePro-Bold.otf.woff2') format('woff2');
}
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-display: swap;
  src:
    local('Source Code Pro Semibold'),
    local('SourceCodePro-Semibold'),
    url('/font/SourceCodePro/SourceCodePro-Semibold.otf.woff2') format('woff2');
}
