body {
  background-color: hsl(0, 0%, 10%);
  margin: 0;
  overflow: hidden;
}
canvas {
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Don't know if that works */
button::-moz-focus-inner {
  border: none;
}
.toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  background-color: hsl(0, 0%, 10%);
  padding: 0 12px 10px;
  box-sizing: border-box;
  transform: translateY(-100%);
  transition: all .2s ease;
  animation: 1.5s initialVisibility ease;
}
body.expanded .toolbar {
  transform: none;
}
@keyframes initialVisibility {
  0% { transform: none; }
  85% { transform: none; }
  100% { transform: translateY(-100%); }
}
.toolbar .inputs {
  display: flex;
  flex-wrap: wrap;
}
.toolbar .info_flag {
  font: 21px 'Century Gothic', 'Segoe UI', 'Nirmala UI', sans-serif;
  color: hsl(0, 0%, 34%);
  padding: 21.5px 0 11.5px 5px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.input_box {
  margin: 10px 8px 0;
}
.input_wrapper {
  display: flex;
  flex-direction: row;
}
.input {
  border: none;
  padding: 3px 5px 1px;
  background-color: hsl(0, 0%, 19%);
  color: hsl(0, 0%, 70%);
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  height: 25px;
  box-sizing: border-box;
}
.input:invalid {
  background-color: hsl(0, 37%, 25%);
  box-shadow: 0 0 0 1px hsl(0, 60%, 30%);
}
.input_header {
  color: hsl(0, 0%, 70%);
  font-family: 'Calibri', serif;
  font-size: 20px;
  display: block
}
.input_box.checker {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input_box.checker .checker {
  position: relative;
  cursor: pointer;
  width: 25px;
}
.input_box.checker .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 14px, 4px 10px, 4px 10px, 0px 14px, 9.5px 24px);
  transform: scale(0.85);
  transition: all .18s ease;
  opacity: .8;
}
.input_box.checker.active .checkmark {
  animation: .25s checkerIn ease;
  transform: none;
  opacity: 1;
  clip-path: polygon(26px 7px, 22px 3px, 4px 10px, 0px 14px, 10px 24px);
}
@keyframes checkerIn {
  0%   { clip-path: polygon(0 14px, 4px 10px, 4px 10px, 0px 14px, 9.5px 24px); }
  30%  { clip-path: polygon(9.5px 24px, 9.5px 16px, 4px 10px, 0px 14px, 9.5px 24px); }
  100% { clip-path: polygon(26px 7px, 22px 3px, 4px 10px, 0px 14px, 10px 24px); }
}
.input_box.checker .mark {
  position: absolute;
  height: 3px;
  background-color: hsl(0, 0%, 70%);
  border-radius: 2px;
  transition: all .3s ease;
}
.input_box.checker .mark.lower {
  transform: rotate(45deg);
  width: 11px;
  left: 1px;
  bottom: 7px;
}
.input_box.checker .mark.upper {
  transform: rotate(-45deg);
  width: 20px;
  left: 6px;
  bottom: 10.5px;
}
.input_box.button .input {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.input_box.button.ref .input {
  text-decoration: none;
}
.input.number {
  -moz-appearance: textfield;
  appearance: textfield;
}
input.number::-webkit-inner-spin-button,
input.number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number_wrapper {
  position: relative;
}
.crement {
  position: absolute;
  right: 0px;
  height: 50%;
  width: 20px;
  font-size: .6em;
  color: hsl(0, 0%, 63%);
  background-color: hsl(0, 0%, 27%);
  padding: 0;
}
.crement_buttons.small .crement {
  width: 16px;
}
.crement.plus {
  top: 0;
}
.crement.minus {
  bottom: 0;
}

.alert_wrapper {
  display: none;
  position: absolute;
  font-family: 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', 'San Francisco', 'Roboto', 'Fira Sans', Arial, sans-serif;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.alert_wrapper.active {
  display: flex;
}
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(15vw + 375px);
  background-color: hsl(0, 0%, 18%);
  color: hsl(0, 0%, 75%);
  padding: calc(1.5vh + 10px) calc(1.9vw + 5px);
  border-radius: 3px;
  border: 10px solid hsl(0, 0%, 15%);
  box-shadow: 1px 1px 18px hsla(0, 0%, 5%, 0.4);
}
.alert .text {
  text-align: center;
}
.alert .caption {
  margin: 0 0 calc(.85vh + 7px);
  padding: 0 0 calc(.85vh + 7px);
  width: 100%;
  border-bottom: calc(.25vh + 6px) solid hsl(0, 0%, 23%);
  color: hsl(0, 0%, 55%);
  font-size: calc(0.22vw + 20px);
  font-weight: bold;
  letter-spacing: 1px;
}
.alert .header {
  margin: 0;
  font-size: calc(0.21vw + 21px);
  color: hsl(0, 0%, 80%);
  font-weight: bold;
}
.alert .info {
  font-size: calc(0.2vw + 13.75px);
  line-height: 1.35;
  margin: calc(1.8vh + 6px) 0 0;
}
.alert .buttons {
  margin-top: calc(2.25vh + 6px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert .buttons button {
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 75%);
  font-size: 20px;
  margin: 5px 20px;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
