body {
  font-size: 19px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.375em, 1fr));
  grid-gap: 1.75em;
  justify-items: center;
  align-items: center;

  padding: calc(1.4vw + 1vh + 20px) 1.08em;
  min-height: 100vh;
  box-sizing: border-box;
}
