body {
  background-color: hsl(0, 0%, 10%);
  margin: 0;
  overflow: hidden;
}
body.expanded .inputs {
  transform: none;
}
canvas {
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
  border: none;
}
/* Don't know if that works */
button::-moz-focus-inner {
  border: none;
}
.inputs {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: hsl(0, 0%, 10%);
  padding: 10px 12px;
  box-sizing: border-box;
  z-index: 2;
  transform: translateY(-100%);
  transition: all .2s ease;
  animation: 1.5s initialVisibility ease;
}
@keyframes initialVisibility {
  0% { transform: none; }
  85% { transform: none; }
  100% { transform: translateY(-100%); }
}
.mainref {
  position: absolute;
  right: 6px;
  font: 21px 'Century Gothic', 'Segoe UI', 'Nirmala UI', sans-serif;
  color: hsl(0, 0%, 30%);
  text-decoration: none;
  line-height: 0;
  padding: 24px 5px;
  z-index: -1; /* Temporary solution until grdidgridigigrid */
}
.input_box {
  margin: 0 8px;
}
.input_wrapper {
  display: flex;
  flex-direction: row;
}
.input {
  border: none;
  padding: 3px 5px 1px;
  background-color: hsl(0, 0%, 19%);
  color: hsl(0, 0%, 70%);
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  height: 25px;
  box-sizing: border-box;
}
.input:invalid {
  background-color: hsl(0, 37%, 25%);
  box-shadow: 0 0 0 1px hsl(0, 60%, 30%);
}
.input_header {
  color: hsl(0, 0%, 70%);
  font-family: 'Calibri', serif;
  font-size: 20px;
  display: block
}
.input_box.checker {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input_box.checker .checker {
  position: relative;
  cursor: pointer;
  width: 25px;
}
.input_box.checker .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 14px, 4px 10px, 4px 10px, 0px 14px, 9.5px 24px);
  transform: scale(0.85);
  transition: all .18s ease;
  opacity: .8;
}
.input_box.checker.active .checkmark {
  animation: .25s checkerIn ease;
  transform: none;
  opacity: 1;
  clip-path: polygon(26px 7px, 22px 3px, 4px 10px, 0px 14px, 10px 24px);
}
@keyframes checkerIn {
  0%   { clip-path: polygon(0 14px, 4px 10px, 4px 10px, 0px 14px, 9.5px 24px); }
  30%  { clip-path: polygon(9.5px 24px, 9.5px 16px, 4px 10px, 0px 14px, 9.5px 24px); }
  100% { clip-path: polygon(26px 7px, 22px 3px, 4px 10px, 0px 14px, 10px 24px); }
}
.input_box.checker .mark {
  position: absolute;
  height: 3px;
  background-color: hsl(0, 0%, 70%);
  border-radius: 2px;
  transition: all .3s ease;
}
.input_box.checker .mark.lower {
  transform: rotate(45deg);
  width: 11px;
  left: 1px;
  bottom: 7px;
}
.input_box.checker .mark.upper {
  transform: rotate(-45deg);
  width: 20px;
  left: 6px;
  bottom: 10.5px;
}
.input_box.slider .slider {
  position: relative;
  padding: 0;
}
.input_box.slider .slider_knob {
  position: absolute;
  cursor: pointer;
  left: 0;
  height: 25px;
  width: 14px;
  background-color: hsl(0, 0%, 27%);
  z-index: 1;
}
.input_box.slider .slider_tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1px 3px 0;
  color: hsl(0, 0%, 45%);
  height: 100%;
  cursor: default;
  opacity: 1;
  transition: .2s ease-out;
}
.input_box.slider .slider_tooltip.left {
  left: 0;
}
.input_box.slider .slider_tooltip.right {
  right: 0;
}
.input_box.slider .slider_tooltip.hidden {
  opacity: 0;
}
.input.number {
  -moz-appearance: textfield;
  appearance: textfield;
}
input.number::-webkit-inner-spin-button,
input.number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number_wrapper {
  position: relative;
}
.crement {
  position: absolute;
  right: 0px;
  height: 50%;
  width: 20px;
  font-size: .6em;
  color: hsl(0, 0%, 63%);
  background-color: hsl(0, 0%, 27%);
  padding: 0;
}
.crement_buttons.small .crement {
  width: 16px;
}
.crement.plus {
  top: 0;
}
.crement.minus {
  bottom: 0;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
