<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog | Hallo89</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/blog.css">
  </head>
  <body>

    <div id="main-content">
      {% include 'templates/navbar.njk' %}

      <main>
        <a href="/{{ pagePath }}/argon-parser" class="box glb-box hyperbox">
          <span class="corneranimation"></span>
          <div class="box-header">
            <h2 class="text">About my newest project, Argon-parser</h2>
            <div class="date">2020, Jan 01</div>
          </div>
          <p class="description box-text">
            Argon-parser makes it easy to write databased HTML snippets by parsing a custom, sophisticated syntax into full HTML with as little repetition as possible.
          </p>
        </a>
      </main>
    </div>

    {% include 'templates/footer.njk' %}

    <script src="/js/global.js"></script>
  </body>
</html>
