<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="theme-color" content="#17469E">
    <meta property="og:title" content="Hallo89">
    <meta property="og:description" content="Hallo89.">
    <meta property="og:url" content="https://hallo89.net/">
    <meta property="og:image" content="Avatar.png">
    <title>Hallo89</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="main.css">
    <script src="global.js"></script>
    <script src="global-themes.js"></script>
    <script>
      const randomSubheader = [
        "An ode to Nesewebel",
        "A tale of Sparxdev",
        "Rectangulous precipitation",
        "Numerical apparatus",
        "An acceptable website",
        "Geometrical calculation",
        "Graphical utilization",
        "Resourceful bundling",
        "Component-relative outlaying",
        "Anumismatic fragment painting"
      ];
    </script>
  </head>
  <body>
    {% import 'templates/cookie_banner.njk' as cookie -%}

    {{ cookie.banner(true) }}

    <header id="head_block">
      <h1 data-heading="Hallo89"><span class="main_text">Hallo89</span></h1>
      <p class="sub_header">
        <script>
          document.write(randomSubheader[Math.floor(randomSubheader.length*Math.random())]);
        </script>
      </p>
      <aside id="modes">
        <button type="button" class="mode_gear fa fa-cog" onclick="toggleDropdown()"></button>
        <div class="dropdown_box">
          <div class="dropdown_header">modes</div>
          <div class="dropdown_text">
            <span class="mode_switch switch_daynight" onclick="toggleMode()">Light Theme</span>
            <span class="mode_switch switch_nesewebel" onclick="toggleModeNesewebel()">Nesewebel Theme</span>
          </div>
        </div>
      </aside>
    </header>

    {% import 'templates/glb_box.njk' as box %}
    <nav id="box_nav">
      {% call box.image_box('Dandelion With Mods', 'https://minecraft.curseforge.com/projects/dandelion-with-mods', 'dwm') %}
        A minecraft resource pack, forked from the original resource pack 'Dandelion', featuring mod support, many improved and new vanilla items & models and 1.13. <br>
        Although not worked on extensively anymore, I consider it one of my main projects
      {% endcall %}

      {% call box.box('Tools', sameref = true) %}
        A variety of useful tools, currently featuring a random number generator and an extensive minecraft model creator. <br>
        Along with Dandelion With Mods and this website in general, it is one of my main projects
      {% endcall %}

      {% call box.box('Slider89', sameref = true) %}
        Slider89 is a framework for easily creating and manipulating fully customizable CSS sliders for your website, featuring functions and practices for every purpose
      {% endcall %}

      {{ box.links_box('WebGL Experiments', 'A WebGL 2 learning log', images = true, links = [
        ['Triangles', 'triangles', 'webgl/triangles'],
        ['Matrices & 3D', 'matrix_3d', 'webgl/matrices3d']
      ]) }}

      {{ box.links_box('Other stuff', links = [
        ['Useful thing', 'sponge'],
        ['Empty thing', 'tutorials']
      ]) }}
    </nav>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css">
    <script>
      const isGecko = (/Gecko\/\d+/).test(navigator.userAgent);
      const header = document.getElementById('head_block');
      const h1 = header.querySelector('h1');
      const h1Text = h1.querySelector('span');

      (function() {
        if (isGecko) {
          h1.classList.add('nohover');
          setTimeout(function() {
            window.addEventListener('mousemove', removeHoverLock);
          }, 900);
        } else {
          h1.addEventListener('mouseenter', h1HoverIn);
          h1.addEventListener('mouseleave', h1HoverOut);
        }
      })();
      function removeHoverLock(e) {
        h1.classList.remove('nohover');
        h1.addEventListener('mouseenter', h1HoverIn);
        h1.addEventListener('mouseleave', h1HoverOut);
        window.removeEventListener('mousemove', removeHoverLock);
        if (e.target == h1 || e.target == h1Text) h1HoverIn();
      }

      var nodeRanges = [];
      const h1Node2 = document.createElement('span');
      h1Node2.classList.add('cut_after');
      h1Node2.innerHTML = h1Text.innerHTML;

      function h1HoverIn() {
        h1.insertBefore(h1Node2, h1Text);
        if (isGecko) dupeHeadingSelection();
      }
      function h1HoverOut() {
        h1.removeChild(h1Node2);
        if (isGecko) normalizeSelection();
      }

      function dupeHeadingSelection() {
        var selection = document.getSelection();
        if (selection.anchorNode != null && selection.anchorOffset != selection.focusOffset) {
          const count = selection.rangeCount;
          for (var i = 0; i < count; i++) {
            var thisRange = selection.getRangeAt(i);
            if (thisRange && thisRange.startContainer.parentNode == h1Text) {
              var start = thisRange.startOffset;
              var end = thisRange.endOffset;
              var range = document.createRange();
              range.selectNode(h1Node2);
              range.setStart(h1Node2.firstChild, start <= end ? start : end);
              range.setEnd(h1Node2.firstChild, start <= end ? end : start);
              nodeRanges.push(range);
            }
          }
          if (nodeRanges) for (var i = 0; i < nodeRanges.length; i++) selection.addRange(nodeRanges[i]);
        }
      }
      function normalizeSelection() {
        var selection = document.getSelection();
        if (nodeRanges) {
          for (var i = 0; i < nodeRanges.length; i++) {
            try {
              selection.removeRange(nodeRanges[i]);
              nodeRanges[i].detach();
            } catch (e) {
              nodeRanges.splice(i, 1);
            }
          }
          nodeRanges = [];
        }
      }

      function toggleModeNesewebel() {
        document.documentElement.classList.toggle('nesewebel-mode');
      }
    </script>
  </body>
</html>
