<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tools | Hallo89</title>
    <link rel="stylesheet" href="/style/global.css">
    <style>
      body {
        background: linear-gradient(to bottom right, #1F6C6B, #664D6E);
      }
    </style>
    <script src="/js/global.js"></script>
  </head>
  <body class="info_mode">
    <div id="gbl-box-menu">
      {% include 'templates/box-list.njk' %}
    </div>

    {% include "templates/footer.njk" %}
  </body>
</html>
