<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tools | Hallo89</title>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/tools/menu.css">
    <script src="/js/global.js"></script>
  </head>
  <body class="info_mode">
    {% import 'templates/glb_box.njk' as box %}
    <div id="containers">

      {% for child, childVal in links.children %}
        {% call box.box(child, '/tools' + childVal.link) %}
          {{ childVal.description }}
        {% endcall %}
      {% endfor %}

    </div>

    {% include "templates/footer.njk" %}
  </body>
</html>
