body {
  background: linear-gradient(to bottom right, #7A5B34, #65373D);     /*#B28142, #904851 */
}

.box {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

#output {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@supports (display: grid) {
  #output {
    position: static;
  }
}
#output span {
  position: relative;
  padding: 17px 9px;
}
#output span::before {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  border-bottom: 2px solid rgba(229, 255, 164, .1);
  margin: 8px 6px;
}
