body {
  margin: 0;
  font-size: calc(0.05vw + 0.025vh + 16.82px);
  font-family: 'Fira Sans', 'Roboto', 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', Arial, 'San Francisco', sans-serif;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
var {
  font-style: italic;
}
._visuallyhidden {
  height: 1px;
  width: 1px;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}
#navbar h1 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
#navbar .text {
  margin-right: 0.6em;
}
#navbar .text .name {
  clip-path: inset(0 0 0 0);
}
#navbar .text .name,
#navbar .text .arrow,
#navbar .text h1 {
  transition: transform 0.25s cubic-bezier(0.5, 0.1, 0.25, 1.16), clip-path 0.25s cubic-bezier(0.5, 0.1, 0.25, 1.16), visibility 0.25s cubic-bezier(0.5, 0.1, 0.25, 1.16);
}
#navbar #modes {
  margin: 0 0.2em 0 0.6em;
}
#navbar #id_nav {
  flex-grow: 1;
  font-size: 0.74em;
  font-family: 'San Francisco Monospaced', 'Consolas', 'Source Code Pro', monospace;
}
#navbar #id_nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
#navbar #id_nav li {
  margin: 0 0.5em;
}
#navbar #id_nav a {
  color: hsl(0, 0%, 72%);
  border-bottom: 2px solid hsl(0, 0%, 57%);
  white-space: nowrap;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
#navbar #id_nav a:hover {
  color: hsl(0, 0%, 77%);
  border-color: hsl(0, 0%, 65%);
}
main {
  max-width: calc(15vw + 2.5vh + 685px);
  margin: calc(2vh + 0.75vw + 14px) auto 200px;
  padding: 0 0.5em;
  color: hsl(0, 0%, 78%);
  line-height: 1.58;
}
main section {
  margin: 2em auto;
  padding: 0 1.8em;
}
main h2 {
  color: hsl(0, 0%, 82%);
  font-size: 2.2em;
  font-family: 'Fira Sans', 'Roboto', 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', Arial, 'San Francisco', sans-serif;
  margin: 0;
}
main h3 {
  color: hsl(0, 0%, 80%);
  font-family: 'Segoe UI', 'Nirmala UI', 'Gadugi', 'Leelawadee UI', 'San Francisco', 'Roboto', 'Fira Sans', Arial, sans-serif;
  margin: 0.6em 0;
}
main h4 {
  font-size: 1.58em;
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Fira Mono', 'Fira Code', 'San Francisco Monospaced', 'Consolas', monospace;
  margin: 1.2em 0;
  color: hsl(0, 0%, 78%);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
main h2,
main h3,
main h4 {
  margin-left: -1.12em;
  display: flex;
  align-items: center;
}
main h2:hover .icon_anchor,
main h3:hover .icon_anchor,
main h4:hover .icon_anchor {
  opacity: 1;
}
main .icon_anchor {
  margin: 0 0.435em 0 0;
  padding: 0 2px;
  font-family: 'Consolas', 'San Francisco Monospaced', 'Arial', 'Source Code Pro', monospace;
  opacity: 0.25;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main hr {
  border: none;
  border-top: 2px solid hsl(0, 0%, 23%);
  margin: 0.65em 0;
}
main h3,
main hr {
  font-size: 1.82em;
}
main code a,
main p a,
main dd a,
main .version_notice a {
  border-bottom: 1px solid;
  padding: 1px;
}
main code a:active,
main p a:active,
main dd a:active,
main .version_notice a:active {
  transition: background-color 0.05s ease-in-out;
}
main p a {
  color: #1398A9;
}
main p a:hover {
  padding: 1px 1px 0;
  border-bottom: 2px solid;
}
main p a:visited {
  color: #469870;
  border-color: #469870;
}
main p a:active {
  background-color: rgba(19, 152, 169, 0.18);
}
main p a:active:visited {
  background-color: rgba(70, 152, 112, 0.18);
}
main dd a:hover,
main .version_notice a:hover {
  color: hsl(0, 0%, 86%);
  border-color: hsl(0, 0%, 86%);
}
main dd a:active,
main .version_notice a:active {
  background-color: hsla(0, 0%, 78%, 0.12);
  color: hsl(0, 0%, 82%);
  border-color: hsl(0, 0%, 82%);
}
main code a {
  color: hsl(0, 0%, 82%);
}
main code a:hover {
  color: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 90%);
}
main code a:active {
  background-color: inherit;
  color: hsl(0, 0%, 86%);
  border-color: hsl(0, 0%, 86%);
}
main p code a {
  color: hsl(0, 0%, 82%);
}
main p code a:hover {
  color: hsl(0, 0%, 90%) !important;
  padding: 1px;
  border-bottom: 1px solid;
}
main p code a:visited {
  border-color: inherit;
  color: inherit;
}
main p code a:active {
  background-color: inherit;
  color: hsl(0, 0%, 86%) !important;
  border-color: hsl(0, 0%, 86%) !important;
}
main p code a:active:visited {
  background-color: inherit;
}
.list_section .collapsible.collapsed {
  height: 0;
  display: none;
}
.list_section .expand_button {
  flex-shrink: 0;
  margin-left: 0.43em;
  height: 0.833em;
  width: 0.833em;
  border: none;
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 20%);
  font-size: 1em;
  font-family: 'Source Code Pro', 'Lucida Console', 'DejaVu Sans Mono', 'Century', 'Century Gothic', 'Consolas', 'San Francisco Monospaced', sans-serif;
  padding: 0;
  border-radius: 100px;
}
.list_section .expand_button .symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.55s ease;
}
.list_section .expand_button .symbol {
  position: absolute;
  transition: all 0.38s cubic-bezier(0.35, 0.1, 0.35, 1);
}
.list_section .expand_button .symbol.plus {
  visibility: hidden;
  transform: Scale(0);
}
.list_section .expand_button.active .symbols {
  transform: rotateZ(360deg);
}
.list_section .expand_button.active .symbol.minus {
  transform: Scale(0);
  visibility: hidden;
  animation: preventHidden 0.8s linear;
}
@keyframes preventHidden {
  from {
    visibility: visible;
  }
  to {
    visibility: visible;
  }
}
.list_section .expand_button.active .symbol.plus {
  transform: Scale(1);
  visibility: visible;
}
main code {
  padding: 0.125em 0.25em;
  border-radius: 2px;
}
main .codeblock code {
  padding: 0;
}
main code,
.codeblock {
  color: hsl(0, 0%, 82%);
  background-color: hsl(0, 0%, 14.5%);
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Fira Mono', 'Fira Code', 'San Francisco Monospaced', 'Consolas', monospace;
}
main .version_notice code {
  background-color: transparent;
  padding: 0;
}
.codeblock {
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
  overflow: auto;
}
.code_copy_wrapper {
  display: flex;
}
.code_copy_wrapper .codeblock {
  width: 100%;
}
.code_copy_wrapper .copy_btn {
  position: relative;
  background-color: hsl(0, 0%, 18.5%);
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin: 0.25em 0;
  color: inherit;
  border: none;
  overflow: hidden;
  font-size: 1.15em;
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Fira Mono', 'Fira Code', 'San Francisco Monospaced', 'Consolas', monospace;
  transition: all 0.3s ease;
}
.code_copy_wrapper .copy_btn:hover,
.code_copy_wrapper .copy_btn.active {
  padding: 0 15px;
  background-color: hsl(0, 0%, 19.5%);
}
.code_copy_wrapper .copy_btn .text {
  transition: all 0.18s ease;
}
.code_copy_wrapper .copy_btn.active .text {
  transform: translateX(100%);
  opacity: 0;
}
.code_copy_wrapper .copy_btn .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(16% 50%, 24% 43%, 24% 43%, 24% 43%, 16% 50%, 16% 50%);
  transition: all 0.18s ease;
  transform: translateX(-100%);
  opacity: 0;
  /* PLEASE IMPROVE */
}
.code_copy_wrapper .copy_btn .checkbox .mark {
  position: absolute;
  height: 4px;
  bottom: 32%;
  left: 45.5%;
  transform-origin: bottom left;
  background-color: hsl(0, 0%, 84%);
  border-radius: 1px;
  transition: all 0.3s ease;
}
.code_copy_wrapper .copy_btn .checkbox .mark.lower {
  transform: rotate(-135deg);
  width: 19px;
}
.code_copy_wrapper .copy_btn .checkbox .mark.upper {
  transform: rotate(-45deg) translateX(-4px);
  width: 35px;
}
.code_copy_wrapper .copy_btn.active .checkbox {
  animation: 0.3s checkmarkIn ease;
  transform: none;
  opacity: 1;
  clip-path: polygon(85% 31%, 77% 23%, 41% 60%, 24% 43%, 16% 50%, 41% 76%);
}
@keyframes checkmarkIn {
  0% {
    clip-path: polygon(16% 50%, 24% 43%, 24% 43%, 24% 43%, 16% 50%, 16% 50%);
  }
  30% {
    clip-path: polygon(41% 76%, 41% 60%, 41% 60%, 24% 43%, 16% 50%, 41% 76%);
  }
  100% {
    clip-path: polygon(85% 31%, 77% 23%, 41% 60%, 24% 43%, 16% 50%, 41% 76%);
  }
}
.version_select {
  background-color: hsl(0, 0%, 14%);
  padding: 0.55em 1.2em;
  font-size: 1.3em;
  display: flex;
}
.version_select .version_buttons {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.version_select button {
  position: relative;
  background-color: unset;
  border: none;
  color: hsl(0, 0%, 78%);
  font-size: 0.9em;
  font-family: 'San Francisco Monospaced', 'Consolas', 'Source Code Pro', monospace;
  z-index: 0;
  padding: 6px 10px;
  transition: color 0.2s ease;
}
.version_select button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: hsl(0, 0%, 91%);
  transition: height 0.2s ease;
}
.version_select button:hover,
.version_select button.active {
  color: hsl(0, 0%, 9%);
}
.version_select button:hover::before,
.version_select button.active::before {
  height: 100%;
}
.list_item.version_item .version_notice {
  margin: 0 0 0 25px;
  padding: 0 0.85em;
  font-size: 0;
  font-weight: bold;
  font-family: 'San Francisco Monospaced', 'Consolas', 'Source Code Pro', monospace;
  color: hsl(0, 0%, 78%);
  background-color: rgba(152, 56, 56, 0.35);
  border-radius: 3px;
  opacity: 0;
  clip-path: inset(0 0 100% 0);
  visibility: hidden;
  transition: all 0.2s ease, font-size 0.25s ease, clip-path 0.15s ease-out;
}
.list_item.version_item .version_notice.active {
  font-size: 1.05em;
  margin: 0.45em 0 0.45em 25px;
  padding: 0.3em 0.85em;
  opacity: 1;
  clip-path: inset(0 0 0 0);
  visibility: visible;
  transition: all 0.2s ease, clip-path 0.15s ease-in;
}
.list_item.version_item .indicator {
  display: flex;
  justify-content: space-around;
  font-size: 1.075em;
  margin: 0.45em 0 0.45em 25px;
  box-sizing: border-box;
}
.list_item.version_item .indicator .indicator_item {
  border-bottom: 4px solid hsl(0, 0%, 20.5%);
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list_item.version_item .indicator .indicator_item.new {
  border-color: #214031;
}
.list_item.version_item .indicator .indicator_item.new > strong::before {
  background-color: #214031;
}
.list_item.version_item .indicator .indicator_item.current {
  border-color: #1f4252;
}
.list_item.version_item .indicator .indicator_item.current > strong::before {
  background-color: #1f4252;
}
.list_item.version_item .indicator .indicator_item.incompatible {
  border-color: #983838;
}
.list_item.version_item .indicator .indicator_item.incompatible > strong::before {
  background-color: #983838;
}
.list_item.version_item .indicator .indicator_item.active > strong::before {
  height: 100%;
  opacity: 0.35;
  transform: scale(0.98);
}
.list_item.version_item .indicator .indicator_item:active > strong::before {
  transform: scale(0.99);
}
.list_item.version_item .indicator .indicator_item > strong {
  display: block;
  padding: 0.2em 1em;
  position: relative;
}
.list_item.version_item .indicator .indicator_item > strong::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: hsl(0, 0%, 20.5%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  opacity: 0.5;
  z-index: -1;
  transform-origin: bottom;
  transition: all 0.1s ease, transform 0.15s ease;
}
.list_item.version_list .indicator .indicator_item {
  cursor: pointer;
}
.list_item.version_list .indicator .indicator_item:hover > strong::before {
  height: 100%;
}
.list_item.version_list .indicator .indicator_item:active > strong::before {
  transform: scale(0.98);
}
.list_item.version_list .indicator .indicator_item.active > strong::before {
  transform: scale(0.96);
}
.list_item.version_list .indicator .indicator_item.active:hover > strong::before {
  opacity: 0.45;
}
.list_item.version_list dt.version_names {
  position: relative;
}
.list_item.version_list dt.version_names a {
  transition: all 0.15s ease-in-out;
}
.list_item.version_list dt.version_names a.name_version {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.15s 0.025s ease-in-out;
}
.list_item.version_list dt.version_names a.name_version.active {
  opacity: 1;
}
.list_item.version_list dt.version_names a.inactive {
  transition: all 0.15s 0.025s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.list_item.version_list .versions {
  position: relative;
  overflow: hidden;
}
.list_item.version_list .versions .prop_version {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.65, 0.1, 0.1, 1), visibility 0.3s cubic-bezier(0.65, 0.1, 0.1, 1), height 0.125s cubic-bezier(0.45, 0.05, 0.3, 0.9), opacity 0.25s ease-in-out;
}
.list_item.version_list .versions .prop_version:not(.active) {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.list_item.version_list .versions .prop_version:not(.active).left {
  transform: translateX(-40%);
}
.list_item.version_list .versions .prop_version:not(.active).right {
  transform: translateX(40%);
}
.doc_list {
  list-style-type: none;
  padding-left: calc(1vw + 0.15vh - 0.04em);
  margin: 1.3em 0;
}
.doc_list .list_item {
  margin: calc(0.15vw + 0.65vh + 0.252em) 0;
  padding: calc(0.15vw + 0.65vh + 0.252em) 0;
}
.doc_list dt {
  margin-bottom: 0.28em;
}
.doc_list dt a {
  display: inline-block;
}
.doc_list dt code {
  font-size: 1.1em;
  color: hsl(0, 0%, 86%);
  background-color: hsl(0, 0%, 19.5%);
  font-weight: 600;
  padding: 0.125em 0.525em;
  border-radius: 100px;
}
.doc_list .doc_item {
  margin-left: calc(.5vw + .15vh + .98em);
}
.doc_list .info_item {
  position: relative;
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Fira Mono', 'Fira Code', 'San Francisco Monospaced', 'Consolas', monospace;
  margin-left: calc(35px + 20px + .5vw + .15vh + .98em);
  text-indent: -20px;
  padding: 3px 0;
}
.doc_list .info_item.state {
  color: #904851;
}
.doc_list .info_item .definitions {
  margin-left: 15px;
}
.doc_list .info_item .definitions .definition {
  padding: 2px 0;
}
.doc_list .info_item::before,
.doc_list .info_item::after {
  position: absolute;
  left: -40px;
}
.doc_list .info_item::before {
  content: '';
  border-left: 2px solid hsl(0, 0%, 36%);
  top: 0;
  bottom: 0;
}
.doc_list .info_item:not(.special_item)::after {
  content: '';
  border-top: 2px solid hsl(0, 0%, 36%);
  top: 1em;
  width: 14px;
}
.doc_list .info_item:nth-last-of-type(1):not(.special_item)::before {
  top: 0;
  height: 1em;
}
.demo_block {
  display: flex;
  justify-content: center;
  height: 25px;
}
.demo_block .slider89 .slider {
  background-color: hsl(0, 0%, 18%);
}
.nodisplay {
  display: none;
}
@media (max-width: 390px) {
  #navbar .text .name {
    transform: translateX(-100%);
    visibility: hidden;
    clip-path: inset(0 0 0 100%);
  }
  #navbar .text .arrow,
  #navbar .text h1 {
    transform: translateX(-3.75em);
  }
}
@media (max-width: 460px) {
  #navbar {
    align-items: stretch;
  }
}
@media (max-width: 630px) {
  .version_select {
    flex-direction: column;
    text-align: center;
  }
  .version_select .version_buttons {
    margin-top: 0.4em;
    justify-content: space-around;
  }
}
@media (max-width: 960px) {
  body {
    font-size: calc(0.3vw + 0.1vh + 13.85px);
  }
  #navbar {
    flex-direction: column;
    padding: 0;
  }
  #navbar .text {
    margin: 0.4em;
  }
  #navbar #modes {
    position: absolute;
    top: 0.6em;
    right: 0.4em;
  }
  #navbar #id_nav {
    width: 100%;
    padding: 0.8em 0;
    background-color: hsl(0, 0%, 13%);
  }
  main h3,
  main h4 {
    margin-left: 0;
  }
  main h3 .icon_anchor,
  main h4 .icon_anchor {
    order: 1;
    margin: 0 0 0 0.435em;
  }
  main section {
    margin: calc(3vw + 0.5vh + 0.15em) 0 2em;
    padding: 0 calc(4.5vw + 0.5vh - 0.864em);
  }
}
@media (max-width: 1080px) {
  main h2 {
    margin-left: 0;
  }
  main h2 .icon_anchor {
    order: 1;
    margin: 0 0 0 0.435em;
  }
}
@media (max-width: 1920px) {
  main {
    max-width: 55.5em;
  }
}
