body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 22px;
  background: linear-gradient(to bottom right, #1F6C6B, #664D6E); /* #1D5857, #534059 */ /* #1C5150, #4D3C52 */
}

/* The absolute legend, being the wrapper of everything (literally everything)*/
#containers {
  /* No-grid fallback */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  display: grid;
  margin: 20px 0;
  justify-items: center;
  height: auto;
  min-height: calc(100vh - 40px);
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  align-items: center;
}

/* The tools being repesentated by small clickable boxes. Self-explanatory */
.box {
  width: 465px;
  height: 520px;
  box-shadow: 2px 4px 18px hsla(0, 0%, 5%, 0.3);
}
